# Testing Deferred Revenue in Python
Will this be easier for everyone to use than Matlab?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Step 1: Processing Base Billings Data

In [9]:
df = pd.read_excel('../data/old/base_billings.xlsx', sheet_name='bill_DC')

In [10]:
df.sample(10)

,Document Currency,Enterprise Bu,Frequency,Invoicing Fiscal Year-Period Desc,Product Configtype ID,Revenue Recognition Category New,Rule For Bill Date,Sales Type,Subscription Term,Completed Sales Doc Currency
26244,USD,Document Cloud,NaN,2017-10,1Y,NaN,NaN,DEFERRED,12,0.00
2532,AUD,Experience Cloud,ONGO,2018-02,1Y,D,Y3,DEFERRED,12,14775.00
25612,USD,Document Cloud,NaN,2015-09,NaN,D,Y3,DEFERRED,1,563932.77
16735,GBP,Print & Publishing,NaN,2016-08,IDRT,NaN,NaN,RECOGNIZED,0,2937.00
290,AUD,Creative,NaN,2016-09,1Y,D,YA,DEFERRED,12,3907773.68
28191,USD,Experience Cloud,1TME,2016-12,1Y,A,NaN,DEFERRED,0,10456022.76
13167,EUR,Print & Publishing,NaN,2018-12,1Y,A,NaN,DEFERRED,0,733372.58
12039,EUR,Experience Cloud,1TME,2018-12,NaN,NaN,NaN,RECOGNIZED,0,669296.62
23248,SEK,Experience Cloud,1TME,2017-04,OCONS,NaN,NaN,PRO-SVC-INV,0,2453687.04
18806,JPY,Document Cloud,NaN,2018-02,1Y,D,NaN,DEFERRED,12,15280696.00

## Changing the column names early since they are inconsistent across other reports

In [11]:
df.columns

Index(['Document Currency', 'Enterprise Bu', 'Frequency',
       'Invoicing Fiscal Year-Period Desc', 'Product Configtype ID',
       'Revenue Recognition Category New', 'Rule For Bill Date', 'Sales Type',
       'Subscription Term', 'Completed Sales Doc Currency'],
      dtype='object')

In [12]:
df.rename(index = str, columns = {'Document Currency': 'curr',
                                 'Enterprise Bu': 'BU',
                                 'Invoicing Fiscal Year-Period Desc': 'period',
                                 'Product Configtype ID': 'config',
                                 'Rule For Bill Date': 'rebill_rule',
                                 'Completed Sales Doc Currency': 'amount'}, inplace=True)

In [13]:
df.columns

Index(['curr', 'BU', 'Frequency', 'period', 'config',
       'Revenue Recognition Category New', 'rebill_rule', 'Sales Type',
       'Subscription Term', 'amount'],
      dtype='object')

## Filter that removes any currency that has  < 10 transactions.

In [18]:
# creates a list of the currencies and the number of transactions for each currency
vc = df['curr'].value_counts()

In [15]:
# Create variable that is true if the number of transaction is greater than 10, false otherwise
keep_these = vc.values > 10
# filtering only currencies that were greater than 10
keep_curr = vc[keep_these]
a = keep_curr.index
# filtering the dataframe to remove any of teh currencies not in our list
df = df[df['curr'].isin(a)]

## Just keeping track of the currencies we removed in our model_dict data structure

In [16]:
remove_these = vc.values <= 10
model_dict = {'curr_removed': list(vc[remove_these].index)}
model_dict

{'curr_removed': ['CLP', 'COP', 'ARS', 'PEN', 'MXP', 'BMD', 'INR']}

# Removing any of the values that are zero

In [21]:
print('This is the length of the dataframe before removing zeros: ', len(df))
df = df[df['amount']!=0]
print('This is the length of the dataframe after removing zeros: ', len(df))

This is the length of the dataframe before removing zeros:  31418
This is the length of the dataframe after removing zeros:  28896

In [22]:
df.sample(10)

,curr,BU,Frequency,period,config,Revenue Recognition Category New,rebill_rule,Sales Type,Subscription Term,amount
18184,JPY,Creative,NaN,2018-09,1Y,D,NaN,DEFERRED,0,54289500.00
26730,USD,Document Cloud,NaN,2019-03,NaN,D,Y3,DEFERRED,1,1050149.34
20213,JPY,Print & Publishing,NaN,2015-09,1Y,A,NaN,DEFERRED,12,105885.00
10534,EUR,Experience Cloud,ACTL,2016-05,NaN,D,NaN,DEFERRED,0,13194.00
18473,JPY,Document Cloud,NaN,2016-04,1Y,D,Y3,DEFERRED,1,7664205.00
16432,GBP,LiveCycle,NaN,2016-05,NaN,NaN,NaN,RECOGNIZED,0,1416.57
8881,EUR,Creative,NaN,2018-08,NaN,D,Y3,DEFERRED,1,8216.10
11942,EUR,Experience Cloud,1TME,2018-10,NaN,NaN,NaN,RECOGNIZED,0,3087.97
4260,CAD,Experience Cloud,1TME,2017-07,OCONS,B,NaN,DEFERRED,0,2527.50
9035,EUR,Creative,NaN,2019-01,NaN,D,Y3,DEFERRED,1,9429.13

## Clearing out the Non-Revenue billings from the file
 - No Idea what these are

In [23]:
df['Sales Type'].value_counts()

DEFERRED       22919
RECOGNIZED      5041
PRO-SVC-INV      844
NON-REV           92
Name: Sales Type, dtype: int64

In [24]:
print('Length of the dataframe before removing non-revenue billings: ', len(df))
df = df[df['Sales Type']!='NON-REV']
print('Length of the dataframe after removing non-revenue billings:  ', len(df))

Length of the dataframe before removing non-revenue billings:  28896
Length of the dataframe after removing non-revenue billings:   28804

## Starting to group the revenue by period, industry, etc

Attempting to group by the following categories
 - currency
 - period
 - sale type
 
May need to process the data differently with the deferred billings so we will start with the recognized and then the service billings

# DOING THIS ALL IN PANDAS WITH SPLIT APPLY COMBINE on Sales Type

In [25]:
# First split the data into three dataframes
# Recognized billings
rec = df[df['Sales Type']=='RECOGNIZED']
svc = df[df['Sales Type']=='PRO-SVC-INV']
dfr = df[df['Sales Type']=='DEFERRED']

In [26]:
rec.columns

Index(['curr', 'BU', 'Frequency', 'period', 'config',
       'Revenue Recognition Category New', 'rebill_rule', 'Sales Type',
       'Subscription Term', 'amount'],
      dtype='object')

# NOW WORKING ON THE BILLINGS

### Recognized Revenue

In [27]:
rec.sample(10)

,curr,BU,Frequency,period,config,Revenue Recognition Category New,rebill_rule,Sales Type,Subscription Term,amount
30151,USD,LiveCycle,CERT,2015-12,NaN,NaN,NaN,RECOGNIZED,0,3.850000e+04
9884,EUR,Document Cloud,NaN,2018-10,IDRT,NaN,NaN,RECOGNIZED,0,1.175330e+05
22373,SEK,Creative,NaN,2017-05,NaN,NaN,NaN,RECOGNIZED,0,3.157480e+05
24047,USD,Creative,NaN,2016-02,NaN,NaN,NaN,RECOGNIZED,0,7.385158e+06
28205,USD,Experience Cloud,CERT,2016-12,NaN,NaN,NaN,RECOGNIZED,0,1.248920e+06
68,AUD,Creative,NaN,2015-09,NaN,NaN,NaN,RECOGNIZED,0,3.658459e+05
16735,GBP,Print & Publishing,NaN,2016-08,IDRT,NaN,NaN,RECOGNIZED,0,2.937000e+03
18863,JPY,Document Cloud,NaN,2018-06,NaN,NaN,NaN,RECOGNIZED,0,4.389002e+08
14327,GBP,Document Cloud,NaN,2016-09,NaN,NaN,NaN,RECOGNIZED,0,6.092657e+05
21347,NOK,Document Cloud,NaN,2018-01,NaN,NaN,NaN,RECOGNIZED,0,4.722000e+03

In [28]:
# testing groupby object
gb_rec = rec.groupby(['curr', 'BU', 'period'], as_index=False).sum()

In [29]:
# the Subscription term hangs around. We are dropping that here
gb_rec.drop(labels='Subscription Term', axis=1,inplace =True)

In [30]:
gb_rec.sample(10)

     curr                  BU   period        amount
1357  JPY      Document Cloud  2015-12  8.795080e+08
483   CHF           LiveCycle  2017-09  1.679000e+03
2     AUD            Creative  2015-08  2.843347e+05
1128  GBP    Experience Cloud  2016-07  1.274706e+06
1033  GBP            Creative  2016-04  2.152617e+05
2068  USD            Creative  2019-01  2.583158e+06
1560  JPY  Print & Publishing  2019-03  1.004675e+07
500   CHF  Print & Publishing  2015-07  3.215000e+03
824   EUR      Document Cloud  2017-12  5.244783e+06
1531  JPY  Print & Publishing  2016-10  1.813406e+07

In [31]:
print(type(gb_rec))

<class 'pandas.core.frame.DataFrame'>

## Now doing this for the service billings

In [32]:
# testing groupby object
gb_svc = svc.groupby(['curr', 'BU', 'period'], as_index=False).sum()

In [33]:
gb_svc.drop(labels='Subscription Term', axis=1,inplace =True)
gb_svc.head(5)

  curr                BU   period      amount
0  AUD  Experience Cloud  2015-06   589499.45
1  AUD  Experience Cloud  2015-07   656493.50
2  AUD  Experience Cloud  2015-08   370780.74
3  AUD  Experience Cloud  2015-09  1251726.13
4  AUD  Experience Cloud  2015-10   291324.07

# NOW WORKING ON DEFERRED BILLINGS

## Type B billings are service agreements that will have invoices submitted before the billings are reclassified to revenue. If no invoices are assigned to the billings, the billings become revenue in 12 months

In [34]:
# filter out the type B first then do a group_by
dfr_b = dfr[dfr['Revenue Recognition Category New']=='B']

In [35]:
gb_b = dfr_b.groupby(['curr', 'BU', 'period'], as_index=False).sum()

In [36]:
gb_b.drop(labels='Subscription Term', axis=1, inplace=True)

In [37]:
gb_b.head(10)

  curr                BU   period     amount
0  AUD          Creative  2017-10    8544.00
1  AUD    Document Cloud  2017-12    3283.20
2  AUD    Document Cloud  2018-06    3425.00
3  AUD    Document Cloud  2018-12    3425.00
4  AUD    Document Cloud  2019-03    4375.00
5  AUD  Experience Cloud  2015-06  258231.69
6  AUD  Experience Cloud  2015-07  261159.25
7  AUD  Experience Cloud  2015-08  270139.50
8  AUD  Experience Cloud  2015-09  482725.30
9  AUD  Experience Cloud  2015-10  287254.60

In [38]:
print('length of deferred billings : ', len(dfr))
print('length of the type B billings: ', len(dfr_b))

length of deferred billings :  22919
length of the type B billings:  997

## Now Type A Billings
These billings are on a billing plan. The product config tells us how long before they renew

 - '2Y' = 24 months
 - '1Y' = 12 months
 - 'MTHLY' = 1 month
 
NOTE: There are also other fields in the 'Product Configtype ID' field that do not map well to a rebill period.
To fix this, we need to load up a different file and determine the length of the sales contract (type A no config)

In [39]:
# filtering just the type A billings
dfr_a = dfr[dfr['Revenue Recognition Category New']=='A']

In [42]:
gb_a = dfr_a.groupby(['curr', 'BU', 'period',
                     'config'], as_index=False).sum()
gb_a.drop(labels='Subscription Term', axis=1, inplace = True)

In [43]:
gb_a.sample(10)

     curr                  BU   period config      amount
996   DKK      Document Cloud  2016-06     1Y      443.80
1171  EUR            Creative  2017-04  MTHLY   -35825.61
3549  USD  Print & Publishing  2015-08     2Y   249054.13
3564  USD  Print & Publishing  2016-02     1Y  4029972.29
3128  USD            Creative  2018-07     2Y    90731.00
210   AUD      Document Cloud  2017-07  MTHLY    -1056.46
2292  JPY      Document Cloud  2016-04     2Y  3735274.00
658   CHF            Creative  2016-11  MTHLY    -2871.71
1985  GBP     Other Solutions  2015-09  OUNIV     3895.00
3172  USD      Document Cloud  2015-10  MTHLY    -3860.27

In [44]:
gb_a['config'].value_counts()

1Y       1856
MTHLY     823
2Y        657
OUNIV     171
OCONS      62
3Y         46
ONORE      28
Name: config, dtype: int64

### Below is just a check to see how large the billing types are across all periods

In [45]:
gb_a_config = gb_a.groupby(['config'], as_index=False).sum()
gb_a_config

  config        amount
0     1Y  6.471612e+10
1     2Y  1.973660e+08
2     3Y  8.787511e+07
3  MTHLY -1.982427e+07
4  OCONS  2.883743e+07
5  ONORE  2.258881e+06
6  OUNIV  3.328696e+06

### These 'OCONS', 'ONORE' and 'OUNIV' data types are not actual product config IDs so we have to get them from a different data file. We are excluding these types below.

In [46]:
config_list = ['1Y', '2Y', '3Y', 'MTHLY']
test1 = gb_a['config'].isin(config_list)
sum(test1)

3382

In [47]:
test1 = gb_a[gb_a['config'].isin(config_list)]

## For now, lets just split this into gb_a_1Y, gb_a_2Y, gb_a_3y, gb_a_1M

In [48]:
gb_a_1Y = test1[test1['config']=='1Y']
gb_a_2Y = test1[test1['config']=='2Y']
gb_a_3Y = test1[test1['config']=='3Y']
gb_a_1M = test1[test1['config']=='MTHLY']

In [49]:
print('this is the lenght of type A 1M billings: ', len(gb_a_1M))
print('this is the lenght of type A 1Y billings: ', len(gb_a_1Y))
print('this is the lenght of type A 2Y billings: ', len(gb_a_2Y))
print('this is the lenght of type A 3Y billings: ', len(gb_a_3Y))

this is the lenght of type A 1M billings:  823
this is the lenght of type A 1Y billings:  1856
this is the lenght of type A 2Y billings:  657
this is the lenght of type A 3Y billings:  46

# TYPE D billings
These billings have a field 'Rule For Bill Date' that determines when new billings will occur
 - Monthly [Y1, Y2, Y3, Y5]
 - Quarterly [YQ]
 - Every 4 months [YT]
 - Semi-annual [YH]
 - Annual [YA, YC]
 - Every 2 years - [Y4]
 
 We also need to track the type D billings that do not have a 'Rule for Bill Date'

In [50]:
# for now just do a groupby on the type
# filtering just the type A billings
dfr_d = dfr[dfr['Revenue Recognition Category New']=='D']

In [52]:
gb_d = dfr_d.groupby(['curr', 'BU', 'period',
                     'rebill_rule'], as_index=False).sum()
gb_d.drop(labels='Subscription Term', axis=1, inplace = True)

In [53]:
gb_d_mthly = gb_d[gb_d['rebill_rule'].isin(['Y1', 'Y2', 'Y3', 'Y5'])]
gb_d_qtrly = gb_d[gb_d['rebill_rule']=='YQ']
gb_d_four_mths = gb_d[gb_d['rebill_rule']=='YT']
gb_d_semi_ann = gb_d[gb_d['rebill_rule']=='YH']
gb_d_annual = gb_d[gb_d['rebill_rule'].isin(['YA', 'YC'])]
gb_d_two_yrs = gb_d[gb_d['rebill_rule']=='Y4']

In [54]:
gb_d['rebill_rule'].value_counts()

YA    1630
Y3    1438
YQ     530
Y1     256
YC     246
YH     243
Y2      95
Y4      23
Y7      18
YT       8
BT       1
Name: rebill_rule, dtype: int64

### Note: There is one type D billings that is listed as 'BT' I don't know what this means, but it was a $180 EUR payment from January 2017, so we will ignore

In [55]:
print('Length of monthly', len(gb_d_mthly))
print('Length of quarterly', len(gb_d_qtrly))
print('Length of four months', len(gb_d_four_mths))
print('Length of semi ann', len(gb_d_semi_ann))
print('Length of annual', len(gb_d_annual))
print('Length of two years', len(gb_d_two_yrs))

Length of monthly 1789
Length of quarterly 530
Length of four months 8
Length of semi ann 243
Length of annual 1876
Length of two years 23

In [56]:
what_is_BT = gb_d[gb_d['rebill_rule']=='YT']
what_is_BT.head(10)

     curr                BU   period rebill_rule     amount
4054  USD  Experience Cloud  2015-06          YT   11666.60
4068  USD  Experience Cloud  2015-08          YT  549861.11
4081  USD  Experience Cloud  2015-10          YT   11666.60
4101  USD  Experience Cloud  2016-01          YT  612916.60
4106  USD  Experience Cloud  2016-02          YT -601250.00
4166  USD  Experience Cloud  2016-12          YT   13440.00
4190  USD  Experience Cloud  2017-04          YT   13440.00
4214  USD  Experience Cloud  2017-08          YT   13440.00

## Note: There are only 8 payments (back from 2017) that paid on a 4 month basis. 
We will ignore these as well.

## NOW WE NEED TO BUILD A DATAFRAME THAT INTEGRATES THIS DATA

- We will have the following descriptive fields
   - Invoicing Fiscal Year-Period
   - Document Currency
   - Enterprise BU

- We will have the following fields based on rebilling rule
   - Recognized
   - Service
   - Monthly
   - Quarterly
   - Annual
   - Two Years
   - Three Years

In [57]:
# We need to do it this way when we get to a .py file!
list_df = [gb_rec, gb_svc, gb_b,
        gb_a_1M,    gb_a_1Y,    gb_a_2Y,       gb_a_3Y, 
        gb_d_mthly, gb_d_qtrly, gb_d_semi_ann, gb_d_annual, gb_d_two_yrs]

list_columns = ['recognized', 'service', 'deferred_B', 
    'deferred_1M_a', 'deferred_1Y_a', 'deferred_2Y_a', 'deferred_3Y_a',
    'deferred_1M_d', 'deferred_3M_d', 'deferred_6M_d', 'deferred_1Y_d', 'deferred_2Y_d']

In [62]:
def merge_new_dataframe(old_df, new_df, new_column):
    df_merged = pd.merge(old_df, new_df, how='outer', 
                     left_on=['curr', 'BU', 'period'],
                    right_on=['curr', 'BU', 'period'])
    df_merged.rename(index=str, columns={'amount': new_column}, inplace=True)
    
    #need to drop the product configtype id for merges where the new_df is of type A
    config_str = 'config'
    rule_str = 'rebill_rule'
    if config_str in df_merged.columns:
        df_merged.drop(columns=['config'], inplace=True)
    
    if rule_str in df_merged.columns:
        df_merged.drop(columns=['rebill_rule'], inplace=True)
        
    return df_merged

In [63]:
def merge_all_dataframes(list_df, list_columns):
    for i, df in enumerate(list_df):
        print('This is i:', i)
        #print("This is the df: ", df.head())
        print('referencing the column: ', list_columns[i])

        if i==0:
            df_merged = list_df[0]
            df_merged.rename(index=str, columns={'amount': list_columns[i]}, inplace=True)
        else:
            df_merged = merge_new_dataframe(df_merged, df, list_columns[i])

    return df_merged

In [64]:
df = merge_all_dataframes(list_df, list_columns)

This is i: 0
referencing the column:  recognized
This is i: 1
referencing the column:  service
This is i: 2
referencing the column:  deferred_B
This is i: 3
referencing the column:  deferred_1M_a
This is i: 4
referencing the column:  deferred_1Y_a
This is i: 5
referencing the column:  deferred_2Y_a
This is i: 6
referencing the column:  deferred_3Y_a
This is i: 7
referencing the column:  deferred_1M_d
This is i: 8
referencing the column:  deferred_3M_d
This is i: 9
referencing the column:  deferred_6M_d
This is i: 10
referencing the column:  deferred_1Y_d
This is i: 11
referencing the column:  deferred_2Y_d

In [65]:
df.sample(10)

,curr,BU,period,recognized,service,deferred_B,deferred_1M_a,deferred_1Y_a,deferred_2Y_a,deferred_3Y_a,deferred_1M_d,deferred_3M_d,deferred_6M_d,deferred_1Y_d,deferred_2Y_d
1863,NOK,Creative,2017-09,226804.00,NaN,NaN,-20854.47,-18068.42,NaN,NaN,13355350.55,NaN,NaN,5577701.13,NaN
2505,USD,Document Cloud,2017-04,15523595.03,NaN,NaN,-11082.17,6788532.72,843949.00,NaN,3113575.80,24150.00,NaN,9841682.16,NaN
2557,USD,Experience Cloud,2015-09,17754939.00,12478857.74,5347981.86,986.30,11387818.10,6182.00,NaN,1735288.84,6531738.68,54529.36,32239.44,NaN
391,CHF,Creative,2018-08,36903.00,NaN,NaN,-3718.17,-6260.89,NaN,NaN,2253808.43,NaN,NaN,713606.16,NaN
3003,CAD,Print & Publishing,2017-09,NaN,NaN,NaN,NaN,29625.00,NaN,NaN,NaN,8785.00,NaN,26650.25,NaN
2484,USD,Document Cloud,2016-04,15811880.87,NaN,NaN,4186.75,4050177.49,355807.00,NaN,3062544.32,16375.00,NaN,19907.73,NaN
1141,EUR,Print & Publishing,2017-02,240721.00,NaN,NaN,NaN,429573.61,4622.00,NaN,63380.44,NaN,NaN,215685.93,NaN
508,CHF,LiveCycle,2017-01,1300.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1143,EUR,Print & Publishing,2017-04,286224.00,NaN,NaN,NaN,660414.57,16399.47,NaN,63391.23,NaN,NaN,152241.21,NaN
333,CAD,LiveCycle,2017-05,1281.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
def clean_df_columns(df):
    
    # clean up NaNs before adding 
    df = df.fillna(value=0)
    
    # Monthly
    df['deferred_1M'] = df['deferred_1M_a']+df['deferred_1M_d']
    df.drop(labels=['deferred_1M_a', 'deferred_1M_d'], axis=1, inplace=True)
    
    # Annual
    df['deferred_1Y'] = df['deferred_1Y_a']+df['deferred_1Y_d']
    df.drop(labels=['deferred_1Y_a', 'deferred_1Y_d'], axis=1, inplace=True)
    
    # Two-Year
    df['deferred_2Y'] = df['deferred_2Y_a']+df['deferred_2Y_d']
    df.drop(labels=['deferred_2Y_a', 'deferred_2Y_d'], axis=1, inplace=True)
    
    # renaming 3Y, 3M and 6M
    df.rename(index=str, columns = {'deferred_3Y_a':'deferred_3Y', 'deferred_3M_d':'deferred_3M', 
                               'deferred_6M_d': 'deferred_6M'}, inplace=True)

    #cleaning up the longer column names
    df.rename(index=str, columns = {'curr': 'curr',
                               'BU':'BU',
                               'period':'period'}, inplace=True)
    
    return df

In [67]:
df = clean_df_columns(df)

In [68]:
df.sample(10)

,curr,BU,period,recognized,service,deferred_B,deferred_3Y,deferred_3M,deferred_6M,deferred_1M,deferred_1Y,deferred_2Y
3017,CHF,LiveCycle,2019-02,0.000000e+00,0.00,0.00,0.0,0.00,0.00,0.00,17409.00,0.00
2708,USD,Experience Cloud,2019-03,2.511476e+07,14439153.81,5669205.18,0.0,13058676.46,959542.99,902157.73,68988570.19,0.00
916,EUR,Experience Cloud,2016-06,4.578261e+06,1704853.52,420000.57,0.0,1596349.60,118438.24,57191.55,8387549.95,0.00
1621,JPY,Document Cloud,2016-07,2.540482e+08,0.00,0.00,0.0,0.00,0.00,10999193.00,53125679.00,443758.00
2478,USD,Document Cloud,2016-01,2.120814e+07,0.00,0.00,0.0,28273.25,4350.00,4372278.62,20252477.33,989807.00
850,EUR,Document Cloud,2016-05,2.795352e+06,0.00,0.00,0.0,0.00,0.00,266079.18,1763303.00,107146.00
338,CAD,LiveCycle,2017-12,9.613500e+02,0.00,0.00,0.0,0.00,0.00,0.00,10103.00,0.00
2082,SEK,Creative,2017-05,3.157480e+05,0.00,0.00,0.0,0.00,0.00,17560271.17,4442618.50,0.00
2817,USD,Print & Publishing,2016-01,3.659986e+06,0.00,0.00,0.0,0.00,0.00,363965.73,5850142.49,106818.99
2862,USD,Print & Publishing,2018-09,1.569154e+07,478035.00,0.00,0.0,28742.23,619.00,460961.84,12217380.15,79881.07

In [145]:
# Make this a function to be cleaned up somehow
del dfr
del dfr_a
del dfr_b
del dfr_d
del gb_a
del gb_a_1M
del gb_a_1Y
del gb_a_2Y
del gb_a_3Y
del gb_b, 
del gb_d
del gb_svc, gb_rec, gb_d_two_yrs
del gb_d_four_mths, gb_d_qtrly, gb_d_semi_ann

NameError: name 'dfr' is not defined

# Now working on the ZCC billings

These billings are type D billings that did not populate the rebill_rule field of the database.

They have a 'sales document type' = 'ZCC"

The billings themselves are being created from a tableau report that looks for additions to the deferred revenue waterfall based on billings of type D and have a sales document type of ZCC

In [ ]:
whos

In [ ]:
df.sample(10)

# TO BE DONE:

1. Clean up the type F billings (at least check to see if they are necessary)
2. Make a function to delete all intermediate dataframes
3. Add type A no config function
4. Add type D ZCC billings

5. Work on the forecast part of this

6. Load up FX rates

In [70]:
# Adobe financial calendar
df_cal = pd.read_excel('../data/old/ADOBE_FINANCIAL_CALENDAR.xlsx', 'ADBE_cal')

In [71]:
df_cal.head()

,Year,Quarter,Period,Qtr_Ticker,Qtr_Start,Qtr_End,Per_Ticker,Per_Start,Per_End
0,2010,1,1,Q1_10,2009-11-28,2010-03-05,P1_10,2009-11-28,2010-01-01
1,2010,1,2,Q1_10,2009-11-28,2010-03-05,P2_10,2010-01-02,2010-01-29
2,2010,1,3,Q1_10,2009-11-28,2010-03-05,P3_10,2010-01-30,2010-03-05
3,2010,2,4,Q2_10,2010-03-06,2010-06-04,P4_10,2010-03-06,2010-04-02
4,2010,2,5,Q2_10,2010-03-06,2010-06-04,P5_10,2010-04-03,2010-04-30

## ZCC Billings

In [96]:
df_ZCC = pd.read_excel('../data/old/type_D_ZCC_billings.xlsx', sheet_name='DC')

In [97]:
df_ZCC.sample(10)

,Document Currency,Enterprise BU Description,Rev Rec Category,Rule for Bill Date Code,Week of FICA Posting Date (YYYYMMDD) (copy),DF Additions - Doc Curr
520,AUD,Experience Cloud,D,YQ,2015-03-29,34584.31
3510,USD,Creative,D,YC,2018-01-07,327519.12
4694,USD,Print & Publishing,D,YC,2018-12-30,14745.00
3581,USD,Document Cloud,D,YA,2019-02-03,1390053.90
309,AUD,Experience Cloud,D,YA,2018-04-08,135997.20
2534,GBP,Experience Cloud,D,YQ,2018-11-18,30336.00
2882,JPY,Experience Cloud,D,Y1,2015-04-26,40990574.00
1911,EUR,Experience Cloud,D,YQ,2017-04-09,39406.50
4072,USD,Experience Cloud,D,YA,2018-04-15,4084014.15
3491,USD,Creative,D,YA,2018-08-26,17270296.13

### Renaming the columns

In [98]:
df_ZCC.columns

Index(['Document Currency', 'Enterprise BU Description', 'Rev Rec Category',
       'Rule for Bill Date Code',
       'Week of FICA Posting Date (YYYYMMDD) (copy)',
       'DF Additions - Doc Curr'],
      dtype='object')

In [99]:
df_ZCC.rename(index = str, columns = {'Document Currency': 'curr',
                                      'Enterprise BU Description':'BU',
                                      'Rule for Bill Date Code': 'rebill_rule',
                                      'Week of FICA Posting Date (YYYYMMDD) (copy)': 'fiscal_week',
                                      'DF Additions - Doc Curr': 'amount'}, inplace = True)

In [100]:
df_ZCC.columns

Index(['curr', 'BU', 'Rev Rec Category', 'rebill_rule', 'fiscal_week',
       'amount'],
      dtype='object')

### Checking that we do not have any currencies that need to be removed

In [101]:
df_ZCC['curr'].value_counts()

USD    1295
EUR     844
AUD     649
GBP     616
JPY     503
CAD     283
DKK     166
SEK     165
CHF     104
NOK      71
SGD       1
Name: curr, dtype: int64

In [102]:
model_dict

{'curr_removed': ['CLP', 'COP', 'ARS', 'PEN', 'MXP', 'BMD', 'INR']}

In [103]:
ZCC_curr = df_ZCC['curr'].unique()

In [104]:
for item in ZCC_curr:
    if item in model_dict['curr_removed']:
        print('This currency needs to be removed: ', item)

There are no currencies that need to be removed

# Now we are clearing out nans

In [105]:
print('Number of NaNs to be cleared out: ', sum(df_ZCC['amount'].isna()))
ZCC_isna = df_ZCC['amount'].isna()
print("This is the length of the ZCC records before clearing NAs: ", len(df_ZCC))
df_ZCC = df_ZCC[~ZCC_isna]
print("This is the length of the ZCC records before clearing NAs: ", len(df_ZCC))

Number of NaNs to be cleared out:  34
This is the length of the ZCC records before clearing NAs:  4697
This is the length of the ZCC records before clearing NAs:  4663

In [106]:
df_cal.sample(5)

,Year,Quarter,Period,Qtr_Ticker,Qtr_Start,Qtr_End,Per_Ticker,Per_Start,Per_End
248,2030,3,9,Q3_30,2030-06-01,2030-08-30,P9_30,2030-07-27,2030-08-30
140,2021,3,9,Q3_21,2021-06-05,2021-09-03,P9_21,2021-07-31,2021-09-03
250,2030,4,11,Q4_30,2030-08-31,2030-11-29,P11_30,2030-09-28,2030-10-25
162,2023,3,7,Q3_23,2023-06-03,2023-09-01,P7_23,2023-06-03,2023-06-30
89,2017,2,6,Q2_17,2017-03-04,2017-06-02,P6_17,2017-04-29,2017-06-02

In [107]:
df_ZCC.sample(10)

,curr,BU,Rev Rec Category,rebill_rule,fiscal_week,amount
1220,EUR,Creative,D,YA,2018-01-07,73605.73
592,AUD,Experience Cloud,D,YQ,2015-06-28,282732.31
1550,EUR,Experience Cloud,D,YA,2017-12-17,123592.82
3440,USD,Creative,D,YA,2019-01-13,1422155.86
364,AUD,Experience Cloud,D,YA,2016-12-04,406421.70
4085,USD,Experience Cloud,D,YA,2016-05-22,5263675.88
3845,USD,Experience Cloud,D,Y3,2017-11-12,1386.00
3204,NOK,Experience Cloud,D,YQ,2017-07-09,271477.00
843,CAD,Experience Cloud,D,YC,2017-12-03,6698.90
895,CAD,Experience Cloud,D,YQ,2018-02-25,104399.40

In [108]:
def add_ZCC_periods(df_ZCC, df_cal):
    ''' 
    Takes each ZCC period billing and maps it to the fiscal calendar then assignes the
    ZCC billing to the dataframe df
    '''
    period_list = []
    
    for i in range(len(df_ZCC)):
        # this_date is the date we need mapped to a period
        this_date = df_ZCC['fiscal_week'].iloc[i]
        
        #max index will be the index to the period in our financial calendar
        this_index = df_cal['Per_End']<=this_date
        max_index = sum(this_index)

        this_year = df_cal['Year'].iloc[max_index].astype(str)
        this_period= df_cal['Period'].iloc[max_index].astype(str)

        # formatting the period string from the calendar
        if len(this_period)== 1:
            this_period = '0'+this_period

        period_ticker = this_year + '-' + this_period

        period_list.append(period_ticker)

    df_ZCC['period'] = period_list
    return df_ZCC

In [109]:
df_ZCC.head()

  curr        BU Rev Rec Category rebill_rule fiscal_week    amount
1  AUD  Creative                D          YA  2017-07-16   2070.00
2  AUD  Creative                D          YA  2017-05-28   4560.00
3  AUD  Creative                D          YA  2018-01-07   6657.92
4  AUD  Creative                D          YA  2017-12-31   8274.87
5  AUD  Creative                D          YA  2018-04-01  12164.31

In [110]:
df_ZCC = add_ZCC_periods(df_ZCC, df_cal)

In [111]:
df_ZCC.tail()

,curr,BU,Rev Rec Category,rebill_rule,fiscal_week,amount,period
4692,USD,Print & Publishing,D,YC,2019-02-10,4410.0,2019-03
4693,USD,Print & Publishing,D,YC,2018-12-16,8000.0,2019-01
4694,USD,Print & Publishing,D,YC,2018-12-30,14745.0,2019-02
4695,USD,Print & Publishing,D,YC,2019-02-24,17218.6,2019-03
4696,USD,Print & Publishing,D,YH,2018-12-30,3256.5,2019-02

## Now we need to determine the length of the ZCC billings to and add this to our dataframe

In [112]:
df.columns

Index(['curr', 'BU', 'period', 'recognized', 'service', 'deferred_B',
       'deferred_3Y', 'deferred_3M', 'deferred_6M', 'deferred_1M',
       'deferred_1Y', 'deferred_2Y'],
      dtype='object')

In [113]:
df_ZCC.columns

Index(['curr', 'BU', 'Rev Rec Category', 'rebill_rule', 'fiscal_week',
       'amount', 'period'],
      dtype='object')

In [114]:
gb_ZCC = df_ZCC.groupby(['curr', 'BU', 'period',
                     'rebill_rule'], as_index=False).sum()
#gb_d.drop(labels='Subscription Term', axis=1, inplace = True)

In [115]:
gb_ZCC.sample(20)

     curr                  BU   period rebill_rule        amount
1275  JPY    Experience Cloud  2018-12          Y1  2.456216e+07
1292  NOK    Experience Cloud  2015-07          YQ  8.967210e+05
1526  USD    Experience Cloud  2015-05          Y4  2.045998e+04
635   EUR    Experience Cloud  2015-09          YQ  9.079119e+04
1026  GBP    Experience Cloud  2018-05          YQ  4.880632e+05
349   CAD    Experience Cloud  2018-12          YA  2.495335e+06
655   EUR    Experience Cloud  2016-02          Y1  1.141140e+04
1633  USD    Experience Cloud  2016-11          YA  7.530442e+06
1815  USD  Print & Publishing  2018-11          YA  2.301845e+05
783   EUR    Experience Cloud  2018-04          YQ  7.573824e+04
1189  JPY    Experience Cloud  2016-09          YQ  1.785592e+07
348   CAD    Experience Cloud  2018-12          Y1  6.417500e+04
220   CAD            Creative  2017-11          YA  5.927000e+02
937   GBP    Experience Cloud  2016-06          YA  2.370739e+06
1187  JPY    Experience Cloud  2016-09          YA  3.497862e+08
14    AUD            Creative  2018-10          YA  1.086154e+06
1279  JPY    Experience Cloud  2019-02          Y1  1.167632e+07
31    AUD      Document Cloud  2018-10          YA  2.364921e+05
1685  USD    Experience Cloud  2017-08          Y1  5.270040e+03
1370  SEK    Experience Cloud  2016-04          YQ -8.017542e+05

In [116]:
gb_ZCC['rebill_rule'].value_counts()

YA    703
YQ    405
YH    230
Y1    222
YC    184
Y3     67
Y4     11
YX      2
Name: rebill_rule, dtype: int64

In [117]:
gb_ZCC_mthly = gb_ZCC[gb_ZCC['rebill_rule'].isin(['Y1', 'Y2', 'Y3', 'Y5'])]
gb_ZCC_qtrly = gb_ZCC[gb_ZCC['rebill_rule']=='YQ']
gb_ZCC_four_mths = gb_ZCC[gb_ZCC['rebill_rule']=='YT']
gb_ZCC_semi_ann = gb_ZCC[gb_ZCC['rebill_rule']=='YH']
gb_ZCC_annual = gb_ZCC[gb_ZCC['rebill_rule'].isin(['YA', 'YC'])]
gb_ZCC_two_yrs = gb_ZCC[gb_ZCC['rebill_rule']=='Y4']

There are no four month billings

In [118]:
len(gb_ZCC_four_mths)

0

There are two YX billings for small amounts that I do not have mapped to a frequency.
They will be ignored

In [119]:
what_is_YX = gb_ZCC[gb_ZCC['rebill_rule']=='YX']
what_is_YX.head(10)

     curr              BU   period rebill_rule     amount
590   EUR  Document Cloud  2017-12          YX        0.0
1118  JPY  Document Cloud  2018-11          YX  1522800.0

## I need to merge the ZCC billings and then clean up the columns.

In [123]:
# We need to do it this way when we get to a .py file!
list_ZCC_df = [gb_ZCC_mthly, gb_ZCC_qtrly, gb_ZCC_semi_ann,
           gb_ZCC_annual, gb_ZCC_two_yrs]

list_ZCC_columns = ['deferred_1M', 'deferred_3M', 'deferred_6M', 
    'deferred_1Y', 'deferred_2Y']

In [124]:
df_ZCC_merged = merge_all_dataframes(list_ZCC_df, list_ZCC_columns)

This is i: 0
referencing the column:  deferred_1M
This is i: 1
referencing the column:  deferred_3M
This is i: 2
referencing the column:  deferred_6M
This is i: 3
referencing the column:  deferred_1Y
This is i: 4
referencing the column:  deferred_2Y

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [127]:
df_ZCC_merged.sample(10)

,curr,BU,period,rebill_rule_x,deferred_1M,rebill_rule_y,deferred_3M,deferred_6M,deferred_1Y,deferred_2Y
804,CHF,Experience Cloud,2015-11,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN
920,JPY,Creative,2017-12,NaN,NaN,NaN,NaN,NaN,4.222702e+08,NaN
388,USD,Experience Cloud,2017-08,Y3,1386.00,YQ,1920263.10,93300.93,3.816531e+06,NaN
789,CAD,Print & Publishing,2018-07,NaN,NaN,NaN,NaN,NaN,3.815500e+02,NaN
288,USD,Experience Cloud,2015-06,Y1,4478776.50,YQ,4422225.81,70560.00,6.602625e+06,NaN
1031,USD,Print & Publishing,2018-12,NaN,NaN,NaN,NaN,NaN,1.282097e+06,NaN
1013,USD,Document Cloud,2018-03,NaN,NaN,NaN,NaN,NaN,5.270000e+03,NaN
75,CAD,Experience Cloud,2017-12,Y1,77258.67,YQ,-267702.83,NaN,2.562952e+05,NaN
472,AUD,Experience Cloud,2018-04,NaN,NaN,YQ,34174.19,NaN,1.500000e+04,NaN
754,CAD,Creative,2018-04,NaN,NaN,NaN,NaN,NaN,3.179154e+05,NaN

### Clearing out any zeros

In [132]:
df_ZCC_merged.drop(columns=['rebill_rule_x', 'rebill_rule_y'], inplace=True)
df_ZCC_merged.fillna(0, inplace=True)
df_ZCC_merged.sample(10)

,curr,BU,period,deferred_1M,deferred_3M,deferred_6M,deferred_1Y,deferred_2Y
55,AUD,Experience Cloud,2019-03,373985.49,877484.51,0.00,2.330035e+06,0.0
146,EUR,Experience Cloud,2017-12,840.00,672302.52,212328.77,7.967229e+06,0.0
884,GBP,Creative,2018-02,0.00,0.00,0.00,3.038470e+04,0.0
743,AUD,Print & Publishing,2018-10,0.00,0.00,0.00,2.796230e+03,0.0
519,DKK,Experience Cloud,2017-09,0.00,128577.04,300729.28,8.443876e+05,0.0
624,SEK,Experience Cloud,2015-12,0.00,374174.50,0.00,6.559510e+05,0.0
407,USD,Experience Cloud,2018-01,51129.73,3309823.13,215352.00,3.509267e+05,36000.0
961,JPY,Document Cloud,2018-12,0.00,0.00,0.00,1.458884e+08,0.0
384,USD,Experience Cloud,2017-07,1386.00,17783689.07,1309632.66,2.221504e+07,0.0
425,USD,Experience Cloud,2018-05,1386.00,16385244.88,706071.87,-5.273782e+04,0.0

In [120]:
df.columns

Index(['curr', 'BU', 'period', 'recognized', 'service', 'deferred_B',
       'deferred_3Y', 'deferred_3M', 'deferred_6M', 'deferred_1M',
       'deferred_1Y', 'deferred_2Y'],
      dtype='object')

In [ ]:
df_cal.sample(5)

In [134]:
test_merge = pd.merge(df, df_ZCC_merged, how='outer', 
                 left_on=['curr', 'BU', 'period'],
                right_on=['curr', 'BU', 'period'])
#test_merge.rename(index=str, columns={'amount': new_column}, inplace=True)

In [135]:
test_merge

,curr,BU,period,recognized,service,deferred_B,deferred_3Y,deferred_3M_x,deferred_6M_x,deferred_1M_x,deferred_1Y_x,deferred_2Y_x,deferred_1M_y,deferred_3M_y,deferred_6M_y,deferred_1Y_y,deferred_2Y_y
0,AUD,Creative,2015-06,490156.86,0.0,0.0,0.0,0.0,0.0,4992688.95,5828107.10,26443.20,NaN,NaN,NaN,NaN,NaN
1,AUD,Creative,2015-07,235045.62,0.0,0.0,0.0,0.0,0.0,4115986.40,4815641.33,10399.50,NaN,NaN,NaN,NaN,NaN
2,AUD,Creative,2015-07,235045.62,0.0,0.0,0.0,0.0,0.0,4115986.40,2865238.06,10399.50,NaN,NaN,NaN,NaN,NaN
3,AUD,Creative,2015-08,284334.70,0.0,0.0,0.0,0.0,0.0,4365814.67,3857333.34,2316.62,NaN,NaN,NaN,NaN,NaN
4,AUD,Creative,2015-08,284334.70,0.0,0.0,0.0,0.0,0.0,4365814.67,2793984.26,2316.62,NaN,NaN,NaN,NaN,NaN
5,AUD,Creative,2015-09,369648.88,0.0,0.0,0.0,0.0,0.0,5665079.46,5841026.18,11534.00,NaN,NaN,NaN,NaN,NaN
6,AUD,Creative,2015-10,287292.48,0.0,0.0,0.0,0.0,0.0,4646147.74,4444738.11,11802.30,NaN,NaN,NaN,NaN,NaN
7,AUD,Creative,2015-11,361723.22,0.0,0.0,0.0,0.0,0.0,5077573.99,3481859.00,32399.50,NaN,NaN,NaN,NaN,NaN
8,AUD,Creative,2015-12,276178.28,0.0,0.0,0.0,0.0,0.0,6501263.61,11622099.79,20414.00,NaN,NaN,NaN,NaN,NaN
9,AUD,Creative,2015-12,276178.28,0.0,0.0,0.0,0.0,0.0,6501263.61,4919968.69,20414.00,NaN,NaN,NaN,NaN,NaN
10,AUD,Creative,2016-01,270306.21,0.0,0.0,0.0,0.0,0.0,6703063.65,3539233.58,37020.00,NaN,NaN,NaN,NaN,NaN
11,AUD,Creative,2016-01,270306.21,0.0,0.0,0.0,0.0,0.0,6703063.65,2336722.90,37020.00,NaN,NaN,NaN,NaN,NaN
12,AUD,Creative,2016-02,116996.45,0.0,0.0,0.0,0.0,0.0,5463802.37,4053052.47,6992.00,NaN,NaN,NaN,NaN,NaN
13,AUD,Creative,2016-02,116996.45,0.0,0.0,0.0,0.0,0.0,5463802.37,1704637.04,6992.00,NaN,NaN,NaN,NaN,NaN
14,AUD,Creative,2016-03,235382.84,0.0,0.0,0.0,0.0,0.0,7490915.01,5744349.30,36388.00,NaN,NaN,NaN,NaN,NaN
15,AUD,Creative,2016-04,249819.19,0.0,0.0,0.0,0.0,0.0,5917186.68,3554343.50,7589.00,NaN,NaN,NaN,NaN,NaN
16,AUD,Creative,2016-05,213088.53,0.0,0.0,0.0,0.0,0.0,6388200.50,5119904.71,12527.20,NaN,NaN,NaN,NaN,NaN
17,AUD,Creative,2016-05,213088.53,0.0,0.0,0.0,0.0,0.0,6388200.50,3090133.67,12527.20,NaN,NaN,NaN,NaN,NaN
18,AUD,Creative,2016-06,246758.37,0.0,0.0,0.0,0.0,0.0,8255938.91,9501469.59,5198.00,NaN,NaN,NaN,NaN,NaN
19,AUD,Creative,2016-07,202289.36,0.0,0.0,0.0,0.0,0.0,7082673.49,6372433.09,7685.00,NaN,NaN,NaN,NaN,NaN
20,AUD,Creative,2016-08,151958.31,0.0,0.0,0.0,0.0,0.0,7109872.59,4876117.34,4150.20,NaN,NaN,NaN,NaN,NaN
21,AUD,Creative,2016-09,343043.28,0.0,0.0,0.0,0.0,0.0,9368428.17,8897158.68,1896.00,NaN,NaN,NaN,NaN,NaN
22,AUD,Creative,2016-10,234844.56,0.0,0.0,0.0,0.0,0.0,8012288.46,5866722.28,1073.00,NaN,NaN,NaN,NaN,NaN
23,AUD,Creative,2016-11,285379.58,0.0,0.0,0.0,0.0,0.0,8149793.21,5437557.84,1999.00,NaN,NaN,NaN,NaN,NaN
24,AUD,Creative,2016-12,284149.11,0.0,0.0,0.0,0.0,0.0,10591535.90,12652054.75,81298.00,NaN,NaN,NaN,NaN,NaN
25,AUD,Creative,2016-12,284149.11,0.0,0.0,0.0,0.0,0.0,10591535.90,4635655.47,81298.00,NaN,NaN,NaN,NaN,NaN
26,AUD,Creative,2017-01,152712.79,0.0,0.0,0.0,0.0,0.0,8434906.45,4709002.87,1207.00,NaN,NaN,NaN,NaN,NaN
27,AUD,Creative,2017-02,279610.83,0.0,0.0,0.0,0.0,0.0,8696322.13,3480495.51,61992.00,NaN,NaN,NaN,NaN,NaN
28,AUD,Creative,2017-03,255250.91,0.0,0.0,0.0,0.0,0.0,12096083.11,9295337.48,96.00,NaN,NaN,NaN,NaN,NaN
29,AUD,Creative,2017-04,207815.06,0.0,0.0,0.0,0.0,0.0,9319315.08,7851662.26,0.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3940,CAD,Print & Publishing,2016-03,0.00,0.0,0.0,0.0,0.0,0.0,0.00,35426.65,0.00,NaN,NaN,NaN,NaN,NaN
3941,CAD,Print & Publishing,2019-02,0.00,0.0,0.0,0.0,0.0,0.0,0.00,3279.00,0.00,0.00,0.00,0.00,1.988554e+04,0.00
3942,NZD,Experience Cloud,2016-12,0.00,0.0,0.0,0.0,0.0,0.0,0.00,115200.00,0.00,NaN,NaN,NaN,NaN,NaN
3943,NZD,Experience Cloud,2017-12,0.00,0.0,0.0,0.0,0.0,0.0,0.00,115200.00,0.00,NaN,NaN,NaN,NaN,NaN
3944,RUB,Document Cloud,2018-05,0.00,0.0,0.0,0.0,0.0,0.0,0.00,6156.00,0.00,NaN,NaN,NaN,NaN,NaN
3945,SGD,Experience Cloud,2019-03,0.00,0.0,0.0,0.0,0.0,0.0,0.00,422674.00,0.00,NaN,NaN,NaN,NaN,NaN
3946,AUD,Experience Cloud,2015-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,170842.08,266340.00,0.00,1.229802e+05,0.00
3947,AUD,Experience Cloud,2015-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162467.96,34584.31,0.00,1.814533e+05,0.00
3948,EUR,Experience Cloud,2015-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32993.80,128258.91,40001.22,1.465726e+06,0.00
3949,EUR,Experience Cloud,2015-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29453.80,443611.70,0.00,1.418842e+06,0.00
3950,JPY,Experience Cloud,2015-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39586454.00,3285300.00,0.00,9.253084e+07,0.00
3951,JPY,Experience Cloud,2015-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,165000.00,3285300.00,0.00,9.253084e+07,0.00
3952,JPY,Experience Cloud,2015-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38228893.00,5100000.00,0.00,5.814943e+08,0.00
3953,USD,Experience Cloud,2015-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2322743.40,5210476.54,213903.76,9.272785e+06,0.00
3954,USD,Experience Cloud,2015-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41324.70,5210476.54,213903.76,9.272785e+06,0.00
3955,USD,Experience Cloud,2015-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2741974.70,5962142.62,17885.00,7.402746e+06,20459.98
3956,USD,Experience Cloud,2015-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39742.32,5962142.62,17885.00,7.402746e+06,20459.98
3957,CAD,Experience Cloud,2015-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,149349.12,0.00,0.000000e+00,0.00
3958,DKK,Experience Cloud,2015-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,57960.00,-222000.00,0.000000e+00,0.00
3959,DKK,Experience Cloud,2015-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,73086.48,158100.00,4.050000e+05,0.00
3960,GBP,Experience Cloud,2015-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,125903.84,2490.00,1.422187e+05,0.00
3961,GBP,Experience Cloud,2015-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,104074.64,0.00,1.521405e+06,0.00
3962,NOK,Experience Cloud,2015-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,708321.00,0.00,2.143160e+05,0.00
3963,SEK,Experience Cloud,2015-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,308870.81,33000.00,8.052184e+05,0.00
3964,SEK,Experience Cloud,2015-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,45306.00,302937.13,7.594506e+05,0.00
3965,CAD,Document Cloud,2018-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,2.261530e+05,0.00
3966,CAD,Document Cloud,2019-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,1.243829e+05,0.00
3967,CAD,Experience Cloud,2015-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,2.435856e+05,0.00
3968,CHF,Experience Cloud,2015-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,2.460000e+04,0.00
3969,CHF,Experience Cloud,2015-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,2.500200e+04,0.00

In [137]:

# clean up NaNs before adding 
test_merge = test_merge.fillna(value=0)

# Monthly
test_merge['deferred_1M'] = test_merge['deferred_1M_x']+test_merge['deferred_1M_y']
test_merge.drop(labels=['deferred_1M_x', 'deferred_1M_x'], axis=1, inplace=True)

# Quarterly
test_merge['deferred_3M'] = test_merge['deferred_3M_x']+test_merge['deferred_3M_y']
test_merge.drop(labels=['deferred_3M_x', 'deferred_3M_y'], axis=1, inplace=True)

# Semi-Annual
test_merge['deferred_6M'] = test_merge['deferred_6M_x']+test_merge['deferred_6M_y']
test_merge.drop(labels=['deferred_6M_x', 'deferred_6M_y'], axis=1, inplace=True)

# Annual
test_merge['deferred_1Y'] = test_merge['deferred_1Y_x']+test_merge['deferred_1Y_y']
test_merge.drop(labels=['deferred_1Y_x', 'deferred_1Y_y'], axis=1, inplace=True)

# 2-Years
test_merge['deferred_2Y'] = test_merge['deferred_2Y_x']+test_merge['deferred_2Y_y']
test_merge.drop(labels=['deferred_2Y_x', 'deferred_2Y_y'], axis=1, inplace=True)

In [138]:
test_merge.columns

Index(['curr', 'BU', 'period', 'recognized', 'service', 'deferred_B',
       'deferred_3Y', 'deferred_1M_y', 'deferred_1M', 'deferred_3M',
       'deferred_6M', 'deferred_1Y', 'deferred_2Y'],
      dtype='object')

In [140]:
test_merge.sample(20)

,curr,BU,period,recognized,service,deferred_B,deferred_3Y,deferred_1M_y,deferred_1M,deferred_3M,deferred_6M,deferred_1Y,deferred_2Y
1955,JPY,Experience Cloud,2016-06,38982453.99,6.195450e+07,1.904390e+08,0.0,50155414.00,51889860.00,20005925.00,0.00,1.820137e+08,0.00
3713,DKK,Document Cloud,2017-01,0.00,0.000000e+00,0.000000e+00,0.0,0.00,109916.26,0.00,0.00,1.645994e+05,0.00
3261,USD,Experience Cloud,2017-10,8630287.31,7.760830e+06,3.527342e+06,0.0,-69214.80,108924.41,6921373.49,1062135.69,1.638536e+07,2046.00
1393,GBP,Creative,2016-04,215261.70,0.000000e+00,0.000000e+00,0.0,0.00,6112956.03,0.00,0.00,2.987594e+06,28191.71
3223,USD,Experience Cloud,2017-06,11702632.45,1.299433e+07,4.917376e+06,0.0,53361.44,68686.64,32016211.22,3289849.61,1.005878e+07,4288.00
2819,USD,Document Cloud,2016-09,26253346.06,0.000000e+00,1.424500e+04,0.0,0.00,3717173.36,191345.69,28727.00,3.886047e+07,359418.00
378,CAD,LiveCycle,2018-09,2884.05,0.000000e+00,0.000000e+00,0.0,0.00,0.00,0.00,0.00,0.000000e+00,0.00
1163,EUR,Experience Cloud,2018-04,925731.30,1.415778e+06,2.281425e+05,0.0,406.45,69784.45,1124701.34,0.00,6.503342e+06,0.00
3507,USD,Experience Cloud,2019-02,38156623.43,6.218120e+06,8.080874e+06,0.0,13886.00,125212.70,29354059.98,2959004.51,4.657170e+07,0.00
3182,USD,Experience Cloud,2017-04,7558297.74,7.629487e+06,2.297170e+06,0.0,53361.44,68686.64,15654635.65,512990.29,4.203306e+07,518.00
1965,JPY,Experience Cloud,2016-12,94365515.99,1.060788e+08,2.109557e+08,0.0,44612730.00,45597176.00,22092800.00,0.00,4.902681e+08,37224000.00
484,CHF,Experience Cloud,2016-02,19556.03,1.271905e+05,2.451025e+04,0.0,0.00,0.00,0.00,0.00,3.982861e+05,0.00
3738,CAD,Creative,2015-06,0.00,0.000000e+00,0.000000e+00,0.0,0.00,0.00,0.00,0.00,2.982563e+05,0.00
3154,USD,Experience Cloud,2017-03,10632453.56,1.398347e+07,6.974861e+06,0.0,65556.88,1763273.52,31989117.73,2623182.98,4.490808e+07,9066.00
3554,USD,LiveCycle,2016-12,321199.95,0.000000e+00,0.000000e+00,0.0,0.00,0.00,0.00,0.00,1.348520e+06,0.00
1572,GBP,Experience Cloud,2017-12,799943.47,1.427575e+06,6.748038e+05,0.0,198.74,41100.99,3115995.48,232178.75,7.865357e+06,0.00
1745,HKD,Creative,2018-07,14928.00,0.000000e+00,0.000000e+00,0.0,0.00,1701299.30,0.00,0.00,1.281690e+06,0.00
395,CHF,Creative,2016-04,55254.56,0.000000e+00,0.000000e+00,0.0,0.00,1328516.86,0.00,0.00,3.610500e+05,0.00
936,EUR,Experience Cloud,2015-09,4426328.15,1.890816e+06,3.390673e+05,0.0,13916.50,45345.10,1081897.70,125020.71,5.095635e+06,0.00
999,EUR,Experience Cloud,2016-12,3095247.32,3.209849e+06,9.250597e+05,0.0,65857.94,120430.33,2020271.55,293626.43,8.181410e+06,0.00

In [141]:
## Looks like the type ZCC billings are complete

In [142]:
# renaming the main dataframe as df
df = test_merge.copy()

# Type A No Config Type Billings

This file contains type A billings that have a revenue contract start date and end date. We need to map these into the terms of our dataframe.

### Steps:
1. Rename the columns
2. This file has entries for pennies. Need to clear out anything less than $10 in absolute value
3. Determine the length of time between start date and end date
4. Group this dataframe by currency, period and BU
5. Merge this final dataframe with the larger dataframe

## NOTE: This file contains two different start date and end date columns. We need to look at all of them

In [146]:
df_A = pd.read_excel('../data/old/type_A_no_config.xlsx', 'DC')

In [161]:
df_A.sample(10)

,Document Currency,Enterprise Bu,Invoicing Fiscal Year-Period Desc,Product Configtype ID,Rev Rec Contract End Date Hdr,Rev Rec Contract End Date Item,Rev Rec Contract Start Date Hdr,Rev Rec Contract Start Date Item,Completed Sales Doc Currency
101683,USD,Creative,2017-02,NaN,0,20170131.0,0,20161101.0,1076.42
32714,EUR,Document Cloud,2016-03,NaN,0,20160214.0,0,20150215.0,-0.87
233099,USD,Document Cloud,2018-08,NaN,0,20190624.0,0,20180722.0,-29.99
130141,USD,Document Cloud,2016-12,NaN,0,20170218.0,0,20161129.0,-5.30
93699,NOK,Document Cloud,2017-04,NaN,0,20180222.0,0,20170305.0,-192.00
105725,USD,Creative,2018-03,NaN,0,20190127.0,0,20180128.0,11252.24
25629,DKK,Document Cloud,2017-03,NaN,0,20180130.0,0,20170131.0,-300.00
164236,USD,Document Cloud,2017-07,NaN,0,20170804.0,0,20170605.0,-7.88
137026,USD,Document Cloud,2017-01,NaN,0,20171113.0,0,20161212.0,-44.08
183103,USD,Document Cloud,2017-11,NaN,0,20171103.0,0,20171023.0,-7.32

In [158]:
df_A.columns

Index(['Document Currency', 'Enterprise Bu',
       'Invoicing Fiscal Year-Period Desc', 'Product Configtype ID',
       'Rev Rec Contract End Date Hdr', 'Rev Rec Contract End Date Item',
       'Rev Rec Contract Start Date Hdr', 'Rev Rec Contract Start Date Item',
       'Completed Sales Doc Currency'],
      dtype='object')

In [168]:
df_A.rename(index=str, columns={'Document Currency':'currency', 
                               'Enterprise Bu':'BU',
                               'Invoicing Fiscal Year-Period Desc':'period',
                               'Rev Rec Contract End Date Hrd':'end_date_1',
                               'Rev Rec Contract End Date Item':'end_date_2',
                               'Rev Rec Contract Start Date Hrd': 'start_date_1',
                               'Rev Rec Contract Start Date Item': 'start_date_2',
                               'Completed Sales Doc Currency':'amount'}, inplace=True)

df_A.drop(columns='Product Configtype ID', inplace=True)

In [172]:
df_A.columns

Index(['currency', 'BU', 'period', 'Rev Rec Contract End Date Hdr',
       'end_date_2', 'Rev Rec Contract Start Date Hdr', 'start_date_2',
       'amount'],
      dtype='object')

In [174]:
df_A['amount'].describe()

count    2.554080e+05
mean     7.274859e+03
std      4.026847e+05
min     -4.063950e+07
25%     -5.622000e+01
50%     -1.911000e+01
75%     -7.810000e+00
max      8.250000e+07
Name: amount, dtype: float64

SyntaxError: invalid syntax (<ipython-input-144-1eba5d72fc71>, line 1)