# Testing Deferred Revenue in Python
Will this be easier for everyone to use than Matlab?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Step 1: Processing Base Billings Data

In [2]:
df = pd.read_excel('../data/old/base_billings.xlsx', sheet_name='bill_DC')

In [3]:
df.sample(10)

,Document Currency,Enterprise Bu,Frequency,Invoicing Fiscal Year-Period Desc,Product Configtype ID,Revenue Recognition Category New,Rule For Bill Date,Sales Type,Subscription Term,Completed Sales Doc Currency
8379,EUR,Creative,NaN,2016-10,IDRT,NaN,NaN,RECOGNIZED,0,9.839100e+04
27881,USD,Experience Cloud,NaN,2016-08,NaN,D,YA,DEFERRED,0,6.480000e+03
6663,DKK,Creative,NaN,2016-11,MTHLY,A,NaN,DEFERRED,1,-9.116290e+03
15672,GBP,Experience Cloud,ACTL,2017-04,NaN,D,NaN,DEFERRED,0,3.068000e+03
5759,CHF,Experience Cloud,CERT,2015-06,1Y,D,YA,DEFERRED,12,9.000000e+04
1573,AUD,Document Cloud,NaN,2018-12,MTHLY,D,Y3,DEFERRED,1,4.843262e+04
25282,USD,Creative,ONGO,2018-09,NaN,D,NaN,DEFERRED,12,2.000711e+06
22664,SEK,Document Cloud,NaN,2016-01,MTHLY,D,Y3,DEFERRED,1,3.837522e+04
27822,USD,Experience Cloud,1TME,2016-07,OCONS,A,NaN,DEFERRED,0,1.500000e+04
18479,JPY,Document Cloud,NaN,2016-05,NaN,NaN,NaN,RECOGNIZED,0,2.299910e+08

## Filter that removes any currency that has  < 10 transactions.

In [4]:
# creates a list of the currencies and the number of transactions for each currency
vc = df['Document Currency'].value_counts()

In [5]:
# Create variable that is true if the number of transaction is greater than 10, false otherwise
keep_these = vc.values > 10
# filtering only currencies that were greater than 10
keep_curr = vc[keep_these]
a = keep_curr.index
# filtering the dataframe to remove any of teh currencies not in our list
df = df[df['Document Currency'].isin(a)]

## Just keeping track of the currencies we removed in our model_dict data strucutre

In [6]:
remove_these = vc.values <= 10
model_dict = {'curr_removed': list(vc[remove_these].index)}
model_dict

{'curr_removed': ['CLP', 'COP', 'ARS', 'PEN', 'BMD', 'MXP', 'INR']}

# Removing any of the values that are zero

In [7]:
print('This is the length of the dataframe before removing zeros: ', len(df))
df = df[df['Completed Sales Doc Currency']!=0]
print('This is the length of the dataframe after removing zeros: ', len(df))

This is the length of the dataframe before removing zeros:  31418
This is the length of the dataframe after removing zeros:  28896

In [8]:
df.sample(20)

,Document Currency,Enterprise Bu,Frequency,Invoicing Fiscal Year-Period Desc,Product Configtype ID,Revenue Recognition Category New,Rule For Bill Date,Sales Type,Subscription Term,Completed Sales Doc Currency
24450,USD,Creative,1TME,2016-11,ONORE,NaN,NaN,RECOGNIZED,0,602.30
15982,GBP,Experience Cloud,1TME,2018-02,ONORE,NaN,NaN,RECOGNIZED,0,52254.21
28115,USD,Experience Cloud,1TME,2016-11,OENSV,D,NaN,DEFERRED,0,1237.50
30710,USD,Print & Publishing,NaN,2016-06,NaN,NaN,NaN,PRO-SVC-INV,0,108000.00
17165,HKD,Creative,NaN,2018-02,1Y,D,Y3,DEFERRED,1,159020.40
23405,SEK,Experience Cloud,ONGO,2019-03,ONORE,D,NaN,DEFERRED,0,6766757.73
21305,NOK,Document Cloud,NaN,2017-09,NaN,A,NaN,DEFERRED,12,-11858.05
28794,USD,Experience Cloud,ONGO,2017-08,1Y,D,Y1,DEFERRED,0,52468.58
11143,EUR,Experience Cloud,1TME,2017-06,NaN,NaN,NaN,DEFERRED,0,920.00
16730,GBP,Print & Publishing,NaN,2016-08,1Y,D,Y3,DEFERRED,1,26876.60
18662,JPY,Document Cloud,NaN,2017-05,1Y,A,NaN,DEFERRED,1,-20560.00
11512,EUR,Experience Cloud,ACTL,2018-01,NaN,D,NaN,DEFERRED,0,35060.00
16191,GBP,Experience Cloud,ONGO,2018-08,ONORE,D,YA,DEFERRED,0,-15434.04
13884,GBP,Creative,NaN,2018-05,MTHLY,D,Y3,DEFERRED,1,544315.23
17722,JPY,Creative,NaN,2016-09,1Y,D,Y1,DEFERRED,0,2175000.00
21908,NOK,Print & Publishing,NaN,2019-03,1Y,D,YA,DEFERRED,12,3382.00
10756,EUR,Experience Cloud,1TME,2016-10,OUNIV,F,NaN,DEFERRED,0,-648.00
6250,CHF,LiveCycle,NaN,2016-02,NaN,NaN,NaN,RECOGNIZED,0,520.00
10048,EUR,Experience Cloud,ONGO,2015-06,1Y,D,Y1,DEFERRED,12,6342.00
20304,JPY,Print & Publishing,NaN,2016-07,2V,NaN,NaN,RECOGNIZED,0,1359897.00

## Clearing out the Non-Revenue billings from the file
 - No Idea what these are

In [9]:
df['Sales Type'].value_counts()

DEFERRED       22919
RECOGNIZED      5041
PRO-SVC-INV      844
NON-REV           92
Name: Sales Type, dtype: int64

In [10]:
print('Length of the dataframe before removing non-revenue billings: ', len(df))
df = df[df['Sales Type']!='NON-REV']
print('Length of the dataframe after removing non-revenue billings:  ', len(df))

Length of the dataframe before removing non-revenue billings:  28896
Length of the dataframe after removing non-revenue billings:   28804

## Starting to group the revenue by period, industry, etc

Attempting to group by the following categories
 - currency
 - period
 - sale type
 
May need to process the data differently with the deferred billings so we will start with the recognized and then the service billings

# DOING THIS ALL IN PANDAS WITH SPLIT APPLY COMBINE on Sales Type

In [11]:
# First split the data into three dataframes
# Recognized billings
rec = df[df['Sales Type']=='RECOGNIZED']
svc = df[df['Sales Type']=='PRO-SVC-INV']
dfr = df[df['Sales Type']=='DEFERRED']

In [13]:
rec.columns

Index(['Document Currency', 'Enterprise Bu', 'Frequency',
       'Invoicing Fiscal Year-Period Desc', 'Product Configtype ID',
       'Revenue Recognition Category New', 'Rule For Bill Date', 'Sales Type',
       'Subscription Term', 'Completed Sales Doc Currency'],
      dtype='object')

### Recognized Revenue

# NOW WORKING ON THE REVENUE

In [14]:
rec.sample(10)

,Document Currency,Enterprise Bu,Frequency,Invoicing Fiscal Year-Period Desc,Product Configtype ID,Revenue Recognition Category New,Rule For Bill Date,Sales Type,Subscription Term,Completed Sales Doc Currency
16843,GBP,Print & Publishing,NaN,2017-04,2V,NaN,NaN,RECOGNIZED,0,2419.00
16643,GBP,Print & Publishing,NaN,2015-12,IDRT,NaN,NaN,RECOGNIZED,0,2085.00
23485,SEK,Other Solutions,NaN,2018-07,NaN,NaN,NaN,RECOGNIZED,0,-274.62
12492,EUR,Other Solutions,NaN,2018-07,NaN,NaN,NaN,RECOGNIZED,0,-5106.18
11834,EUR,Experience Cloud,ONGO,2018-07,ONORE,NaN,NaN,RECOGNIZED,0,5079.60
23882,USD,Creative,NaN,2015-10,2V,NaN,NaN,RECOGNIZED,0,14247.00
7583,DKK,Experience Cloud,1TME,2017-10,ONORE,NaN,NaN,RECOGNIZED,0,53114.86
16703,GBP,Print & Publishing,NaN,2016-06,1V,NaN,NaN,RECOGNIZED,0,4723.00
17407,JPY,Creative,NaN,2015-06,2V,NaN,NaN,RECOGNIZED,0,234100.00
26845,USD,Experience Cloud,NaN,2015-07,NaN,NaN,NaN,RECOGNIZED,0,537576.42

In [15]:
# testing groupby object
gb_rec = rec.groupby(['Document Currency', 'Enterprise Bu', 'Invoicing Fiscal Year-Period Desc'], as_index=False).sum()

In [28]:
# the Subscription term hangs around. We are dropping that here
gb_rec.drop(labels='Subscription Term', axis=1,inplace =True)

In [29]:
gb_rec

,Document Currency,Enterprise Bu,Invoicing Fiscal Year-Period Desc,Completed Sales Doc Currency
0,AUD,Creative,2015-06,490156.86
1,AUD,Creative,2015-07,235045.62
2,AUD,Creative,2015-08,284334.70
3,AUD,Creative,2015-09,369648.88
4,AUD,Creative,2015-10,287292.48
5,AUD,Creative,2015-11,361723.22
6,AUD,Creative,2015-12,276178.28
7,AUD,Creative,2016-01,270306.21
8,AUD,Creative,2016-02,116996.45
9,AUD,Creative,2016-03,235382.84
10,AUD,Creative,2016-04,249819.19
11,AUD,Creative,2016-05,213088.53
12,AUD,Creative,2016-06,246758.37
13,AUD,Creative,2016-07,202289.36
14,AUD,Creative,2016-08,151958.31
15,AUD,Creative,2016-09,343043.28
16,AUD,Creative,2016-10,234844.56
17,AUD,Creative,2016-11,285379.58
18,AUD,Creative,2016-12,284149.11
19,AUD,Creative,2017-01,152712.79
20,AUD,Creative,2017-02,279610.83
21,AUD,Creative,2017-03,255250.91
22,AUD,Creative,2017-04,207815.06
23,AUD,Creative,2017-05,119076.60
24,AUD,Creative,2017-06,372395.91
25,AUD,Creative,2017-07,219784.74
26,AUD,Creative,2017-08,136292.71
27,AUD,Creative,2017-09,391741.71
28,AUD,Creative,2017-10,233924.24
29,AUD,Creative,2017-11,243945.01
...,...,...,...,...
2271,USD,Print & Publishing,2016-10,3086688.47
2272,USD,Print & Publishing,2016-11,2735258.97
2273,USD,Print & Publishing,2016-12,8972742.09
2274,USD,Print & Publishing,2017-01,1864827.50
2275,USD,Print & Publishing,2017-02,2837831.27
2276,USD,Print & Publishing,2017-03,8991970.65
2277,USD,Print & Publishing,2017-04,2310718.62
2278,USD,Print & Publishing,2017-05,2148166.88
2279,USD,Print & Publishing,2017-06,7399186.83
2280,USD,Print & Publishing,2017-07,2490961.22
2281,USD,Print & Publishing,2017-08,3132712.19
2282,USD,Print & Publishing,2017-09,16542433.43
2283,USD,Print & Publishing,2017-10,1628221.84
2284,USD,Print & Publishing,2017-11,2707930.70
2285,USD,Print & Publishing,2017-12,14141201.72
2286,USD,Print & Publishing,2018-01,1369961.41
2287,USD,Print & Publishing,2018-02,2663330.14
2288,USD,Print & Publishing,2018-03,13834373.14
2289,USD,Print & Publishing,2018-04,2098586.73
2290,USD,Print & Publishing,2018-05,1969150.34
2291,USD,Print & Publishing,2018-06,11511114.38
2292,USD,Print & Publishing,2018-07,882846.23
2293,USD,Print & Publishing,2018-08,1933801.71
2294,USD,Print & Publishing,2018-09,15691543.23
2295,USD,Print & Publishing,2018-10,3213718.08
2296,USD,Print & Publishing,2018-11,8812386.51
2297,USD,Print & Publishing,2018-12,5894484.54
2298,USD,Print & Publishing,2019-01,1837388.61
2299,USD,Print & Publishing,2019-02,3201493.47
2300,USD,Print & Publishing,2019-03,15516091.68

In [17]:
print(type(gb_rec))

<class 'pandas.core.frame.DataFrame'>

## Now doing this for the service billings

In [21]:
# testing groupby object
gb_svc = svc.groupby(['Document Currency', 'Enterprise Bu', 'Invoicing Fiscal Year-Period Desc'], as_index=False).sum()

In [30]:
gb_svc.drop(labels='Subscription Term', axis=1,inplace =True)
gb_svc

,Document Currency,Enterprise Bu,Invoicing Fiscal Year-Period Desc,Completed Sales Doc Currency
0,AUD,Experience Cloud,2015-06,589499.45
1,AUD,Experience Cloud,2015-07,656493.50
2,AUD,Experience Cloud,2015-08,370780.74
3,AUD,Experience Cloud,2015-09,1251726.13
4,AUD,Experience Cloud,2015-10,291324.07
5,AUD,Experience Cloud,2015-11,770327.50
6,AUD,Experience Cloud,2015-12,700684.00
7,AUD,Experience Cloud,2016-01,528857.50
8,AUD,Experience Cloud,2016-02,367175.25
9,AUD,Experience Cloud,2016-03,974604.14
10,AUD,Experience Cloud,2016-04,284306.25
11,AUD,Experience Cloud,2016-05,127172.25
12,AUD,Experience Cloud,2016-06,1364965.00
13,AUD,Experience Cloud,2016-07,937308.26
14,AUD,Experience Cloud,2016-08,632113.75
15,AUD,Experience Cloud,2016-09,793855.90
16,AUD,Experience Cloud,2016-10,392077.97
17,AUD,Experience Cloud,2016-11,521839.06
18,AUD,Experience Cloud,2016-12,1087703.30
19,AUD,Experience Cloud,2017-01,446087.72
20,AUD,Experience Cloud,2017-02,437898.04
21,AUD,Experience Cloud,2017-03,1128552.21
22,AUD,Experience Cloud,2017-04,1189796.99
23,AUD,Experience Cloud,2017-05,779637.98
24,AUD,Experience Cloud,2017-06,1004742.45
25,AUD,Experience Cloud,2017-07,661578.04
26,AUD,Experience Cloud,2017-08,629725.21
27,AUD,Experience Cloud,2017-09,893618.49
28,AUD,Experience Cloud,2017-10,743779.84
29,AUD,Experience Cloud,2017-11,751522.89
...,...,...,...,...
472,USD,Experience Cloud,2018-02,7498637.74
473,USD,Experience Cloud,2018-03,17028146.38
474,USD,Experience Cloud,2018-04,7964285.97
475,USD,Experience Cloud,2018-05,9445957.90
476,USD,Experience Cloud,2018-06,14555149.57
477,USD,Experience Cloud,2018-07,6495441.91
478,USD,Experience Cloud,2018-08,6346523.70
479,USD,Experience Cloud,2018-09,16258782.58
480,USD,Experience Cloud,2018-10,7942455.55
481,USD,Experience Cloud,2018-11,8237286.98
482,USD,Experience Cloud,2018-12,13237985.64
483,USD,Experience Cloud,2019-01,6370783.88
484,USD,Experience Cloud,2019-02,6218119.56
485,USD,Experience Cloud,2019-03,14439153.81
486,USD,Print & Publishing,2015-09,150000.00
487,USD,Print & Publishing,2016-03,514000.00
488,USD,Print & Publishing,2016-06,108000.00
489,USD,Print & Publishing,2016-09,80000.00
490,USD,Print & Publishing,2016-12,40000.00
491,USD,Print & Publishing,2017-03,64700.00
492,USD,Print & Publishing,2017-06,37500.00
493,USD,Print & Publishing,2017-09,75000.00
494,USD,Print & Publishing,2017-11,200000.00
495,USD,Print & Publishing,2018-03,111517.50
496,USD,Print & Publishing,2018-06,127767.50
497,USD,Print & Publishing,2018-07,25000.00
498,USD,Print & Publishing,2018-09,478035.00
499,USD,Print & Publishing,2018-10,580000.00
500,USD,Print & Publishing,2018-11,230000.00
501,USD,Print & Publishing,2019-03,180000.00

# NOW WORKING ON DEFERRED BILLINGS

## Type B billings are service agreements that will have invoices submitted before the billings are reclassified to revenue. If no invoices are assigned to the billings, the billings become revenue in 12 months

In [34]:
# filter out the type B first then do a group_by
dfr_b = dfr[dfr['Revenue Recognition Category New']=='B']

In [37]:
gb_b = dfr_b.groupby(['Document Currency', 'Enterprise Bu', 'Invoicing Fiscal Year-Period Desc'], as_index=False).sum()

In [39]:
gb_b.drop(labels='Subscription Term', axis=1, inplace=True)

In [31]:
dfr.columns

Index(['Document Currency', 'Enterprise Bu', 'Frequency',
       'Invoicing Fiscal Year-Period Desc', 'Product Configtype ID',
       'Revenue Recognition Category New', 'Rule For Bill Date', 'Sales Type',
       'Subscription Term', 'Completed Sales Doc Currency'],
      dtype='object')

In [32]:
print(len(dfr))

22919

In [36]:
print(len(dfr_b))

997

In [40]:
gb_b

,Document Currency,Enterprise Bu,Invoicing Fiscal Year-Period Desc,Completed Sales Doc Currency
0,AUD,Creative,2017-10,8544.00
1,AUD,Document Cloud,2017-12,3283.20
2,AUD,Document Cloud,2018-06,3425.00
3,AUD,Document Cloud,2018-12,3425.00
4,AUD,Document Cloud,2019-03,4375.00
5,AUD,Experience Cloud,2015-06,258231.69
6,AUD,Experience Cloud,2015-07,261159.25
7,AUD,Experience Cloud,2015-08,270139.50
8,AUD,Experience Cloud,2015-09,482725.30
9,AUD,Experience Cloud,2015-10,287254.60
10,AUD,Experience Cloud,2015-11,329520.59
11,AUD,Experience Cloud,2015-12,195517.00
12,AUD,Experience Cloud,2016-01,358720.00
13,AUD,Experience Cloud,2016-02,65454.00
14,AUD,Experience Cloud,2016-03,534646.20
15,AUD,Experience Cloud,2016-04,130450.00
16,AUD,Experience Cloud,2016-05,143240.00
17,AUD,Experience Cloud,2016-06,437495.00
18,AUD,Experience Cloud,2016-07,401600.00
19,AUD,Experience Cloud,2016-08,273640.00
20,AUD,Experience Cloud,2016-09,840903.73
21,AUD,Experience Cloud,2016-10,128244.40
22,AUD,Experience Cloud,2016-11,209291.96
23,AUD,Experience Cloud,2016-12,793676.01
24,AUD,Experience Cloud,2017-01,242740.00
25,AUD,Experience Cloud,2017-02,-221320.00
26,AUD,Experience Cloud,2017-03,620760.05
27,AUD,Experience Cloud,2017-04,200115.00
28,AUD,Experience Cloud,2017-05,202819.25
29,AUD,Experience Cloud,2017-06,459890.15
...,...,...,...,...
449,USD,Experience Cloud,2016-12,7867585.50
450,USD,Experience Cloud,2017-01,1056658.12
451,USD,Experience Cloud,2017-02,6199130.04
452,USD,Experience Cloud,2017-03,6974861.28
453,USD,Experience Cloud,2017-04,2297170.15
454,USD,Experience Cloud,2017-05,3942984.59
455,USD,Experience Cloud,2017-06,4917375.84
456,USD,Experience Cloud,2017-07,3460266.15
457,USD,Experience Cloud,2017-08,2671959.35
458,USD,Experience Cloud,2017-09,7140596.79
459,USD,Experience Cloud,2017-10,3527341.85
460,USD,Experience Cloud,2017-11,6126827.78
461,USD,Experience Cloud,2017-12,12221088.97
462,USD,Experience Cloud,2018-01,3707952.26
463,USD,Experience Cloud,2018-02,7217760.65
464,USD,Experience Cloud,2018-03,6497013.78
465,USD,Experience Cloud,2018-04,4973566.80
466,USD,Experience Cloud,2018-05,3770254.72
467,USD,Experience Cloud,2018-06,9441845.12
468,USD,Experience Cloud,2018-07,6461714.06
469,USD,Experience Cloud,2018-08,8654059.04
470,USD,Experience Cloud,2018-09,5010336.88
471,USD,Experience Cloud,2018-10,5458403.14
472,USD,Experience Cloud,2018-11,4225141.01
473,USD,Experience Cloud,2018-12,6154416.04
474,USD,Experience Cloud,2019-01,8668923.94
475,USD,Experience Cloud,2019-02,8080873.59
476,USD,Experience Cloud,2019-03,5669205.18
477,USD,LiveCycle,2015-11,9860.00
478,USD,LiveCycle,2016-08,11600.00