### Converting new bookings forecasts for deferred revenue model

Since Karen Burgess changed roles, I now have two sources of data for the bookings forecast

DX - 
DME - 

The data files they provide are very different and I need to change them to get one bookings dataframe

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import pickle

### DME bookings

In [2]:
filename = '../data/DATA_2020_P12/DME Bookings FY21 Plan TM1 Fcst - 11.24.20.xlsx'
sheetname = 'Raw'
df_DME = pd.read_excel(filename, sheetname)

In [3]:
df_DME.head(10)

,Metrics,Profit center,Market Area,Market Segement,GTM,Q1 2021,Q2 2021,Q3 2021,Q4 2021,2021
0,Total Subscription Attrition,EB10 - Creative,AMER (G),COMMERCIAL,Corporate,-2.855757e+06,-1.698423e+06,-2.570227e+06,-2.675469e+06,-9.799875e+06
1,Total Subscription Attrition,EB10 - Creative,AMER (G),EDUCATION,Corporate,-2.594523e+05,-3.009332e+05,-1.303246e+06,-4.993909e+05,-2.363023e+06
2,Total Subscription Attrition,EB10 - Creative,AMER (G),GOVERNMENT,Corporate,-7.577563e+05,-3.878279e+05,-1.658787e+06,-2.342317e+06,-5.146689e+06
3,Total Subscription Attrition,EB10 - Creative,AMER (G),NON-PROFIT,Corporate,-2.833680e+03,0.000000e+00,-1.859105e+04,-3.333574e+03,-2.475830e+04
4,Total Subscription Attrition,EB10 - Creative,North America (R),COMMERCIAL,Corporate,-2.800217e+06,-1.634119e+06,-2.537039e+06,-2.658157e+06,-9.629531e+06
5,Total Subscription Attrition,EB10 - Creative,North America (R),EDUCATION,Corporate,-2.251662e+05,-2.722325e+05,-1.283530e+06,-4.740660e+05,-2.254994e+06
6,Total Subscription Attrition,EB10 - Creative,North America (R),GOVERNMENT,Corporate,-7.356189e+05,-3.865962e+05,-1.658020e+06,-2.324543e+06,-5.104778e+06
7,Total Subscription Attrition,EB10 - Creative,North America (R),NON-PROFIT,Corporate,-2.833680e+03,0.000000e+00,-1.859105e+04,-3.333574e+03,-2.475830e+04
8,Total Subscription Attrition,EB10 - Creative,Canada (MA),COMMERCIAL,Corporate,-3.714079e+04,-4.938637e+04,-1.162955e+05,-3.532906e+04,-2.381517e+05
9,Total Subscription Attrition,EB10 - Creative,Canada (MA),EDUCATION,Corporate,0.000000e+00,0.000000e+00,-1.162191e+05,-1.305358e+04,-1.292727e+05

In [4]:
# Clean Column Names
df_DME.columns

Index(['Metrics', 'Profit center', 'Market Area', 'Market Segement', 'GTM',
       'Q1 2021', 'Q2 2021', 'Q3 2021', 'Q4 2021', '2021'],
      dtype='object')

In [5]:
df_DME = df_DME.rename(columns = {'Metrics': 'metrics',
                        'Profit center': 'profit_center',
                        'Market Area': 'market_area',
                        'Market Segement': 'segment',
                        'Q1 2021':'Q1_2021',
                        'Q2 2021':'Q2_2021',
                        'Q3 2021':'Q3_2021',
                        'Q4 2021':'Q4_2021' 
                        })

In [6]:
df_DME['market_area'].value_counts()

United States (MA)           224
North America (R)            224
AMER (G)                     224
ASIA (G)                     180
ANZ (R)                      172
Aus and New Zealand (MA)     172
SEA (R)                      154
Southeast Asia (MA)          154
Korea (R)                    132
Korea (MA)                   132
Greater China (R)            130
EMEA (G)                     118
China (MA)                   116
Canada (MA)                  110
Northern Europe (R)          110
Central Europe (R)           109
Germany (MA)                 109
France (MA)                  108
India (MA)                   108
India (R)                    108
Southwest Europe (R)         108
Benelux (MA)                 108
United Kingdom (MA)          106
Switzerland (MA)             105
Italy (MA)                   104
Middle East (MA)             104
Iberica (MA)                 104
Nordic (MA)                  102
Hong Kong & Taiwan (MA)       98
SSA & Israel (MA)             88
Latin America (R)             82
Brazil (MA)                   82
Strat. Latin America (MA)     52
Japan (MA)                    50
Japan (R)                     50
JPN (G)                       50
Eastern Europe (MA)           48
Russia & CIS (MA)             44
Mexico (MA)                   24
Name: market_area, dtype: int64

## It looks like there are three seperate cuts of the data that are a hierarchy

1. G is GEO
2. R is region
3. MA is market Area

Going to split these into seperate sections and do successive fill forwards to cover all of them

In [7]:
# identify the characters in a string
df_DME['in_parens'] =  df_DME['market_area'].apply(lambda st: st[st.find("(")+1:st.find(")")])

In [8]:
df_DME['in_parens'].value_counts()

MA    2452
R     1379
G      572
Name: in_parens, dtype: int64

In [9]:
# now delete the parenthesis and the items between the parenthesis in the 'Market Area' column
df_DME.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4403 entries, 0 to 4402
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   metrics        4403 non-null   object
 1   profit_center  4403 non-null   object
 2   market_area    4403 non-null   object
 3   segment        4403 non-null   object
 4   GTM            4403 non-null   object
 5   Q1_2021        4403 non-null   float64
 6   Q2_2021        4403 non-null   float64
 7   Q3_2021        4403 non-null   float64
 8   Q4_2021        4403 non-null   float64
 9   2021           4403 non-null   float64
 10  in_parens      4403 non-null   object
dtypes: float64(5), object(6)
memory usage: 378.5+ KB

In [10]:
df_DME['market_area'] = df_DME['market_area'].apply(lambda st: st[0:st.find("(")-1])
df_DME.head(5)

,metrics,profit_center,market_area,segment,GTM,Q1_2021,Q2_2021,Q3_2021,Q4_2021,2021,in_parens
0,Total Subscription Attrition,EB10 - Creative,AMER,COMMERCIAL,Corporate,-2.855757e+06,-1.698423e+06,-2.570227e+06,-2.675469e+06,-9.799875e+06,G
1,Total Subscription Attrition,EB10 - Creative,AMER,EDUCATION,Corporate,-2.594523e+05,-3.009332e+05,-1.303246e+06,-4.993909e+05,-2.363023e+06,G
2,Total Subscription Attrition,EB10 - Creative,AMER,GOVERNMENT,Corporate,-7.577563e+05,-3.878279e+05,-1.658787e+06,-2.342317e+06,-5.146689e+06,G
3,Total Subscription Attrition,EB10 - Creative,AMER,NON-PROFIT,Corporate,-2.833680e+03,0.000000e+00,-1.859105e+04,-3.333574e+03,-2.475830e+04,G
4,Total Subscription Attrition,EB10 - Creative,North America,COMMERCIAL,Corporate,-2.800217e+06,-1.634119e+06,-2.537039e+06,-2.658157e+06,-9.629531e+06,R

In [11]:
df_DME['market_area'].value_counts()

Korea                   264
United States           224
North America           224
AMER                    224
India                   216
ASIA                    180
ANZ                     172
Aus and New Zealand     172
SEA                     154
Southeast Asia          154
Greater China           130
EMEA                    118
China                   116
Canada                  110
Northern Europe         110
Germany                 109
Central Europe          109
France                  108
Benelux                 108
Southwest Europe        108
United Kingdom          106
Switzerland             105
Italy                   104
Middle East             104
Iberica                 104
Nordic                  102
Japan                   100
Hong Kong & Taiwan       98
SSA & Israel             88
Brazil                   82
Latin America            82
Strat. Latin America     52
JPN                      50
Eastern Europe           48
Russia & CIS             44
Mexico                   24
Name: market_area, dtype: int64

In [12]:
df_DME.head(10)

,metrics,profit_center,market_area,segment,GTM,Q1_2021,Q2_2021,Q3_2021,Q4_2021,2021,in_parens
0,Total Subscription Attrition,EB10 - Creative,AMER,COMMERCIAL,Corporate,-2.855757e+06,-1.698423e+06,-2.570227e+06,-2.675469e+06,-9.799875e+06,G
1,Total Subscription Attrition,EB10 - Creative,AMER,EDUCATION,Corporate,-2.594523e+05,-3.009332e+05,-1.303246e+06,-4.993909e+05,-2.363023e+06,G
2,Total Subscription Attrition,EB10 - Creative,AMER,GOVERNMENT,Corporate,-7.577563e+05,-3.878279e+05,-1.658787e+06,-2.342317e+06,-5.146689e+06,G
3,Total Subscription Attrition,EB10 - Creative,AMER,NON-PROFIT,Corporate,-2.833680e+03,0.000000e+00,-1.859105e+04,-3.333574e+03,-2.475830e+04,G
4,Total Subscription Attrition,EB10 - Creative,North America,COMMERCIAL,Corporate,-2.800217e+06,-1.634119e+06,-2.537039e+06,-2.658157e+06,-9.629531e+06,R
5,Total Subscription Attrition,EB10 - Creative,North America,EDUCATION,Corporate,-2.251662e+05,-2.722325e+05,-1.283530e+06,-4.740660e+05,-2.254994e+06,R
6,Total Subscription Attrition,EB10 - Creative,North America,GOVERNMENT,Corporate,-7.356189e+05,-3.865962e+05,-1.658020e+06,-2.324543e+06,-5.104778e+06,R
7,Total Subscription Attrition,EB10 - Creative,North America,NON-PROFIT,Corporate,-2.833680e+03,0.000000e+00,-1.859105e+04,-3.333574e+03,-2.475830e+04,R
8,Total Subscription Attrition,EB10 - Creative,Canada,COMMERCIAL,Corporate,-3.714079e+04,-4.938637e+04,-1.162955e+05,-3.532906e+04,-2.381517e+05,MA
9,Total Subscription Attrition,EB10 - Creative,Canada,EDUCATION,Corporate,0.000000e+00,0.000000e+00,-1.162191e+05,-1.305358e+04,-1.292727e+05,MA

In [51]:
df_DME['pc_ID'] = df_DME['profit_center'].apply(lambda st: st[0:st.find('-')])
df_DME['pc_descr'] = df_DME['profit_center'].apply(lambda st: st[st.find('-')+1:])

In [53]:
df_DME.head()

,metrics,profit_center,market_area,segment,GTM,Q1_2021,Q2_2021,Q3_2021,Q4_2021,2021,in_parens,pc_ID,pc_descr
0,Total Subscription Attrition,EB10 - Creative,AMER,COMMERCIAL,Corporate,-2.855757e+06,-1.698423e+06,-2.570227e+06,-2.675469e+06,-9.799875e+06,G,EB10,Creative
1,Total Subscription Attrition,EB10 - Creative,AMER,EDUCATION,Corporate,-2.594523e+05,-3.009332e+05,-1.303246e+06,-4.993909e+05,-2.363023e+06,G,EB10,Creative
2,Total Subscription Attrition,EB10 - Creative,AMER,GOVERNMENT,Corporate,-7.577563e+05,-3.878279e+05,-1.658787e+06,-2.342317e+06,-5.146689e+06,G,EB10,Creative
3,Total Subscription Attrition,EB10 - Creative,AMER,NON-PROFIT,Corporate,-2.833680e+03,0.000000e+00,-1.859105e+04,-3.333574e+03,-2.475830e+04,G,EB10,Creative
4,Total Subscription Attrition,EB10 - Creative,North America,COMMERCIAL,Corporate,-2.800217e+06,-1.634119e+06,-2.537039e+06,-2.658157e+06,-9.629531e+06,R,EB10,Creative

## It looks like there are three seperate cuts of the data that are a hierarchy

1. G is GEO
2. R is region
3. MA is market Area

Going to split these into seperate sections and do successive fill forwards to cover all of them

adding columns geo, region, market_area (which already exists)

In [54]:
df_DME['geo'] = df_DME[df_DME['in_parens']=='G']['market_area']

In [57]:
df_DME['geo'] =df_DME['geo'].ffill()

In [59]:
df_DME['geo'].value_counts()

ASIA    1656
EMEA    1575
AMER    1022
JPN      150
Name: geo, dtype: int64

### Working on the region now
Note: There will be a problem with the geo values here. They will all contain a region even if they are subtotals. This is OK because we will only be using the market area data and can recreate the region and geo data thanks to the new columns we have created

In [62]:
df_DME['region'] = df_DME[df_DME['in_parens']=='R']['market_area']
df_DME['region'] = df_DME['region'].ffill()
df_DME['region'].value_counts(dropna=False)

Southwest Europe    598
North America       566
Northern Europe     510
SEA                 424
Latin America       418
Central Europe      415
ANZ                 344
Greater China       344
Japan               300
Korea               264
India               216
NaN                   4
Name: region, dtype: int64

#### Now we only want to keep the market areas

In [68]:
df_test = df_DME[df_DME['in_parens']=='MA']
df_test['market_area'].value_counts(dropna=False)

United States           224
Aus and New Zealand     172
Southeast Asia          154
Korea                   132
China                   116
Canada                  110
Germany                 109
France                  108
Benelux                 108
India                   108
United Kingdom          106
Switzerland             105
Iberica                 104
Italy                   104
Middle East             104
Nordic                  102
Hong Kong & Taiwan       98
SSA & Israel             88
Brazil                   82
Strat. Latin America     52
Japan                    50
Eastern Europe           48
Russia & CIS             44
Mexico                   24
Name: market_area, dtype: int64

In [69]:
len(df_test)

2452

In [70]:
df_test.head(20)

,metrics,profit_center,market_area,segment,GTM,Q1_2021,Q2_2021,Q3_2021,Q4_2021,2021,in_parens,pc_ID,pc_descr,geo,region
8,Total Subscription Attrition,EB10 - Creative,Canada,COMMERCIAL,Corporate,-3.714079e+04,-4.938637e+04,-1.162955e+05,-3.532906e+04,-2.381517e+05,MA,EB10,Creative,AMER,North America
9,Total Subscription Attrition,EB10 - Creative,Canada,EDUCATION,Corporate,0.000000e+00,0.000000e+00,-1.162191e+05,-1.305358e+04,-1.292727e+05,MA,EB10,Creative,AMER,North America
10,Total Subscription Attrition,EB10 - Creative,Canada,GOVERNMENT,Corporate,-1.073110e+05,-5.261821e+04,-4.332915e+04,-1.879336e+04,-2.220517e+05,MA,EB10,Creative,AMER,North America
11,Total Subscription Attrition,EB10 - Creative,United States,COMMERCIAL,Corporate,-2.763076e+06,-1.584732e+06,-2.420743e+06,-2.622828e+06,-9.391380e+06,MA,EB10,Creative,AMER,North America
12,Total Subscription Attrition,EB10 - Creative,United States,EDUCATION,Corporate,-2.251662e+05,-2.722325e+05,-1.167310e+06,-4.610124e+05,-2.125721e+06,MA,EB10,Creative,AMER,North America
13,Total Subscription Attrition,EB10 - Creative,United States,GOVERNMENT,Corporate,-6.283078e+05,-3.339779e+05,-1.614691e+06,-2.305750e+06,-4.882727e+06,MA,EB10,Creative,AMER,North America
14,Total Subscription Attrition,EB10 - Creative,United States,NON-PROFIT,Corporate,-2.833680e+03,0.000000e+00,-1.859105e+04,-3.333574e+03,-2.475830e+04,MA,EB10,Creative,AMER,North America
18,Total Subscription Attrition,EB10 - Creative,Brazil,COMMERCIAL,Corporate,-2.103883e+04,-5.528504e+04,-3.318796e+04,-1.140278e+04,-1.209146e+05,MA,EB10,Creative,AMER,Latin America
19,Total Subscription Attrition,EB10 - Creative,Brazil,EDUCATION,Corporate,-1.743558e+04,-1.517062e+04,-5.544735e+03,-1.185218e+04,-5.000312e+04,MA,EB10,Creative,AMER,Latin America
20,Total Subscription Attrition,EB10 - Creative,Brazil,GOVERNMENT,Corporate,-8.391252e+03,-1.231779e+03,-7.668500e+02,-1.777459e+04,-2.816447e+04,MA,EB10,Creative,AMER,Latin America
21,Total Subscription Attrition,EB10 - Creative,Mexico,COMMERCIAL,Corporate,-8.955983e+03,0.000000e+00,0.000000e+00,0.000000e+00,-8.955983e+03,MA,EB10,Creative,AMER,Latin America
22,Total Subscription Attrition,EB10 - Creative,Mexico,EDUCATION,Corporate,-1.685053e+04,-1.074323e+04,0.000000e+00,-9.129548e+03,-3.672330e+04,MA,EB10,Creative,AMER,Latin America
23,Total Subscription Attrition,EB10 - Creative,Strat. Latin America,COMMERCIAL,Corporate,-2.554510e+04,-9.018738e+03,0.000000e+00,-5.909060e+03,-4.047290e+04,MA,EB10,Creative,AMER,Latin America
24,Total Subscription Attrition,EB10 - Creative,Strat. Latin America,EDUCATION,Corporate,0.000000e+00,-2.786830e+03,-1.417209e+04,-4.343230e+03,-2.130215e+04,MA,EB10,Creative,AMER,Latin America
25,Total Subscription Attrition,EB10 - Creative,Strat. Latin America,GOVERNMENT,Corporate,-1.374615e+04,0.000000e+00,0.000000e+00,0.000000e+00,-1.374615e+04,MA,EB10,Creative,AMER,Latin America
32,Total Subscription Attrition,EB10 - Creative,Aus and New Zealand,COMMERCIAL,Strategic,-5.651005e+04,-1.494342e+04,-7.344274e+04,-7.185902e+04,-2.167552e+05,MA,EB10,Creative,ASIA,ANZ
33,Total Subscription Attrition,EB10 - Creative,Aus and New Zealand,EDUCATION,Strategic,-9.717701e+03,-4.895124e+04,-3.923695e+03,-6.751510e+04,-1.301077e+05,MA,EB10,Creative,ASIA,ANZ
34,Total Subscription Attrition,EB10 - Creative,Aus and New Zealand,GOVERNMENT,Strategic,-1.914953e+04,-4.672634e+04,-1.749999e+04,-3.069184e+04,-1.140677e+05,MA,EB10,Creative,ASIA,ANZ
37,Total Subscription Attrition,EB10 - Creative,China,COMMERCIAL,Strategic,-5.476843e+04,-1.310083e+05,-5.778448e+04,-7.186570e+04,-3.154269e+05,MA,EB10,Creative,ASIA,Greater China
38,Total Subscription Attrition,EB10 - Creative,China,EDUCATION,Strategic,-2.866720e+03,-3.718800e+03,-6.147400e+03,-1.729251e+04,-3.002543e+04,MA,EB10,Creative,ASIA,Greater China

In [71]:
df_test = df_test.drop(columns=['profit_center', 'in_parens' ])

In [73]:
df_test.head()

,metrics,market_area,segment,GTM,Q1_2021,Q2_2021,Q3_2021,Q4_2021,2021,pc_ID,pc_descr,geo,region
8,Total Subscription Attrition,Canada,COMMERCIAL,Corporate,-3.714079e+04,-4.938637e+04,-1.162955e+05,-3.532906e+04,-2.381517e+05,EB10,Creative,AMER,North America
9,Total Subscription Attrition,Canada,EDUCATION,Corporate,0.000000e+00,0.000000e+00,-1.162191e+05,-1.305358e+04,-1.292727e+05,EB10,Creative,AMER,North America
10,Total Subscription Attrition,Canada,GOVERNMENT,Corporate,-1.073110e+05,-5.261821e+04,-4.332915e+04,-1.879336e+04,-2.220517e+05,EB10,Creative,AMER,North America
11,Total Subscription Attrition,United States,COMMERCIAL,Corporate,-2.763076e+06,-1.584732e+06,-2.420743e+06,-2.622828e+06,-9.391380e+06,EB10,Creative,AMER,North America
12,Total Subscription Attrition,United States,EDUCATION,Corporate,-2.251662e+05,-2.722325e+05,-1.167310e+06,-4.610124e+05,-2.125721e+06,EB10,Creative,AMER,North America