# Testing the intermediate files created in the deferred revenue model

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import pickle

In [2]:
file_path = '../data/Data_2020_p09/processed/intermediate/'
first_file = file_path + 'int_output_5.p'

In [3]:
with open(first_file, 'rb') as f:
    base_bill_dict = pickle.load(f)

In [4]:
base_bill_dict.keys()

dict_keys(['model_dict', 'billings', 'ADBE_cal', 'bookings', 'FX_forwards', 'FX_rates', 'forecast'])

In [5]:
bookings = base_bill_dict['bookings']

In [6]:
bookings

,BU,curr,Q1,Q2,Q3,Q4,P01,P02,P03,P04,...,P03_DC,P04_DC,P05_DC,P06_DC,P07_DC,P08_DC,P09_DC,P10_DC,P11_DC,P12_DC
0,Experience Cloud,USD,5.686897e+07,6.343485e+07,5.315424e+07,7.105378e+07,2.061340e+07,2.142339e+07,1.483218e+07,2.848919e+07,...,1.483218e+07,2.848919e+07,2.092736e+07,1.401831e+07,1.504407e+07,1.299243e+07,2.511773e+07,2.369840e+07,2.140128e+07,2.595410e+07
1,Experience Cloud,EUR,5.726097e+06,1.109360e+07,1.543202e+07,2.531867e+07,1.231292e+06,2.995893e+06,1.498912e+06,3.686501e+06,...,1.293688e+06,3.181764e+06,2.378913e+06,4.014042e+06,5.669010e+06,3.775859e+06,3.874277e+06,8.170144e+06,4.798109e+06,8.883909e+06
2,Experience Cloud,GBP,8.270536e+05,4.443514e+06,9.849607e+06,1.806999e+07,2.090339e+05,2.348144e+05,3.832052e+05,1.261933e+06,...,3.009617e+05,9.910971e+05,1.189403e+06,1.309347e+06,3.620959e+06,2.363759e+06,1.750967e+06,4.631754e+06,3.372335e+06,6.187717e+06
3,Experience Cloud,JPY,5.804812e+05,1.386190e+06,1.918951e+06,7.315280e+06,2.057727e+05,2.434009e+05,1.313076e+05,2.516128e+05,...,1.407075e+07,2.696250e+07,1.094525e+08,1.212731e+07,7.733927e+07,8.620560e+07,4.208743e+07,1.666281e+08,3.320200e+08,2.852478e+08
4,Experience Cloud,AUD,4.430763e+06,1.074917e+07,5.304536e+06,8.433835e+06,1.447371e+06,1.428955e+06,1.554436e+06,3.554539e+06,...,2.178545e+06,4.981693e+06,4.897214e+06,5.186079e+06,1.134386e+06,2.962374e+06,3.337558e+06,3.116861e+06,2.722309e+06,5.980866e+06
5,Creative,USD,3.108810e+07,2.158878e+07,3.879021e+07,4.771430e+07,1.055113e+07,7.772652e+06,1.276432e+07,6.851764e+06,...,1.276432e+07,6.851764e+06,5.285790e+06,9.451229e+06,1.064574e+07,9.561931e+06,1.858254e+07,1.339104e+07,1.356522e+07,2.075804e+07
6,Creative,EUR,7.196467e+06,7.136804e+06,7.049830e+06,1.708626e+07,2.395579e+06,1.979035e+06,2.821853e+06,2.164558e+06,...,2.435499e+06,1.868197e+06,1.632208e+06,2.659263e+06,2.062761e+06,1.676521e+06,2.345320e+06,3.264893e+06,3.262237e+06,8.219764e+06
7,Creative,GBP,2.163545e+06,1.622120e+06,2.261655e+06,4.194835e+06,7.727837e+05,5.992638e+05,7.914976e+05,4.470464e+05,...,6.216264e+05,3.511013e+05,3.950975e+05,5.277819e+05,4.264662e+05,3.806515e+05,9.691407e+05,1.050251e+06,8.292237e+05,1.415065e+06
8,Creative,JPY,2.466702e+06,5.101532e+06,3.422421e+06,6.046827e+06,6.809841e+05,5.853668e+05,1.200351e+06,1.385596e+06,...,1.286281e+08,1.484787e+08,1.825079e+08,2.156870e+08,9.789324e+07,1.165919e+08,1.522570e+08,1.999996e+08,1.352159e+08,3.127546e+08
9,Creative,AUD,1.532729e+06,1.636074e+06,2.146080e+06,3.460680e+06,4.953288e+05,3.695160e+05,6.678842e+05,4.376331e+05,...,9.360411e+05,6.133436e+05,6.929126e+05,9.867051e+05,8.823667e+05,9.997973e+05,1.125572e+06,1.198305e+06,1.061712e+06,2.590132e+06
10,Document Cloud,USD,1.771112e+07,2.028562e+07,3.739349e+07,4.705969e+07,5.653088e+06,4.220143e+06,7.837885e+06,5.277455e+06,...,7.837885e+06,5.277455e+06,5.938658e+06,9.069506e+06,1.289848e+07,8.284001e+06,1.621101e+07,1.121392e+07,1.397988e+07,2.186589e+07
11,Document Cloud,EUR,2.995354e+06,4.469263e+06,8.304061e+06,1.591272e+07,9.690564e+05,9.479492e+05,1.078349e+06,1.005016e+06,...,9.307065e+05,8.674142e+05,1.007343e+06,1.982597e+06,2.667477e+06,1.675490e+06,2.824144e+06,2.280434e+06,2.543992e+06,8.909601e+06
12,Document Cloud,GBP,2.069625e+06,1.930911e+06,6.499246e+06,7.655713e+06,9.139363e+05,4.766393e+05,6.790491e+05,3.754604e+05,...,5.333116e+05,2.948791e+05,4.551069e+05,7.665129e+05,2.129937e+06,1.171085e+06,1.803356e+06,1.737699e+06,1.664129e+06,2.610815e+06
13,Document Cloud,JPY,1.125937e+06,1.658790e+06,9.684530e+05,2.764457e+06,2.440994e+05,1.686697e+05,7.131676e+05,3.940745e+05,...,7.642211e+07,4.222851e+07,6.661801e+07,6.890726e+07,3.299706e+07,2.547944e+07,4.530166e+07,6.342231e+07,8.495210e+07,1.478612e+08
14,Document Cloud,AUD,8.773844e+05,1.519352e+06,1.808703e+06,2.210368e+06,3.178284e+05,1.916058e+05,3.679503e+05,4.181282e+05,...,5.156831e+05,5.860076e+05,5.344127e+05,1.008954e+06,7.379134e+05,8.671746e+05,9.298134e+05,7.901264e+05,6.531202e+05,1.654588e+06
15,Print & Publishing,USD,1.310532e+06,1.998383e+06,1.643000e+06,2.379000e+06,2.935396e+05,3.322764e+05,6.847160e+05,4.543594e+05,...,6.847160e+05,4.543594e+05,5.913932e+05,9.526306e+05,4.469453e+05,3.095752e+05,8.864795e+05,7.620315e+05,6.698183e+05,9.471502e+05
16,Print & Publishing,EUR,3.103351e+05,1.432046e+05,1.635520e+05,2.437952e+05,1.194627e+05,1.034832e+05,8.738919e+04,4.700989e+04,...,7.542430e+04,4.057353e+04,3.466117e+04,4.836308e+04,4.204226e+04,3.358138e+04,6.553567e+04,4.190074e+04,4.028439e+04,1.282308e+05
17,Print & Publishing,GBP,7.150075e+04,0.000000e+00,0.000000e+00,0.000000e+00,3.225123e+04,1.530674e+04,2.394277e+04,0.000000e+00,...,1.880418e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
18,Print & Publishing,JPY,4.396073e+03,0.000000e+00,0.000000e+00,0.000000e+00,1.772022e+03,1.883790e+03,7.402607e+02,0.000000e+00,...,7.932537e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
19,Print & Publishing,AUD,4.744716e+04,1.700933e+05,1.125591e+05,4.220965e+04,1.208451e+04,1.162035e+04,2.374231e+04,1.323553e+04,...,3.327489e+04,1.854962e+04,8.989458e+04,1.299419e+05,5.551911e+04,5.461428e+04,4.761835e+04,8.162645e+03,7.364195e+03,4.363006e+04

In [7]:
bookings.columns

Index(['BU', 'curr', 'Q1', 'Q2', 'Q3', 'Q4', 'P01', 'P02', 'P03', 'P04', 'P05',
       'P06', 'P07', 'P08', 'P09', 'P10', 'P11', 'P12', 'FX_fwd_rate',
       'P01_DC', 'P02_DC', 'P03_DC', 'P04_DC', 'P05_DC', 'P06_DC', 'P07_DC',
       'P08_DC', 'P09_DC', 'P10_DC', 'P11_DC', 'P12_DC'],
      dtype='object')

In [5]:
df= base_bill_dict['df']
df_no_POB = base_bill_dict['df_no_POB']
df_a_no_config = base_bill_dict['df_a_no_config']
df_d_no_rebill = base_bill_dict['gb_d_no_rebill']

In [8]:
df_no_POB.columns

Index(['curr', 'BU', 'period', 'POB_type', 'config', 'rev_req_type',
       'rebill_rule', 'sales_doc', 'sales_type', 'sub_term', 'DC_amount',
       'US_amount'],
      dtype='object')

In [9]:
df_no_POB.head(10)

,curr,BU,period,POB_type,config,rev_req_type,rebill_rule,sales_doc,sales_type,sub_term,DC_amount,US_amount
1,ARS,Creative,2019-03,NaN,MTHLY,D,Y3,ZCSB,DEFERRED,1,44578.0,1142.30
4,ARS,Creative,2019-03,NaN,MTHLY,D,Y3,ZCSB,DEFERRED,1,1221.0,31.07
6,ARS,Creative,2019-03,NaN,1Y,D,Y3,ZCSB,DEFERRED,1,339791.0,8736.50
7,ARS,Creative,2019-03,NaN,1Y,D,YA,ZCSB,DEFERRED,12,213492.0,5484.69
8,ARS,Creative,2019-03,NaN,1Y,D,Y3,ZCSB,DEFERRED,1,33975.0,864.69
9,ARS,Creative,2019-03,NaN,1Y,D,YA,ZCSB,DEFERRED,12,27888.0,709.76
10,ARS,Creative,2019-04,NaN,MTHLY,D,Y3,ZCSB,DEFERRED,1,128986.0,3186.33
14,ARS,Creative,2019-04,NaN,MTHLY,D,Y3,ZCSB,DEFERRED,1,56541.0,1383.60
16,ARS,Creative,2019-04,NaN,MTHLY,D,Y3,ZCSB,DEFERRED,1,3411.0,83.50
17,ARS,Creative,2019-04,NaN,1Y,D,Y3,ZCSB,DEFERRED,1,1662343.0,40977.16

In [14]:
sum_US = 0
for col in df.columns:
    if '_US' in col:
        print(col)
        print(df[col].sum())
        sum_US += df[col].sum()
        
sum_US

recognized_US
2280762808.0544
service_US
496659888.75
deferred_3M_US
1430217054.8175
deferred_6M_US
158585027.16979998
deferred_1M_US
503844135.16999996
deferred_1Y_US
14790899698.503199
deferred_2Y_US
21627865.830000002
deferred_3Y_US
5708046.71

19688304525.004898

In [15]:
37435.7 - 17697.4-104.6

19633.699999999997

## <font color='red'> My base billings are off by about $50M
The total of all billings in excel is 37,435.7M

The total of my No POB = 17,697.4M

The total of the type A no config is 104.6M

The cell above returns 19,633M of billings that should be in here.

I have 19,688M in here.

Part of this is the type D no configs. My program returns nothing in this list, but I can see negative 28.8M in the spreadsheet. Not sure where this is dropping!!!!

Small so moving on

In [6]:
df_no_POB.head(3)

,curr,BU,period,POB_type,config,rev_req_type,rebill_rule,sales_doc,sales_type,sub_term,DC_amount,US_amount
1,ARS,Creative,2019-03,NaN,MTHLY,D,Y3,ZCSB,DEFERRED,1,44578.0,1142.30
4,ARS,Creative,2019-03,NaN,MTHLY,D,Y3,ZCSB,DEFERRED,1,1221.0,31.07
6,ARS,Creative,2019-03,NaN,1Y,D,Y3,ZCSB,DEFERRED,1,339791.0,8736.50

In [10]:
df_no_POB['POB_type'].value_counts()

Series([], Name: POB_type, dtype: int64)

In [7]:
df_no_POB['US_amount'].sum()

17697370562.62

In [8]:
model_dict = base_bill_dict['model_dict']
model_dict

{'curr_removed': ['BMD', 'PLN', 'AED', 'MXP']}

In [9]:
df_a_no_config.sample(30)

,curr,BU,period,config,sub_term,DC_amount,US_amount
2964,USD,Creative,2020-05,Blank,0,265945.87,265945.87
821,EUR,Creative,2017-04,Blank,0,12570.00,13309.05
2665,SEK,Experience Cloud,2018-03,Blank,0,88000.00,11071.28
1345,EUR,Other Solutions,2019-03,OUNIV,0,11377.40,12925.96
910,EUR,Creative,2018-10,Blank,0,8640.00,10023.66
2333,JPY,Document Cloud,2018-09,Blank,12,-815313.00,-7343.30
1905,GBP,Other Solutions,2017-12,OUNIV,0,1519.40,2001.96
41,AUD,Creative,2017-12,Blank,0,377192.28,286590.68
3604,USD,Print & Publishing,2019-03,Blank,12,30510.00,30510.00
3058,USD,Document Cloud,2017-11,Blank,0,10418.00,10418.00
1201,EUR,Experience Cloud,2017-03,Blank,0,920.00,983.08
1212,EUR,Experience Cloud,2017-06,ONORE,0,7500.00,8404.80
797,DKK,Other Solutions,2018-01,OUNIV,0,12563.20,1987.00
424,AUD,Other Solutions,2020-09,OUNIV,0,3490.16,2500.77
3470,USD,Other Solutions,2019-12,OUNIV,0,40250.00,40250.00
917,EUR,Creative,2018-11,Blank,0,59410.00,68646.91
2984,USD,Creative,2020-08,Blank,0,514536.40,514536.40
398,AUD,Experience Cloud,2019-10,Blank,0,5000.00,3411.70
609,CAD,Experience Cloud,2018-11,Blank,12,630.00,483.61
2750,USD,Creative,2017-10,Blank,0,84779.00,84779.00
3219,USD,Document Cloud,2020-01,Blank,0,550.00,550.00
3010,USD,DX Other,2018-10,Blank,0,1880273.47,1880273.47
1198,EUR,Experience Cloud,2017-02,Blank,12,0.00,0.00
2743,USD,Creative,2017-09,Blank,0,1162590.49,1162590.49
2881,USD,Creative,2019-05,Blank,0,430438.67,430438.67
551,BRL,Document Cloud,2018-09,Blank,12,-13312.62,-3469.80
3616,USD,Print & Publishing,2019-05,Blank,12,22770.00,22770.00
1577,GBP,Creative,2017-11,Blank,0,75000.00,98991.00
1104,EUR,Document Cloud,2018-12,Blank,1,-69.90,-79.84
1728,GBP,Document Cloud,2018-01,Blank,12,-5554.81,-7441.92

In [10]:
df_a_no_config['US_amount'].sum()

104619268.04

In [11]:
df_d_no_rebill

Empty DataFrame
Columns: [curr, BU, period, rebill_rule, sales_doc, DC_amount, US_amount]
Index: []

# Working on the output after the no_POB is classified

In [16]:
file_path = '../data/Data_2020_p09/processed/intermediate/'
first_file = file_path + 'int_output_2.p'

In [17]:
with open(first_file, 'rb') as f:
    base_bill_dict = pickle.load(f)

In [18]:
base_bill_dict.keys()

dict_keys(['df_no_POB', 'gb_a_no_config_2', 'df_d_no_rebill', 'df', 'df_A_no_config'])

In [19]:
df= base_bill_dict['df']
df_no_POB = base_bill_dict['df_no_POB']
gb_a_no_config2 = base_bill_dict['gb_a_no_config_2']
df_d_no_rebill = base_bill_dict['df_d_no_rebill']
df_A_no_config = base_bill_dict['df_A_no_config']

In [20]:
df_no_POB.head(3)

,curr,BU,period,recognized_DC,recognized_US,service_DC,service_US,deferred_3M_DC,deferred_3M_US,deferred_6M_DC,deferred_6M_US,deferred_1M_DC,deferred_1Y_DC,deferred_2Y_DC,deferred_3Y_DC,deferred_1M_US,deferred_1Y_US,deferred_2Y_US,deferred_3Y_US
0,ARS,Creative,2019-07,13960.0,321.64,0.0,0.0,0.0,0.0,0.0,0.0,6453291.31,953875.89,0.0,0.0,146091.12,21566.14,0.0,0.0
1,ARS,Creative,2019-08,13960.0,332.11,0.0,0.0,0.0,0.0,0.0,0.0,7305797.08,963180.00,0.0,0.0,173274.71,22781.91,0.0,0.0
2,ARS,Creative,2019-10,13960.0,247.09,0.0,0.0,0.0,0.0,0.0,0.0,10302933.07,1318346.81,0.0,0.0,181706.80,23376.52,0.0,0.0

In [21]:
whos

Variable          Type              Data/Info
---------------------------------------------
base_bill_dict    dict              n=5
df                DataFrame              curr                <...>n[3345 rows x 19 columns]
df_A_no_config    DataFrame             curr                 <...>n\n[815 rows x 6 columns]
df_a_no_config    DataFrame              curr                <...>n\n[885 rows x 7 columns]
df_d_no_rebill    DataFrame         Empty DataFrame\nColumns:<...>nt, US_amount]\nIndex: []
df_no_POB         DataFrame              curr              BU<...>n[2845 rows x 19 columns]
f                 BufferedReader    <_io.BufferedReader name=<...>rmediate/int_output_2.p'>
file_path         str               ../data/Data_2020_p09/processed/intermediate/
first_file        str               ../data/Data_2020_p09/pro<...>termediate/int_output_2.p
gb_a_no_config2   DataFrame             curr                 <...>n\n[286 rows x 7 columns]
np                module            <module 'numpy' from '/Us<...>kages/numpy/__init__.py'>
pd                module            <module 'pandas' from '/U<...>ages/pandas/__init__.py'>
pickle            module            <module 'pickle' from '/U<...>lib/python3.7/pickle.py'>
plt               module            <module 'matplotlib.pyplo<...>es/matplotlib/pyplot.py'>

In [22]:
df_A_no_config['US_amount'].sum()

279704918.97

In [23]:
df_a_no_config['US_amount'].sum()

104619268.04

In [25]:
gb_a_no_config2['US_amount'].sum()

175085650.93

In [26]:
df_d_no_rebill['US_amount'].sum()

0.0

In [31]:
sum_US = 0
for col in df.columns:
    if '_US' in col:
        print(col)
        print(df[col].sum())
        sum_US += df[col].sum()
        
sum_US

recognized_US
4830043161.934401
service_US
486905445.09999996
deferred_3M_US
1446986587.6475
deferred_6M_US
158524286.39980003
deferred_1M_US
11901521139.849998
deferred_1Y_US
18359507797.833202
deferred_2Y_US
21301091.259999998
deferred_3Y_US
5959784.39

37210749294.41491

# Now bilings that contain type A no config data

In [32]:
file_path = '../data/Data_2020_p09/processed/intermediate/'
first_file = file_path + 'int_output_3.p'

with open(first_file, 'rb') as f:
    billings = pickle.load(f)

,curr,BU,period,recognized_DC,recognized_US,service_DC,service_US,_merge,deferred_1M_DC,deferred_3M_DC,deferred_6M_DC,deferred_1Y_DC,deferred_2Y_DC,deferred_3Y_DC,deferred_1M_US,deferred_3M_US,deferred_6M_US,deferred_1Y_US,deferred_2Y_US,deferred_3Y_US
0,ARS,Creative,2019-03,0.000000e+00,0.000000e+00,0.0,0.0,left_only,4.195650e+05,0.00,0.00,2.413800e+05,0.00,0.0,10774.560000,0.00,0.00,6.194450e+03,0.00,0.0
1,ARS,Creative,2019-04,0.000000e+00,0.000000e+00,0.0,0.0,left_only,1.894409e+06,0.00,0.00,1.112854e+06,0.00,0.0,46686.260000,0.00,0.00,2.748658e+04,0.00,0.0
2,ARS,Creative,2019-05,0.000000e+00,0.000000e+00,0.0,0.0,left_only,3.205378e+06,0.00,0.00,1.595808e+06,0.00,0.0,75114.300000,0.00,0.00,3.731965e+04,0.00,0.0
3,ARS,Creative,2019-06,0.000000e+00,0.000000e+00,0.0,0.0,left_only,5.731934e+06,0.00,0.00,1.654238e+06,0.00,0.0,128084.890000,0.00,0.00,3.692324e+04,0.00,0.0
4,ARS,Creative,2019-07,2.074600e+04,4.767600e+02,0.0,0.0,left_only,6.453291e+06,0.00,0.00,9.538759e+05,0.00,0.0,146091.120000,0.00,0.00,2.156614e+04,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3340,USD,Print & Publishing,2020-05,1.775206e+06,1.775206e+06,0.0,0.0,both,3.592595e+05,200125.00,2700.00,8.832008e+06,115691.81,0.0,359259.516522,200125.00,2700.00,8.832008e+06,115691.81,0.0
3341,USD,Print & Publishing,2020-06,1.048666e+07,1.048666e+07,50000.0,50000.0,both,4.489560e+05,167733.16,77198.53,1.422681e+07,60000.50,0.0,448955.973750,167733.16,77198.53,1.422681e+07,60000.50,0.0
3342,USD,Print & Publishing,2020-07,1.045314e+06,1.045314e+06,0.0,0.0,both,3.570000e+05,108318.18,1481.88,5.962815e+06,21571.00,0.0,357000.031429,108318.18,1481.88,5.962815e+06,21571.00,0.0
3343,USD,Print & Publishing,2020-08,2.108215e+06,2.108215e+06,0.0,0.0,both,4.258866e+05,212127.80,54586.07,6.878627e+06,17412.00,0.0,424358.290000,198431.04,54586.08,6.878627e+06,17412.00,0.0
3344,USD,Print & Publishing,2020-09,6.935575e+06,6.935575e+06,0.0,0.0,both,4.875714e+05,144300.66,22481.50,1.744350e+07,44535.00,0.0,487571.378824,157997.42,22481.50,1.744350e+07,44535.00,0.0

In [35]:
sum_US = 0
for col in billings.columns:
    if '_US' in col:
        print(col)
        print(billings[col].sum())
        sum_US += billings[col].sum()
        
sum_US

recognized_US
4830043161.934401
service_US
486905445.09999996
deferred_1M_US
12157162372.77056
deferred_3M_US
1469108372.7171922
deferred_6M_US
203584355.84477165
deferred_1Y_US
18500261092.93284
deferred_2Y_US
22224659.091999996
deferred_3Y_US
7557358.825641025

37676846819.21741

In [38]:
sum_US - 37210749294.41491

466097524.80249786