# Testing the intermediate files created in the deferred revenue model

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import pickle

In [11]:
file_path = '../data/Data_2020_p09/processed/intermediate/'
first_file = file_path + 'int_output_1.p'

In [12]:
with open(first_file, 'rb') as f:
    base_bill_dict = pickle.load(f)

In [13]:
base_bill_dict.keys()

dict_keys(['df', 'model_dict', 'df_no_POB', 'df_a_no_config', 'gb_d_no_rebill'])

In [14]:
df= base_bill_dict['df']
df_no_POB = base_bill_dict['df_no_POB']
df_a_no_config = base_bill_dict['df_a_no_config']
df_d_no_rebill = base_bill_dict['gb_d_no_rebill']

In [15]:
df_no_POB.head(3)

,curr,BU,period,POB_type,config,rev_req_type,rebill_rule,sales_doc,sales_type,sub_term,DC_amount,US_amount
3,AUD,Creative,2017-11,NaN,1Y,D,YA,ZCC,DEFERRED,12,13363.20,10429.98
5,AUD,Creative,2017-12,NaN,1Y,D,YA,ZCC,DEFERRED,0,794060.28,603422.29
6,AUD,Creative,2017-12,NaN,1Y,D,YA,ZCC,DEFERRED,12,-13363.20,-10153.36

In [16]:
df_no_POB['US_amount'].sum()

17697370562.620003

In [21]:
len(df_a_no_config)

154

In [25]:
df_a_no_config.tail(10)

     curr               BU   period config  sub_term  DC_amount  US_amount
2833  USD  Other Solutions  2019-12  OUNIV         0    40250.0    40250.0
2834  USD  Other Solutions  2020-01  OUNIV         0    12250.0    12250.0
2835  USD  Other Solutions  2020-02  OUNIV         0     4875.0     4875.0
2836  USD  Other Solutions  2020-03  OUNIV         0    35250.0    35250.0
2837  USD  Other Solutions  2020-04  OUNIV         0    11250.0    11250.0
2838  USD  Other Solutions  2020-05  OUNIV         0     2500.0     2500.0
2839  USD  Other Solutions  2020-06  OUNIV         0     6250.0     6250.0
2840  USD  Other Solutions  2020-07  OUNIV         0    16250.0    16250.0
2841  USD  Other Solutions  2020-08  OUNIV         0    41750.0    41750.0
2842  USD  Other Solutions  2020-09  OUNIV         0    74000.0    74000.0

In [22]:
df_a_no_config['US_amount'].sum()

2531818.25

## df_a_no_config is jacked up somehow
Total from my sheet =

In [ ]:
df = this_dict['df']
df_no_POB = this_dict['df_no_POB']
df_a_no_config = this_dict['df_a_no_config']

In [ ]:
a_no_config_USD = df_a_no_config['US_amount'].sum()
a_no_config_USD

In [ ]:
df_no_POB['US_amount'].sum()

In [26]:
keepers = ['MTHLY', '1Y', '2Y', '3Y']
list_all = ['MTHLY', '1Y', '2Y', '3Y', 'OCONS', '', 'OUNIV']

In [32]:
df_1 = pd.DataFrame({'col_1': list_all, 
                    'col_2': np.random.rand(len(list_all))})
df_1

   col_1     col_2
0  MTHLY  0.008179
1     1Y  0.262804
2     2Y  0.935202
3     3Y  0.283833
4  OCONS  0.823731
5         0.007755
6  OUNIV  0.115178

In [33]:
df_2 = df_1[df_1['col_1'].isin(keepers)]
df_2

   col_1     col_2
0  MTHLY  0.008179
1     1Y  0.262804
2     2Y  0.935202
3     3Y  0.283833

In [35]:
df_3 = df_1[~df_1['col_1'].isin(keepers)]
df_3

   col_1     col_2
4  OCONS  0.823731
5         0.007755
6  OUNIV  0.115178