In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('../data/Data_2021_p03/all_billings_weekly.xlsx', sheet_name='base_billings')

In [3]:
df.head()

,Document Currency,Enterprise BU Desc,Invoice Calendar Year Week Desc,POB Type,Product Config Type,Rev Rec Category,Rule For Bill Date,Sales Document Type,Sales Type,Subscription Term,Completed Sales ( DC )
0,AUD,Creative,2018-01,NaN,1Y,D,YA,ZCC,DEFERRED,0,-2330.01
1,AUD,Experience Cloud,2018-01,NaN,NaN,D,YA,ZCC,DEFERRED,0,-2569.50
2,AUD,Experience Cloud,2018-01,NaN,OCONS,B,NaN,ZCC,DEFERRED,0,-463020.00
3,AUD,Experience Cloud,2018-01,NaN,ONORE,D,YA,ZCC,DEFERRED,0,36000.00
4,AUD,Experience Cloud,2018-01,NaN,ONORE,D,YQ,ZCC,DEFERRED,0,50056.50

In [4]:
df.head(20)

,Document Currency,Enterprise BU Desc,Invoice Calendar Year Week Desc,POB Type,Product Config Type,Rev Rec Category,Rule For Bill Date,Sales Document Type,Sales Type,Subscription Term,Completed Sales ( DC )
0,AUD,Creative,2018-01,NaN,1Y,D,YA,ZCC,DEFERRED,0,-2330.01
1,AUD,Experience Cloud,2018-01,NaN,NaN,D,YA,ZCC,DEFERRED,0,-2569.50
2,AUD,Experience Cloud,2018-01,NaN,OCONS,B,NaN,ZCC,DEFERRED,0,-463020.00
3,AUD,Experience Cloud,2018-01,NaN,ONORE,D,YA,ZCC,DEFERRED,0,36000.00
4,AUD,Experience Cloud,2018-01,NaN,ONORE,D,YQ,ZCC,DEFERRED,0,50056.50
5,CAD,Experience Cloud,2018-01,NaN,OCONS,B,NaN,ZCC,DEFERRED,0,13500.00
6,CAD,Experience Cloud,2018-01,NaN,ONORE,D,Y1,ZCC,DEFERRED,0,33261.80
7,EUR,Creative,2018-01,RR,1Y,D,YA,ZCC,DEFERRED,12,58685.00
8,EUR,Experience Cloud,2018-01,NaN,OCONS,NaN,NaN,ZCC,PRO-SVC-INV,0,-292.50
9,EUR,Experience Cloud,2018-01,NaN,OCONS,B,NaN,ZCC,DEFERRED,0,35550.00
10,EUR,Experience Cloud,2018-01,NaN,ONORE,D,YA,ZCC,DEFERRED,0,295069.20
11,EUR,Experience Cloud,2018-01,NaN,ONORE,D,YH,ZCC,DEFERRED,0,149059.80
12,EUR,Experience Cloud,2018-01,NaN,ONORE,D,YQ,ZCC,DEFERRED,0,-162880.46
13,EUR,Experience Cloud,2018-01,RR,ONORE,D,YA,ZCC,DEFERRED,0,601465.70
14,GBP,Creative,2018-01,NaN,1Y,D,YA,ZCC,DEFERRED,12,-1437.50
15,GBP,Document Cloud,2018-01,NaN,1Y,D,YA,ZCC,DEFERRED,12,-11631.42
16,JPY,Experience Cloud,2018-01,NaN,OCONS,D,YA,ZCC,DEFERRED,0,12000000.00
17,USD,Creative,2018-01,NaN,NaN,D,YA,ZCC,DEFERRED,0,-10800.00
18,USD,Creative,2018-01,NaN,NaN,D,YA,ZCC,DEFERRED,12,-6570.97
19,USD,Creative,2018-01,NaN,1Y,D,YA,ZCC,DEFERRED,0,-68676.00