# Deferred After the inputs have been created

The input_df_dict dictionary contains the following information (keys)
 - billings
 - ADBE_cal
 - bookings
 - FX_forwards
 - FX_rates

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pickle

In [2]:
input_df_dict = pickle.load(open('../data/processed/all_inputs.p', 'rb'))

df_billings = input_df_dict['billings']
df_ADBE_cal = input_df_dict['ADBE_cal']
df_bookings = input_df_dict['bookings']
df_FX_fwds  = input_df_dict['FX_forwards']
df_FX_rates = input_df_dict['FX_rates']

In [3]:
df_bookings.tail(20)

,BU,segment,product,geo,country,booking_type,Quarter,US_amount,Country,Currency
5994,Experience Cloud,Adobe Experience Manager,Forms,AMER,United States,Total Subscription Attrition,Q3 2020,4.923126e+01,United States,USD
5995,Experience Cloud,Adobe Experience Manager,Forms,AMER,United States,Total Subscription Attrition,Q3 2020,-4.923126e+01,United States,USD
5996,Experience Cloud,Adobe Experience Manager,Forms,AMER,United States,Total Subscription Attrition,Q4 2020,4.991613e+01,United States,USD
5997,Experience Cloud,Adobe Experience Manager,Forms,AMER,United States,Total Subscription Attrition,Q4 2020,-4.991613e+01,United States,USD
5998,Experience Cloud,Magento,Magento,EMEA,Germany,Consulting,Q1 2020,1.542400e+06,Germany,EUR
5999,Experience Cloud,Magento,Magento,EMEA,United Kingdom,Consulting,Q1 2020,3.856000e+05,United Kingdom,GBP
6000,Experience Cloud,Magento,Magento,EMEA,Germany,Consulting,Q2 2020,1.950400e+06,Germany,EUR
6001,Experience Cloud,Magento,Magento,EMEA,United Kingdom,Consulting,Q2 2020,4.876000e+05,United Kingdom,GBP
6002,Experience Cloud,Magento,Magento,EMEA,Germany,Consulting,Q3 2020,1.926400e+06,Germany,EUR
6003,Experience Cloud,Magento,Magento,EMEA,United Kingdom,Consulting,Q3 2020,4.816000e+05,United Kingdom,GBP
6004,Experience Cloud,Magento,Magento,EMEA,Germany,Consulting,Q4 2020,1.662400e+06,Germany,EUR
6005,Experience Cloud,Magento,Magento,EMEA,United Kingdom,Consulting,Q4 2020,4.156000e+05,United Kingdom,GBP
6006,Experience Cloud,Magento,Magento,AMER,United States,Consulting,Q1 2020,1.735200e+06,United States,USD
6007,Experience Cloud,Magento,Magento,AMER,United States,Consulting,Q1 2020,4.338000e+05,United States,USD
6008,Experience Cloud,Magento,Magento,AMER,United States,Consulting,Q2 2020,2.194200e+06,United States,USD
6009,Experience Cloud,Magento,Magento,AMER,United States,Consulting,Q2 2020,5.485500e+05,United States,USD
6010,Experience Cloud,Magento,Magento,AMER,United States,Consulting,Q3 2020,2.167200e+06,United States,USD
6011,Experience Cloud,Magento,Magento,AMER,United States,Consulting,Q3 2020,5.418000e+05,United States,USD
6012,Experience Cloud,Magento,Magento,AMER,United States,Consulting,Q4 2020,1.870200e+06,United States,USD
6013,Experience Cloud,Magento,Magento,AMER,United States,Consulting,Q4 2020,4.675500e+05,United States,USD

## We need to split the bookings information from quarters into periods
For each currency and BU, we will take the percentage of annual bookings for each period in a quarter.
This percentage will be what we use to split the bookings into periods

In [4]:
# find the last period in the billings index
last_period = '2020-03'

In [5]:
list_BUs = df_bookings['BU'].unique()
list_curr = df_bookings['Currency'].unique()

In [6]:
list_BUs

array(['Experience Cloud', 'Creative', 'Document Cloud'], dtype=object)

In [8]:
# creating dataframe of zeros

l_BU = []
l_curr = []
for BU in list_BUs:
    for curr in list_curr:
        l_BU.append(BU)
        l_curr.append(curr)
print(l_BU)
print(l_curr)
l_zero = np.arange(len(l_BU))

['Experience Cloud', 'Experience Cloud', 'Experience Cloud', 'Experience Cloud', 'Experience Cloud', 'Creative', 'Creative', 'Creative', 'Creative', 'Creative', 'Document Cloud', 'Document Cloud', 'Document Cloud', 'Document Cloud', 'Document Cloud']
['AUD', 'EUR', 'USD', 'JPY', 'GBP', 'AUD', 'EUR', 'USD', 'JPY', 'GBP', 'AUD', 'EUR', 'USD', 'JPY', 'GBP']

In [9]:
list_curr

array(['AUD', 'EUR', 'USD', 'JPY', 'GBP'], dtype=object)

In [10]:
l_zero = np.zeros(len(l_BU))
l_zero

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [11]:
data= {'BU':l_BU, 'curr':l_curr, 
      'Q1':l_zero,
      'Q2':l_zero,
      'Q3':l_zero,
      'Q4':l_zero,
      'P01':l_zero,
      'P02':l_zero,
      'P03':l_zero,
      'P04':l_zero,
      'P05':l_zero,
      'P06':l_zero,
      'P07':l_zero,
       'P08':l_zero,
       'P09':l_zero,
       'P10':l_zero,
       'P11':l_zero,
       'P12':l_zero,
      }

df_book_period=pd.DataFrame(data)

In [12]:
df_book_period

,BU,curr,Q1,Q2,Q3,Q4,P01,P02,P03,P04,P05,P06,P07,P08,P09,P10,P11,P12
0,Experience Cloud,AUD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Experience Cloud,EUR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Experience Cloud,USD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Experience Cloud,JPY,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Experience Cloud,GBP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Creative,AUD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Creative,EUR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Creative,USD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Creative,JPY,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Creative,GBP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,Document Cloud,AUD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,Document Cloud,EUR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,Document Cloud,USD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,Document Cloud,JPY,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,Document Cloud,GBP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
df_bookings.head(10)

,BU,segment,product,geo,country,booking_type,Quarter,US_amount,Country,Currency
0,Experience Cloud,Marketo,Marketo,ASIA,Aus and New Zealand,Total Subscription Attrition,Q1 2020,-243336.527786,Aus and New Zealand,AUD
1,Experience Cloud,Marketo,Marketo,ASIA,Aus and New Zealand,Total Subscription Attrition,Q1 2020,-309237.732096,Aus and New Zealand,AUD
2,Experience Cloud,Marketo,Marketo,ASIA,Aus and New Zealand,Total Subscription Attrition,Q1 2020,-61767.378056,Aus and New Zealand,AUD
3,Experience Cloud,Marketo,Marketo,ASIA,Aus and New Zealand,Total Subscription Attrition,Q1 2020,-503969.121094,Aus and New Zealand,AUD
4,Experience Cloud,Marketo,Marketo,ASIA,Aus and New Zealand,Total Subscription Attrition,Q2 2020,-145084.185190,Aus and New Zealand,AUD
5,Experience Cloud,Marketo,Marketo,ASIA,Aus and New Zealand,Total Subscription Attrition,Q2 2020,-184376.364697,Aus and New Zealand,AUD
6,Experience Cloud,Marketo,Marketo,ASIA,Aus and New Zealand,Total Subscription Attrition,Q2 2020,-36827.474272,Aus and New Zealand,AUD
7,Experience Cloud,Marketo,Marketo,ASIA,Aus and New Zealand,Total Subscription Attrition,Q2 2020,-325745.459992,Aus and New Zealand,AUD
8,Experience Cloud,Marketo,Marketo,ASIA,Aus and New Zealand,Total Subscription Attrition,Q3 2020,-103805.125604,Aus and New Zealand,AUD
9,Experience Cloud,Marketo,Marketo,ASIA,Aus and New Zealand,Total Subscription Attrition,Q3 2020,-131917.973491,Aus and New Zealand,AUD

In [14]:
# fill in the quarters
for i in range(len(df_book_period['BU'])):
    
    this_BU = df_book_period['BU'][i]
    this_curr = df_book_period['curr'][i]
    this_slice = df_bookings[(df_bookings['BU']==this_BU)&
                          (df_bookings['Currency']==this_curr)]
    
    this_Q1= this_slice[this_slice['Quarter']=='Q1 2020']
    sum_Q1 = this_Q1['US_amount'].sum()
    df_book_period['Q1'].loc[i]=sum_Q1
    
    this_Q2= this_slice[this_slice['Quarter']=='Q2 2020']
    sum_Q2 = this_Q2['US_amount'].sum()
    df_book_period['Q2'].loc[i]=sum_Q2
    
    this_Q3= this_slice[this_slice['Quarter']=='Q4 2020']
    sum_Q3 = this_Q3['US_amount'].sum()
    df_book_period['Q3'].loc[i]=sum_Q3
    
    this_Q4= this_slice[this_slice['Quarter']=='Q4 2020']
    sum_Q4 = this_Q4['US_amount'].sum()
    df_book_period['Q4'].loc[i]=sum_Q4

/Users/davidsmith/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [15]:
df_book_period

,BU,curr,Q1,Q2,Q3,Q4,P01,P02,P03,P04,P05,P06,P07,P08,P09,P10,P11,P12
0,Experience Cloud,AUD,7.433434e+06,1.358439e+07,1.816287e+07,1.816287e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Experience Cloud,EUR,3.499845e+07,3.721689e+07,7.695415e+07,7.695415e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Experience Cloud,USD,1.247171e+08,1.986764e+08,3.135637e+08,3.135637e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Experience Cloud,JPY,1.182163e+07,2.024655e+07,2.681428e+07,2.681428e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Experience Cloud,GBP,2.157488e+07,2.645604e+07,4.759333e+07,4.759333e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Creative,AUD,1.393692e+07,1.379181e+07,2.364523e+07,2.364523e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Creative,EUR,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Creative,USD,2.075290e+07,1.613099e+07,3.783942e+07,3.783942e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Creative,JPY,2.711939e+06,6.155972e+06,5.318174e+06,5.318174e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Creative,GBP,1.579663e+07,1.104858e+07,2.342099e+07,2.342099e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,Document Cloud,AUD,2.705300e+06,2.335687e+06,3.061921e+06,3.061921e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,Document Cloud,EUR,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,Document Cloud,USD,1.282261e+07,1.218840e+07,2.995207e+07,2.995207e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,Document Cloud,JPY,5.782041e+05,9.107898e+05,1.260247e+06,1.260247e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,Document Cloud,GBP,7.157459e+06,7.359043e+06,1.397187e+07,1.397187e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# list of quarters for the percentages
list_q2 = ['2019-04', '2019-05', '2019-06']
list_q3 = ['2019-07', '2019-08', '2019-09']
list_q4 = ['2019-10', '2019-11', '2019-12']
list_q1 = [ '2020-01', '2020-02', '2020-03']

list_periods = ['2020-01', '2020-02', '2020-03',
                '2019-04', '2019-05', '2019-06',
                '2019-07', '2019-08', '2019-09',
                '2019-10', '2019-11', '2019-12']
print(list_periods)
list_p_headers = ['P01', 'P02', 'P03',
                  'P04', 'P05', 'P06',
                  'P07', 'P08', 'P09',
                  'P10', 'P11', 'P12'
                 ]
list_q_headers = ['Q1', 'Q1', 'Q1',
                  'Q2', 'Q2', 'Q2',
                  'Q3', 'Q3', 'Q3',
                  'Q4', 'Q4', 'Q4']
print(list_p_headers)

['2020-01', '2020-02', '2020-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12']
['P01', 'P02', 'P03', 'P04', 'P05', 'P06', 'P07', 'P08', 'P09', 'P10', 'P11', 'P12']

In [17]:
# fill in the periods
for i in range(len(df_book_period['BU'])):
    
    this_BU = df_book_period['BU'][i]
    this_curr = df_book_period['curr'][i]
    
    this_slice = df_billings[(df_billings['BU']==this_BU)&
                          (df_billings['curr']==this_curr)]
    
    for j in range(len(list_periods)):
        this_period = list_periods[j]
        this_header = list_p_headers[j]
        this_quarter = list_q_headers[j]
        this_P_slice = this_slice[this_slice['period']==this_period]
        df_book_period.loc[[i],[this_header]]=this_P_slice['deferred_1Y_DC'].sum()
        
df_book_period['bill_Q1_sum'] = df_book_period['P01'] + df_book_period['P02'] + df_book_period['P03']    
df_book_period['bill_Q2_sum'] = df_book_period['P04'] + df_book_period['P05'] + df_book_period['P06']    
df_book_period['bill_Q3_sum'] = df_book_period['P07'] + df_book_period['P08'] + df_book_period['P09']    
df_book_period['bill_Q4_sum'] = df_book_period['P10'] + df_book_period['P11'] + df_book_period['P12']    

df_book_period['P01'] = df_book_period['Q1']*df_book_period['P01']/df_book_period['bill_Q1_sum']
df_book_period['P02'] = df_book_period['Q1']*df_book_period['P02']/df_book_period['bill_Q1_sum']
df_book_period['P03'] = df_book_period['Q1']*df_book_period['P03']/df_book_period['bill_Q1_sum']

df_book_period['P04'] = df_book_period['Q2']*df_book_period['P04']/df_book_period['bill_Q2_sum']
df_book_period['P05'] = df_book_period['Q2']*df_book_period['P05']/df_book_period['bill_Q2_sum']
df_book_period['P06'] = df_book_period['Q2']*df_book_period['P06']/df_book_period['bill_Q2_sum']

df_book_period['P07'] = df_book_period['Q3']*df_book_period['P07']/df_book_period['bill_Q3_sum']
df_book_period['P08'] = df_book_period['Q3']*df_book_period['P08']/df_book_period['bill_Q3_sum']
df_book_period['P09'] = df_book_period['Q3']*df_book_period['P09']/df_book_period['bill_Q3_sum']

df_book_period['P10'] = df_book_period['Q4']*df_book_period['P10']/df_book_period['bill_Q4_sum']
df_book_period['P11'] = df_book_period['Q4']*df_book_period['P11']/df_book_period['bill_Q4_sum']
df_book_period['P12'] = df_book_period['Q4']*df_book_period['P12']/df_book_period['bill_Q4_sum']

In [18]:
df_book_period.loc[0]['Q1']

7433433.702077989

In [22]:
df_book_period

,BU,curr,Q1,Q2,Q3,Q4,P01,P02,P03,P04,P05,P06,P07,P08,P09,P10,P11,P12
0,Experience Cloud,AUD,7.433434e+06,1.358439e+07,1.816287e+07,1.816287e+07,2.446926e+06,2.411696e+06,2.574812e+06,1.902455e+06,4.116428e+06,7.565509e+06,2.811683e+06,7.213659e+06,8.137530e+06,4.766754e+06,4.182153e+06,9.213966e+06
1,Experience Cloud,EUR,3.499845e+07,3.721689e+07,7.695415e+07,7.695415e+07,7.586985e+06,1.835026e+07,9.061199e+06,9.100126e+06,1.816391e+07,9.952856e+06,3.280011e+07,2.194373e+07,2.221031e+07,2.872638e+07,1.689213e+07,3.133564e+07
2,Experience Cloud,USD,1.247171e+08,1.986764e+08,3.135637e+08,3.135637e+08,4.488347e+07,4.657423e+07,3.325938e+07,4.861151e+07,7.441966e+07,7.564527e+07,8.742538e+07,7.658396e+07,1.495543e+08,1.049945e+08,9.468008e+07,1.138891e+08
3,Experience Cloud,JPY,1.182163e+07,2.024655e+07,2.681428e+07,2.681428e+07,4.191875e+06,4.971201e+06,2.658557e+06,7.899640e+05,1.747340e+07,1.983193e+06,1.008977e+07,1.120458e+07,5.519922e+06,5.585768e+06,1.139248e+07,9.836033e+06
4,Experience Cloud,GBP,2.157488e+07,2.645604e+07,4.759333e+07,4.759333e+07,5.511899e+06,6.248136e+06,9.814842e+06,1.102075e+07,8.763335e+06,6.671956e+06,2.166839e+07,1.497688e+07,1.094806e+07,1.556676e+07,1.121560e+07,2.081097e+07
5,Creative,AUD,1.393692e+07,1.379181e+07,2.364523e+07,2.364523e+07,4.502145e+06,3.363263e+06,6.071509e+06,3.892268e+06,3.451427e+06,6.448112e+06,6.937723e+06,7.857480e+06,8.850029e+06,5.861274e+06,5.146632e+06,1.263733e+07
6,Creative,EUR,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
7,Creative,USD,2.075290e+07,1.613099e+07,3.783942e+07,3.783942e+07,7.004166e+06,5.285728e+06,8.463003e+06,4.495379e+06,4.273529e+06,7.362081e+06,1.041130e+07,9.500524e+06,1.792759e+07,1.064223e+07,1.080927e+07,1.638791e+07
8,Creative,JPY,2.711939e+06,6.155972e+06,5.318174e+06,5.318174e+06,7.529930e+05,6.734288e+05,1.285517e+06,1.648482e+06,2.206511e+06,2.300979e+06,1.427165e+06,1.766215e+06,2.124794e+06,1.646169e+06,1.148706e+06,2.523300e+06
9,Creative,GBP,1.579663e+07,1.104858e+07,2.342099e+07,2.342099e+07,5.636788e+06,4.382726e+06,5.777112e+06,3.215084e+06,3.079131e+06,4.754361e+06,5.618554e+06,5.051653e+06,1.275078e+07,7.468475e+06,5.897097e+06,1.005542e+07
10,Document Cloud,AUD,2.705300e+06,2.335687e+06,3.061921e+06,3.061921e+06,9.795144e+05,5.914267e+05,1.134359e+06,5.570840e+05,6.061963e+05,1.172407e+06,8.918117e+05,1.047172e+06,1.122937e+06,7.815795e+05,6.459415e+05,1.634400e+06
11,Document Cloud,EUR,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
12,Document Cloud,USD,1.282261e+07,1.218840e+07,2.995207e+07,2.995207e+07,4.087741e+06,3.065067e+06,5.669800e+06,3.158858e+06,2.980298e+06,6.049245e+06,1.029812e+07,6.634950e+06,1.301900e+07,7.138428e+06,8.895593e+06,1.391805e+07
13,Document Cloud,JPY,5.782041e+05,9.107898e+05,1.260247e+06,1.260247e+06,1.236745e+05,9.184171e+04,3.626880e+05,2.326397e+05,1.970472e+05,4.811030e+05,3.983124e+05,3.201474e+05,5.417874e+05,2.739214e+05,3.627093e+05,6.236165e+05
14,Document Cloud,GBP,7.157459e+06,7.359043e+06,1.397187e+07,1.397187e+07,3.149514e+06,1.643228e+06,2.364717e+06,1.632347e+06,1.106514e+06,4.620181e+06,5.830285e+06,3.205887e+06,4.935697e+06,4.037839e+06,3.867615e+06,6.066415e+06

In [20]:
df_book_period.columns

Index(['BU', 'curr', 'Q1', 'Q2', 'Q3', 'Q4', 'P01', 'P02', 'P03', 'P04', 'P05',
       'P06', 'P07', 'P08', 'P09', 'P10', 'P11', 'P12', 'bill_Q1_sum',
       'bill_Q2_sum', 'bill_Q3_sum', 'bill_Q4_sum'],
      dtype='object')

In [21]:
df_book_period.drop(['bill_Q1_sum', 'bill_Q2_sum', 'bill_Q3_sum', 'bill_Q4_sum'], axis=1,inplace=True)

## Now working on converting these to local currency

In [40]:
df_FX_fwds.set_index('curr', inplace=True)

In [72]:
EUR = df_FX_fwds.loc['EUR','forward']

0.917349

In [79]:
list_fwds =[]
for i in range(len(df_book_period['curr'])):
    this_curr = df_book_period['curr'][i]
    print(this_curr)
    if this_curr == 'USD':
        this_fwd=1
    else:
        this_fwd = df_FX_fwds.loc[this_curr, 'forward']
    
    print(this_fwd)
    list_fwds.append(this_fwd)
df_book_period['FX_fwd_rate'] = list_fwds

AUD
1.49115
EUR
0.917349
USD
1
JPY
108.9682
GBP
0.766329
AUD
1.49115
EUR
0.917349
USD
1
JPY
108.9682
GBP
0.766329
AUD
1.49115
EUR
0.917349
USD
1
JPY
108.9682
GBP
0.766329

In [80]:
df_book_period

,BU,curr,Q1,Q2,Q3,Q4,P01,P02,P03,P04,P05,P06,P07,P08,P09,P10,P11,P12,FX_fwd_rate
0,Experience Cloud,AUD,7.433434e+06,1.358439e+07,1.816287e+07,1.816287e+07,2.446926e+06,2.411696e+06,2.574812e+06,1.902455e+06,4.116428e+06,7.565509e+06,2.811683e+06,7.213659e+06,8.137530e+06,4.766754e+06,4.182153e+06,9.213966e+06,1.491150
1,Experience Cloud,EUR,3.499845e+07,3.721689e+07,7.695415e+07,7.695415e+07,7.586985e+06,1.835026e+07,9.061199e+06,9.100126e+06,1.816391e+07,9.952856e+06,3.280011e+07,2.194373e+07,2.221031e+07,2.872638e+07,1.689213e+07,3.133564e+07,0.917349
2,Experience Cloud,USD,1.247171e+08,1.986764e+08,3.135637e+08,3.135637e+08,4.488347e+07,4.657423e+07,3.325938e+07,4.861151e+07,7.441966e+07,7.564527e+07,8.742538e+07,7.658396e+07,1.495543e+08,1.049945e+08,9.468008e+07,1.138891e+08,1.000000
3,Experience Cloud,JPY,1.182163e+07,2.024655e+07,2.681428e+07,2.681428e+07,4.191875e+06,4.971201e+06,2.658557e+06,7.899640e+05,1.747340e+07,1.983193e+06,1.008977e+07,1.120458e+07,5.519922e+06,5.585768e+06,1.139248e+07,9.836033e+06,108.968200
4,Experience Cloud,GBP,2.157488e+07,2.645604e+07,4.759333e+07,4.759333e+07,5.511899e+06,6.248136e+06,9.814842e+06,1.102075e+07,8.763335e+06,6.671956e+06,2.166839e+07,1.497688e+07,1.094806e+07,1.556676e+07,1.121560e+07,2.081097e+07,0.766329
5,Creative,AUD,1.393692e+07,1.379181e+07,2.364523e+07,2.364523e+07,4.502145e+06,3.363263e+06,6.071509e+06,3.892268e+06,3.451427e+06,6.448112e+06,6.937723e+06,7.857480e+06,8.850029e+06,5.861274e+06,5.146632e+06,1.263733e+07,1.491150
6,Creative,EUR,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.917349
7,Creative,USD,2.075290e+07,1.613099e+07,3.783942e+07,3.783942e+07,7.004166e+06,5.285728e+06,8.463003e+06,4.495379e+06,4.273529e+06,7.362081e+06,1.041130e+07,9.500524e+06,1.792759e+07,1.064223e+07,1.080927e+07,1.638791e+07,1.000000
8,Creative,JPY,2.711939e+06,6.155972e+06,5.318174e+06,5.318174e+06,7.529930e+05,6.734288e+05,1.285517e+06,1.648482e+06,2.206511e+06,2.300979e+06,1.427165e+06,1.766215e+06,2.124794e+06,1.646169e+06,1.148706e+06,2.523300e+06,108.968200
9,Creative,GBP,1.579663e+07,1.104858e+07,2.342099e+07,2.342099e+07,5.636788e+06,4.382726e+06,5.777112e+06,3.215084e+06,3.079131e+06,4.754361e+06,5.618554e+06,5.051653e+06,1.275078e+07,7.468475e+06,5.897097e+06,1.005542e+07,0.766329
10,Document Cloud,AUD,2.705300e+06,2.335687e+06,3.061921e+06,3.061921e+06,9.795144e+05,5.914267e+05,1.134359e+06,5.570840e+05,6.061963e+05,1.172407e+06,8.918117e+05,1.047172e+06,1.122937e+06,7.815795e+05,6.459415e+05,1.634400e+06,1.491150
11,Document Cloud,EUR,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.917349
12,Document Cloud,USD,1.282261e+07,1.218840e+07,2.995207e+07,2.995207e+07,4.087741e+06,3.065067e+06,5.669800e+06,3.158858e+06,2.980298e+06,6.049245e+06,1.029812e+07,6.634950e+06,1.301900e+07,7.138428e+06,8.895593e+06,1.391805e+07,1.000000
13,Document Cloud,JPY,5.782041e+05,9.107898e+05,1.260247e+06,1.260247e+06,1.236745e+05,9.184171e+04,3.626880e+05,2.326397e+05,1.970472e+05,4.811030e+05,3.983124e+05,3.201474e+05,5.417874e+05,2.739214e+05,3.627093e+05,6.236165e+05,108.968200
14,Document Cloud,GBP,7.157459e+06,7.359043e+06,1.397187e+07,1.397187e+07,3.149514e+06,1.643228e+06,2.364717e+06,1.632347e+06,1.106514e+06,4.620181e+06,5.830285e+06,3.205887e+06,4.935697e+06,4.037839e+06,3.867615e+06,6.066415e+06,0.766329

In [81]:
df_book_period['P01_DC']=df_book_period['P01']* df_book_period['FX_fwd_rate']
df_book_period['P02_DC']=df_book_period['P02']* df_book_period['FX_fwd_rate']
df_book_period['P03_DC']=df_book_period['P03']* df_book_period['FX_fwd_rate']
df_book_period['P04_DC']=df_book_period['P04']* df_book_period['FX_fwd_rate']
df_book_period['P05_DC']=df_book_period['P05']* df_book_period['FX_fwd_rate']
df_book_period['P06_DC']=df_book_period['P06']* df_book_period['FX_fwd_rate']
df_book_period['P07_DC']=df_book_period['P07']* df_book_period['FX_fwd_rate']
df_book_period['P08_DC']=df_book_period['P08']* df_book_period['FX_fwd_rate']
df_book_period['P09_DC']=df_book_period['P09']* df_book_period['FX_fwd_rate']
df_book_period['P10_DC']=df_book_period['P10']* df_book_period['FX_fwd_rate']
df_book_period['P11_DC']=df_book_period['P11']* df_book_period['FX_fwd_rate']
df_book_period['P12_DC']=df_book_period['P12']* df_book_period['FX_fwd_rate']

In [82]:
df_book_period

,BU,curr,Q1,Q2,Q3,Q4,P01,P02,P03,P04,...,P03_DC,P04_DC,P05_DC,P06_DC,P07_DC,P08_DC,P09_DC,P10_DC,P11_DC,P12_DC
0,Experience Cloud,AUD,7.433434e+06,1.358439e+07,1.816287e+07,1.816287e+07,2.446926e+06,2.411696e+06,2.574812e+06,1.902455e+06,...,3.839431e+06,2.836845e+06,6.138212e+06,1.128131e+07,4.192641e+06,1.075665e+07,1.213428e+07,7.107945e+06,6.236217e+06,1.373940e+07
1,Experience Cloud,EUR,3.499845e+07,3.721689e+07,7.695415e+07,7.695415e+07,7.586985e+06,1.835026e+07,9.061199e+06,9.100126e+06,...,8.312282e+06,8.347991e+06,1.666265e+07,9.130243e+06,3.008915e+07,2.013006e+07,2.037461e+07,2.635211e+07,1.549598e+07,2.874572e+07
2,Experience Cloud,USD,1.247171e+08,1.986764e+08,3.135637e+08,3.135637e+08,4.488347e+07,4.657423e+07,3.325938e+07,4.861151e+07,...,3.325938e+07,4.861151e+07,7.441966e+07,7.564527e+07,8.742538e+07,7.658396e+07,1.495543e+08,1.049945e+08,9.468008e+07,1.138891e+08
3,Experience Cloud,JPY,1.182163e+07,2.024655e+07,2.681428e+07,2.681428e+07,4.191875e+06,4.971201e+06,2.658557e+06,7.899640e+05,...,2.896981e+08,8.608096e+07,1.904045e+09,2.161050e+08,1.099464e+09,1.220943e+09,6.014960e+08,6.086711e+08,1.241418e+09,1.071815e+09
4,Experience Cloud,GBP,2.157488e+07,2.645604e+07,4.759333e+07,4.759333e+07,5.511899e+06,6.248136e+06,9.814842e+06,1.102075e+07,...,7.521398e+06,8.445520e+06,6.715598e+06,5.112913e+06,1.660511e+07,1.147722e+07,8.389813e+06,1.192926e+07,8.594836e+06,1.594805e+07
5,Creative,AUD,1.393692e+07,1.379181e+07,2.364523e+07,2.364523e+07,4.502145e+06,3.363263e+06,6.071509e+06,3.892268e+06,...,9.053531e+06,5.803955e+06,5.146595e+06,9.615103e+06,1.034519e+07,1.171668e+07,1.319672e+07,8.740039e+06,7.674401e+06,1.884415e+07
6,Creative,EUR,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
7,Creative,USD,2.075290e+07,1.613099e+07,3.783942e+07,3.783942e+07,7.004166e+06,5.285728e+06,8.463003e+06,4.495379e+06,...,8.463003e+06,4.495379e+06,4.273529e+06,7.362081e+06,1.041130e+07,9.500524e+06,1.792759e+07,1.064223e+07,1.080927e+07,1.638791e+07
8,Creative,JPY,2.711939e+06,6.155972e+06,5.318174e+06,5.318174e+06,7.529930e+05,6.734288e+05,1.285517e+06,1.648482e+06,...,1.400805e+08,1.796321e+08,2.404396e+08,2.507335e+08,1.555156e+08,1.924612e+08,2.315350e+08,1.793800e+08,1.251724e+08,2.749595e+08
9,Creative,GBP,1.579663e+07,1.104858e+07,2.342099e+07,2.342099e+07,5.636788e+06,4.382726e+06,5.777112e+06,3.215084e+06,...,4.427168e+06,2.463812e+06,2.359627e+06,3.643405e+06,4.305661e+06,3.871228e+06,9.771293e+06,5.723309e+06,4.519116e+06,7.705757e+06
10,Document Cloud,AUD,2.705300e+06,2.335687e+06,3.061921e+06,3.061921e+06,9.795144e+05,5.914267e+05,1.134359e+06,5.570840e+05,...,1.691499e+06,8.306958e+05,9.039296e+05,1.748234e+06,1.329825e+06,1.561491e+06,1.674468e+06,1.165452e+06,9.631956e+05,2.437136e+06
11,Document Cloud,EUR,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
12,Document Cloud,USD,1.282261e+07,1.218840e+07,2.995207e+07,2.995207e+07,4.087741e+06,3.065067e+06,5.669800e+06,3.158858e+06,...,5.669800e+06,3.158858e+06,2.980298e+06,6.049245e+06,1.029812e+07,6.634950e+06,1.301900e+07,7.138428e+06,8.895593e+06,1.391805e+07
13,Document Cloud,JPY,5.782041e+05,9.107898e+05,1.260247e+06,1.260247e+06,1.236745e+05,9.184171e+04,3.626880e+05,2.326397e+05,...,3.952146e+07,2.535033e+07,2.147187e+07,5.242492e+07,4.340339e+07,3.488588e+07,5.903760e+07,2.984872e+07,3.952378e+07,6.795437e+07
14,Document Cloud,GBP,7.157459e+06,7.359043e+06,1.397187e+07,1.397187e+07,3.149514e+06,1.643228e+06,2.364717e+06,1.632347e+06,...,1.812151e+06,1.250915e+06,8.479540e+05,3.540579e+06,4.467916e+06,2.456764e+06,3.782368e+06,3.094313e+06,2.963866e+06,4.648870e+06

In [83]:
df_book_period.columns

Index(['BU', 'curr', 'Q1', 'Q2', 'Q3', 'Q4', 'P01', 'P02', 'P03', 'P04', 'P05',
       'P06', 'P07', 'P08', 'P09', 'P10', 'P11', 'P12', 'FX_fwd_rate',
       'P01_DC', 'P02_DC', 'P03_DC', 'P04_DC', 'P05_DC', 'P06_DC', 'P07_DC',
       'P08_DC', 'P09_DC', 'P10_DC', 'P11_DC', 'P12_DC'],
      dtype='object')

# Ready to build the deferred forecast for existing billings to continue

In [87]:
df_billings

,curr,BU,period,recognized_DC,recognized_US,service_DC,service_US,deferred_B_DC,deferred_B_US,_merge,...,deferred_6M_DC,deferred_1Y_DC,deferred_2Y_DC,deferred_3Y_DC,deferred_1M_US,deferred_3M_US,deferred_6M_US,deferred_1Y_US,deferred_2Y_US,deferred_3Y_US
0,ARS,Creative,2019-07,6786.00,155.12,0.0,0.0,0.0,0.0,left_only,...,0.0,953875.89,0.0,0.0,1.460911e+05,0.0,0.0,21566.14,0.0,0.0
1,ARS,Creative,2019-08,16472.00,390.02,0.0,0.0,0.0,0.0,left_only,...,0.0,963180.00,0.0,0.0,1.732747e+05,0.0,0.0,22781.91,0.0,0.0
2,ARS,Creative,2019-09,19205.00,405.51,0.0,0.0,0.0,0.0,left_only,...,0.0,2263704.00,0.0,0.0,2.176112e+05,0.0,0.0,46297.25,0.0,0.0
3,ARS,Creative,2019-10,30382.19,532.13,0.0,0.0,0.0,0.0,left_only,...,0.0,1318346.81,0.0,0.0,1.817068e+05,0.0,0.0,23376.52,0.0,0.0
4,ARS,Creative,2019-11,59049.00,1023.67,0.0,0.0,0.0,0.0,left_only,...,0.0,1494162.20,0.0,0.0,1.960320e+05,0.0,0.0,25782.35,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4178,JPY,DX Other,2018-04,0.00,0.00,0.0,0.0,0.0,0.0,right_only,...,0.0,-11142000.00,0.0,0.0,0.000000e+00,0.0,0.0,-11142000.00,0.0,0.0
4179,JPY,DX Other,2018-09,0.00,0.00,0.0,0.0,0.0,0.0,right_only,...,0.0,0.00,0.0,0.0,1.025000e+07,0.0,0.0,0.00,0.0,0.0
4180,JPY,DX Other,2018-11,0.00,0.00,0.0,0.0,0.0,0.0,right_only,...,0.0,0.00,0.0,0.0,1.148333e+06,0.0,0.0,0.00,0.0,0.0
4181,MXP,Experience Cloud,2017-06,0.00,0.00,0.0,0.0,0.0,0.0,right_only,...,84000.0,0.00,0.0,0.0,0.000000e+00,0.0,84000.0,0.00,0.0,0.0
4182,NOK,Other Solutions,2015-10,0.00,0.00,0.0,0.0,0.0,0.0,right_only,...,0.0,-202.50,0.0,0.0,0.000000e+00,0.0,0.0,-202.50,0.0,0.0

In [88]:
df_billings['period'].unique()

array(['2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12',
       '2020-01', '2020-02', '2020-03', '2015-01', '2015-02', '2015-03',
       '2015-04', '2015-05', '2015-06', '2015-07', '2015-08', '2015-09',
       '2015-10', '2015-11', '2015-12', '2016-01', '2016-02', '2016-03',
       '2016-04', '2016-05', '2016-06', '2016-07', '2016-08', '2016-09',
       '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03',
       '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09',
       '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03',
       '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09',
       '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03',
       '2019-04', '2019-05', '2019-06'], dtype=object)