Output_2_Excel

In [18]:
import pandas as pd
import openpyxl

In [2]:
df = pd.read_excel('../data/sampledfinput.xlsx', sheet_name='sampledata')

In [ ]:
'''
path = '../data/sampOutput.xlsx'
book = openpyxl.load_workbook(path)

writer = pd.ExcelWriter(path, engine = 'openpyxl')
writer.book = book
writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

df.to_excel(writer,'firstpage', start_row=7, start_col=1, header=False, index=False)

writer.save()

writer.close()

print('DataFrame is written successfully to Excel File.')
'''

In [25]:
def df_to_xl(df, output_file, output_tab, start_row=0, start_column=0, header=False):
    '''
    Inputs
        df - the dataframe that will be sent to excel
        output_file - the path and filename of the output file
        output_tab - the tab in the output file to send the data to.
        start_row - the first row where the data will appear. NOTE: Python treats cell A1 as row zero.
        start_column - the first column where the data will appear. NOTE: Python treats cell A1 as row zero.
        header - if the header is True, it will send in the column names of the dataframe. 
                If header is false, no column names will be sent to the excel file.
                If header contains a list of strings, the list of strings will be an alias to the column names
    
    This function opens the workbook output_file, reads in all of the sheets to that file and sends
    the dataframe df to a location on the output_tab sheet. The location is determined by the start_row and
    start_column sent to the function.
        
    Python Modules to be imported for this to work
        pandas
        openpyxl
    '''
    
    book = openpyxl.load_workbook(output_file)

    writer = pd.ExcelWriter(path, engine = 'openpyxl')
    writer.book = book
    writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

    df.to_excel(writer, 
                sheet_name=output_tab, 
                startrow = start_row, 
                startcol = start_col, 
                header = header, 
                index=False)

    writer.save()

    writer.close()

    print('DataFrame is written successfully to Excel File.')
    
    return None

In [21]:
path = '../data/sampOutput.xlsx'
output_tab = 'first_page'
start_row=7
start_col=1
header=False
df2 = df

In [17]:
df_to_xl(df, path, output_tab, start_row, start_col)

DataFrame is written successfully to Excel File.

In [27]:
output_dict1 = {'var_name': df,
               'tab': 'first_page',
               'start_row': 7,
               'start_col': 1,
               'header': False,
               'index': False}

output_dict2 = {'var_name': df2,
               'tab': 'second_page',
               'start_row': 7,
               'start_col': 1,
               'header': True,
               'index': True}

output_dict = {'data_1': output_dict1,
              'data_2': output_dict2}

In [28]:
output_dict

{'data_1': {'var_name':      DC  USD_equivalent
  0   USD        51568.71
  1   AUD         3030.43
  2   CHF          595.60
  3   COP       123756.08
  4   DKK          186.25
  5   EUR        10216.72
  6   GBP         5054.95
  7   HKD        12747.10
  8   IDR           17.24
  9   INR           57.10
  10  JPY       151340.97
  11  NOK         7194.00
  12  PEN          158.00
  13  PHP        69601.38
  14  RUB      1156094.25
  15  SEK           22.72
  16  SGD           23.88
  17  TWD           17.24,
  'tab': 'first_page',
  'start_row': 7,
  'start_col': 1,
  'header': False,
  'index': False},
 'data_2': {'var_name':      DC  USD_equivalent
  0   USD        51568.71
  1   AUD         3030.43
  2   CHF          595.60
  3   COP       123756.08
  4   DKK          186.25
  5   EUR        10216.72
  6   GBP         5054.95
  7   HKD        12747.10
  8   IDR           17.24
  9   INR           57.10
  10  JPY       151340.97
  11  NOK         7194.00
  12  PEN          158.00
  13  PHP        69601.38
  14  RUB      1156094.25
  15  SEK           22.72
  16  SGD           23.88
  17  TWD           17.24,
  'tab': 'second_page',
  'start_row': 7,
  'start_col': 1,
  'header': True,
  'index': True}}

In [26]:
def multiple_dfs_to_xl(output_dict, output_file, header=False):
    '''
    Inputs
        output_dict - a dictionary comprised of dictionaries. The keys of the outter-most dictionary are the 
        
        The inner dictionaries are comprised of the following keys
        
            df - the dataframe that will be sent to excel
            output_file - the path and filename of the output file
            output_tab - the tab in the output file to send the data to.
            start_row - the first row where the data will appear. NOTE: Python treats cell A1 as row zero.
            start_column - the first column where the data will appear. NOTE: Python treats cell A1 as row zero.
            header - if the header is True, it will send in the column names of the dataframe. 
                If header is false, no column names will be sent to the excel file.
                If header contains a list of strings, the list of strings will be an alias to the column names
            index - boolean variable that determines whether the index of the dataframe will be sent to excel.
    
    This function opens the workbook output_file, reads in all of the sheets to that file and sends multiple
    dataframes to a locations on the in the excel sheet. The location is determined by the start_row and
    start_column conteined in the dictionaries.
        
    Python Modules to be imported for this to work
        pandas
        openpyxl
    '''
    # JTL CODE HERE!!!
    
    return None