# Testing Deferred Revenue in Python
Will this be easier for everyone to use than Matlab?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Step 1: Processing Base Billings Data

In [2]:
df = pd.read_excel('../data/old/base_billings.xlsx', sheet_name='bill_DC')

In [3]:
df.sample(10)

,Document Currency,Enterprise Bu,Frequency,Invoicing Fiscal Year-Period Desc,Product Configtype ID,Revenue Recognition Category New,Rule For Bill Date,Sales Type,Subscription Term,Completed Sales Doc Currency
14809,GBP,Document Cloud,NaN,2018-11,NaN,A,NaN,DEFERRED,1,-1073.97
6473,CHF,Print & Publishing,NaN,2019-03,1Y,D,NaN,DEFERRED,1,49.50
14223,GBP,Document Cloud,NaN,2016-02,1Y,A,NaN,DEFERRED,1,53.70
23521,SEK,Print & Publishing,NaN,2015-12,1Y,D,Y3,DEFERRED,1,26883.02
15095,GBP,Experience Cloud,1TME,2015-11,OCONS,NaN,NaN,PRO-SVC-INV,0,711479.80
8012,EUR,Creative,NaN,2015-08,1Y,A,NaN,DEFERRED,1,-40204.36
17486,JPY,Creative,NaN,2015-10,1Y,A,NaN,DEFERRED,1,-845721.00
1711,AUD,Experience Cloud,NaN,2015-09,NaN,NaN,NaN,RECOGNIZED,0,15189.00
19002,JPY,Document Cloud,NaN,2019-02,NaN,D,Y3,DEFERRED,1,1084263.00
21929,NZD,Experience Cloud,ACTL,2016-07,ONORE,NaN,NaN,RECOGNIZED,0,442456.09

## Filter that removes any currency that has  < 10 transactions.

In [4]:
# creates a list of the currencies and the number of transactions for each currency
vc = df['Document Currency'].value_counts()

In [5]:
# Create variable that is true if the number of transaction is greater than 10, false otherwise
keep_these = vc.values > 10
# filtering only currencies that were greater than 10
keep_curr = vc[keep_these]
a = keep_curr.index
# filtering the dataframe to remove any of teh currencies not in our list
df = df[df['Document Currency'].isin(a)]

## Just keeping track of the currencies we removed in our model_dict data strucutre

In [6]:
remove_these = vc.values <= 10
model_dict = {'curr_removed': list(vc[remove_these].index)}
model_dict

{'curr_removed': ['CLP', 'COP', 'ARS', 'PEN', 'INR', 'BMD', 'MXP']}

# Removing any of the values that are zero

In [7]:
print('This is the length of the dataframe before removing zeros: ', len(df))
df = df[df['Completed Sales Doc Currency']!=0]
print('This is the length of the dataframe after removing zeros: ', len(df))

This is the length of the dataframe before removing zeros:  31418
This is the length of the dataframe after removing zeros:  28896

In [8]:
df.sample(20)

,Document Currency,Enterprise Bu,Frequency,Invoicing Fiscal Year-Period Desc,Product Configtype ID,Revenue Recognition Category New,Rule For Bill Date,Sales Type,Subscription Term,Completed Sales Doc Currency
13538,GBP,Creative,NaN,2016-09,1Y,D,Y3,DEFERRED,1,8.352551e+06
16627,GBP,Print & Publishing,NaN,2015-11,1Y,D,YA,DEFERRED,12,5.916000e+01
10220,EUR,Experience Cloud,ACTL,2015-10,ONORE,NaN,NaN,RECOGNIZED,0,6.663572e+05
6233,CHF,Experience Cloud,CERT,2019-03,1Y,D,YA,DEFERRED,12,1.655444e+04
30938,USD,Print & Publishing,NaN,2017-05,NaN,A,NaN,DEFERRED,0,4.572865e+06
15328,GBP,Experience Cloud,1TME,2016-06,NaN,NaN,NaN,NON-REV,0,5.915000e+03
25970,USD,Document Cloud,NaN,2016-11,1Y,A,NaN,DEFERRED,12,6.608494e+06
18655,JPY,Document Cloud,NaN,2017-05,NaN,NaN,NaN,RECOGNIZED,0,2.708415e+08
25942,USD,Document Cloud,NaN,2016-10,NaN,D,Y3,DEFERRED,1,4.599188e+05
201,AUD,Creative,NaN,2016-04,NaN,NaN,NaN,RECOGNIZED,0,2.493264e+05
10581,EUR,Experience Cloud,CERT,2016-06,NaN,NaN,NaN,RECOGNIZED,0,2.524500e+05
7,AUD,Creative,NaN,2015-06,NaN,A,NaN,DEFERRED,0,4.479968e+05
25232,USD,Creative,1TME,2018-08,ONORE,NaN,NaN,RECOGNIZED,0,1.203800e+03
26093,USD,Document Cloud,NaN,2017-04,1Y,A,NaN,DEFERRED,12,6.058509e+06
17238,HKD,Creative,NaN,2018-11,1Y,A,NaN,DEFERRED,12,-4.390620e+04
20576,JPY,Print & Publishing,NaN,2019-02,1Y,D,NaN,DEFERRED,12,-2.565060e+05
11190,EUR,Experience Cloud,ONGO,2017-06,OCONS,D,Y3,DEFERRED,0,1.438000e+03
3320,AUD,Print & Publishing,NaN,2017-08,1Y,D,Y3,DEFERRED,1,3.655660e+04
7608,DKK,Experience Cloud,ONGO,2018-01,NaN,D,YA,DEFERRED,0,5.707700e+05
24612,USD,Creative,NaN,2017-04,NaN,A,NaN,DEFERRED,1,-2.697300e+02

## Clearing out the Non-Revenue billings from the file
 - No Idea what these are

In [9]:
df['Sales Type'].value_counts()

DEFERRED       22919
RECOGNIZED      5041
PRO-SVC-INV      844
NON-REV           92
Name: Sales Type, dtype: int64

In [10]:
print('Length of the dataframe before removing non-revenue billings: ', len(df))
df = df[df['Sales Type']!='NON-REV']
print('Length of the dataframe after removing non-revenue billings:  ', len(df))

Length of the dataframe before removing non-revenue billings:  28896
Length of the dataframe after removing non-revenue billings:   28804

## Starting to group the revenue by period, industry, etc

Attempting to group by the following categories
 - currency
 - period
 - sale type
 
May need to process the data differently with the deferred billings so we will start with the recognized and then the service billings

# Hierarchy of the data dictionary
 - BU
 - Rev type
 - currency
  -- then vectors for currency
  
bill_hist['BU']['Deferred']['EUR']

In [12]:
# First split the data into three dataframes
# Recognized billings
rec = df[df['Sales Type']=='RECOGNIZED']
svc = df[df['Sales Type']=='PRO-SVC-INV']
dfr = df[df['Sales Type']=='DEFERRED']

In [11]:
df.columns

Index(['Document Currency', 'Enterprise Bu', 'Frequency',
       'Invoicing Fiscal Year-Period Desc', 'Product Configtype ID',
       'Revenue Recognition Category New', 'Rule For Bill Date', 'Sales Type',
       'Subscription Term', 'Completed Sales Doc Currency'],
      dtype='object')

### Recognized Revenue

In [14]:
# testing a nested dictionary

In [17]:
this_EUR = np.arange(0,30,1)
this_GBP = np.arange(31,61,1)

array([31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47,
       48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60])

In [18]:
this_rev_dict = {'EUR':this_EUR, 'GBP':this_GBP}

In [19]:
this_rev_dict

{'EUR': array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]),
 'GBP': array([31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47,
        48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60])}

In [20]:
this_BU_dict = {'recognized':this_rev_dict}

In [21]:
this_BU_dict

{'recognized': {'EUR': array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
         17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]),
  'GBP': array([31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47,
         48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60])}}

In [25]:
this_BU_dict['recognized']['GBP']

array([31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47,
       48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60])

# NOW WORKING ON THE REVENUE

In [27]:
rec.sample(10)

,Document Currency,Enterprise Bu,Frequency,Invoicing Fiscal Year-Period Desc,Product Configtype ID,Revenue Recognition Category New,Rule For Bill Date,Sales Type,Subscription Term,Completed Sales Doc Currency
31122,USD,Print & Publishing,NaN,2018-02,NaN,NaN,NaN,RECOGNIZED,0,2609817.89
13678,GBP,Creative,NaN,2017-06,NaN,NaN,NaN,RECOGNIZED,0,326766.87
30439,USD,Other Solutions,NaN,2018-09,NaN,NaN,NaN,RECOGNIZED,0,-14669.87
19965,JPY,Experience Cloud,ACTL,2019-01,ONORE,NaN,NaN,RECOGNIZED,0,14733753.00
23049,SEK,Document Cloud,NaN,2019-02,NaN,NaN,NaN,RECOGNIZED,0,27466.00
8449,EUR,Creative,NaN,2017-01,2V,NaN,NaN,RECOGNIZED,0,14595.00
16358,GBP,Experience Cloud,ACTL,2019-02,ONORE,NaN,NaN,RECOGNIZED,0,33652.01
16998,GBP,Print & Publishing,NaN,2018-05,NaN,NaN,NaN,RECOGNIZED,0,68129.02
12670,EUR,Print & Publishing,NaN,2016-04,IDRT,NaN,NaN,RECOGNIZED,0,3200.00
26594,USD,Document Cloud,NaN,2018-11,NaN,NaN,NaN,RECOGNIZED,0,12514522.46

In [30]:
# testing groupby object
gb_rec = rec.groupby(['Document Currency', 'Enterprise Bu', 'Invoicing Fiscal Year-Period Desc'], as_index=False).sum()

In [32]:
gb_rec

,Document Currency,Enterprise Bu,Invoicing Fiscal Year-Period Desc,Subscription Term,Completed Sales Doc Currency
0,AUD,Creative,2015-06,0,490156.86
1,AUD,Creative,2015-07,0,235045.62
2,AUD,Creative,2015-08,0,284334.70
3,AUD,Creative,2015-09,0,369648.88
4,AUD,Creative,2015-10,0,287292.48
5,AUD,Creative,2015-11,0,361723.22
6,AUD,Creative,2015-12,0,276178.28
7,AUD,Creative,2016-01,0,270306.21
8,AUD,Creative,2016-02,0,116996.45
9,AUD,Creative,2016-03,0,235382.84
10,AUD,Creative,2016-04,0,249819.19
11,AUD,Creative,2016-05,0,213088.53
12,AUD,Creative,2016-06,0,246758.37
13,AUD,Creative,2016-07,0,202289.36
14,AUD,Creative,2016-08,0,151958.31
15,AUD,Creative,2016-09,0,343043.28
16,AUD,Creative,2016-10,0,234844.56
17,AUD,Creative,2016-11,0,285379.58
18,AUD,Creative,2016-12,0,284149.11
19,AUD,Creative,2017-01,0,152712.79
20,AUD,Creative,2017-02,0,279610.83
21,AUD,Creative,2017-03,0,255250.91
22,AUD,Creative,2017-04,0,207815.06
23,AUD,Creative,2017-05,0,119076.60
24,AUD,Creative,2017-06,0,372395.91
25,AUD,Creative,2017-07,0,219784.74
26,AUD,Creative,2017-08,0,136292.71
27,AUD,Creative,2017-09,0,391741.71
28,AUD,Creative,2017-10,0,233924.24
29,AUD,Creative,2017-11,0,243945.01
...,...,...,...,...,...
2271,USD,Print & Publishing,2016-10,0,3086688.47
2272,USD,Print & Publishing,2016-11,0,2735258.97
2273,USD,Print & Publishing,2016-12,0,8972742.09
2274,USD,Print & Publishing,2017-01,0,1864827.50
2275,USD,Print & Publishing,2017-02,0,2837831.27
2276,USD,Print & Publishing,2017-03,0,8991970.65
2277,USD,Print & Publishing,2017-04,0,2310718.62
2278,USD,Print & Publishing,2017-05,0,2148166.88
2279,USD,Print & Publishing,2017-06,0,7399186.83
2280,USD,Print & Publishing,2017-07,0,2490961.22
2281,USD,Print & Publishing,2017-08,0,3132712.19
2282,USD,Print & Publishing,2017-09,0,16542433.43
2283,USD,Print & Publishing,2017-10,0,1628221.84
2284,USD,Print & Publishing,2017-11,0,2707930.70
2285,USD,Print & Publishing,2017-12,0,14141201.72
2286,USD,Print & Publishing,2018-01,0,1369961.41
2287,USD,Print & Publishing,2018-02,0,2663330.14
2288,USD,Print & Publishing,2018-03,0,13834373.14
2289,USD,Print & Publishing,2018-04,0,2098586.73
2290,USD,Print & Publishing,2018-05,0,1969150.34
2291,USD,Print & Publishing,2018-06,0,11511114.38
2292,USD,Print & Publishing,2018-07,0,882846.23
2293,USD,Print & Publishing,2018-08,0,1933801.71
2294,USD,Print & Publishing,2018-09,0,15691543.23
2295,USD,Print & Publishing,2018-10,0,3213718.08
2296,USD,Print & Publishing,2018-11,0,8812386.51
2297,USD,Print & Publishing,2018-12,0,5894484.54
2298,USD,Print & Publishing,2019-01,0,1837388.61
2299,USD,Print & Publishing,2019-02,0,3201493.47
2300,USD,Print & Publishing,2019-03,0,15516091.68

In [33]:
curr_list = gb_rec['Document Currency'].unique()
curr_list

array(['AUD', 'BRL', 'CAD', 'CHF', 'DKK', 'EUR', 'GBP', 'HKD', 'JPY',
       'NOK', 'NZD', 'RUB', 'SEK', 'SGD', 'USD'], dtype=object)

In [35]:
bu_list = gb_rec['Enterprise Bu'].unique()
bu_list

array(['Creative', 'Document Cloud', 'Experience Cloud', 'LiveCycle',
       'Other Solutions', 'Print & Publishing'], dtype=object)

In [45]:
a = gb_rec[(gb_rec['Document Currency']==curr)&(gb_rec['Enterprise Bu']==bu)]['Completed Sales Doc Currency']
bill_hist[bu]['rec'][curr].values

NameError: name 'bill_hist' is not defined

In [44]:
a.values

array([18579453.89,  2950549.57,  3176253.61, 13576918.15,  3699382.57,
        3812063.18, 12312241.49,  3659986.17,  3153950.82, 10286857.24,
        2808624.21,  4170901.12,  9115649.14,  4888457.11,  2838795.62,
       10723658.59,  3086688.47,  2735258.97,  8972742.09,  1864827.5 ,
        2837831.27,  8991970.65,  2310718.62,  2148166.88,  7399186.83,
        2490961.22,  3132712.19, 16542433.43,  1628221.84,  2707930.7 ,
       14141201.72,  1369961.41,  2663330.14, 13834373.14,  2098586.73,
        1969150.34, 11511114.38,   882846.23,  1933801.71, 15691543.23,
        3213718.08,  8812386.51,  5894484.54,  1837388.61,  3201493.47,
       15516091.68])

In [75]:
def build_recognized_dict(gb_rec):
    ''' 
    This function takes a dataframe of billings that is grouped by BU and Currency and returns a dictionary
    containing the currency and BU
    
    to access a particular billings history for one of the BUs in a currency type
    my_variable = rec_dict['Creative']['EUR']
    
    '''
    rec_dict = {}
    
    for bu in bu_list:
        
        curr_dict = {}
        for curr in curr_list:
            
            these_billings = gb_rec[(gb_rec['Document Currency']==curr)&(gb_rec['Enterprise Bu']==bu)]['Completed Sales Doc Currency']
            curr_dict[curr] = these_billings.values

        rec_dict[bu] = curr_dict

        return rec_dict

In [76]:
rec_dict = build_recognized_dict(gb_rec)

In [78]:
# example of how to access part of the revenue dictionary
rec_dict

{'Creative': {'AUD': array([490156.86, 235045.62, 284334.7 , 369648.88, 287292.48, 361723.22,
         276178.28, 270306.21, 116996.45, 235382.84, 249819.19, 213088.53,
         246758.37, 202289.36, 151958.31, 343043.28, 234844.56, 285379.58,
         284149.11, 152712.79, 279610.83, 255250.91, 207815.06, 119076.6 ,
         372395.91, 219784.74, 136292.71, 391741.71, 233924.24, 243945.01,
         269951.02, 123361.66, 307901.48, 257843.68, 203222.5 , 194062.07,
         207143.04, 195203.02, 203324.92, 207983.07, 176830.19, 108316.18,
         278448.03, 110846.98, 216462.6 , 164031.92]),
  'BRL': array([12905., 25407., 22226., 24020., 12711., 36690.,  2494., 13270.,
         32219.]),
  'CAD': array([310.4 , 508.4 , 406.72]),
  'CHF': array([188241.07, 114278.44,  80119.09, 114220.5 ,  87940.5 , 116953.3 ,
          85089.4 , 124785.93,  64209.52, 100903.8 ,  55254.56,  46202.  ,
          62433.  ,  35538.  ,  39605.  ,  51104.  ,  44254.  ,  55952.  ,
          87814.  ,  61753.  ,  58374.  ,  65145.  ,  42100.  ,  49596.  ,
          51266.  ,  52695.  ,  40878.  ,  61676.  ,  44584.  ,  75101.  ,
          74639.  ,  53248.  ,  56928.  ,  70366.  ,  51155.  ,  47398.  ,
          49525.  ,  40293.  ,  36903.  ,  53300.  ,  42565.  ,  65885.  ,
          77925.  ,  47773.  ,  55322.  ,  61264.  ]),
  'DKK': array([296027.7 , 156491.8 , 113307.6 , 213974.98, 188642.  , 332190.  ,
         213241.  , 250424.8 , 121096.78, 187101.  , 121340.2 , 117749.  ,
         133084.9 ,  97820.  ,  75682.  , 123189.  , 111291.  , 132950.  ,
         191379.  , 129349.  , 143221.  , 189224.  , 130683.  , 115171.  ,
         138538.  , 116510.  ,  83662.  , 159446.  , 137317.  , 249107.  ,
         166645.  , 138069.  , 142869.  , 180620.  , 140133.  , 110965.  ,
         121104.  ,  97167.5 ,  70357.  , 127348.  , 115924.  , 167066.  ,
         157380.  , 118691.  , 111958.  , 165584.  ]),
  'EUR': array([3631538.02, 2350983.28, 2097126.4 , 2774228.39, 2796779.87,
         3182718.33, 4346821.75, 3074046.9 , 1471593.38, 2489849.99,
         1657113.5 , 1375226.4 , 2776380.25, 1180046.66, 1381658.77,
         1364174.26, 2017950.94, 2605996.01, 3406502.46, 1911607.74,
          887491.39, 1694428.75, 1262215.71, 1303966.83, 1330858.55,
         1049518.43,  661841.85, 1548383.43, 1882583.14, 1620149.38,
         2317832.39,  839154.35, 1608963.73, 1581958.7 , 1038275.74,
         1114174.81,  801437.88,  986108.24,  750623.65, 1219690.23,
         1354766.64, 1162481.86, 1798693.78, 1085210.44, 1263579.14,
         1474171.01]),
  'GBP': array([403218.87, 261899.13, 232312.37, 305854.64, 321009.03, 482717.02,
         786932.56, 180836.24, 145917.07, 360382.95, 215261.7 , 145162.85,
         358940.39, 246980.39, 370237.27, 257548.54, 296406.57, 267537.48,
         694944.15, 460105.89, 268455.08, 308755.32, 379068.24, 334407.03,
         326766.87, 250309.21, 204147.01, 336091.14, 297564.02, 279728.02,
         454658.81, 116707.93, 270417.31, 284813.59, 243692.64, 232193.19,
         190684.65, 224833.07, 182059.78, 230153.55, 223895.05, 243513.96,
         312450.24, 135141.94, 214757.14, 237240.18]),
  'HKD': array([ 2908.,  4794., 13520., 17422.,  8038., 14928.,  4054., 17392.,
          9238., 10720., 10100., 11758., 10594.,  7192.]),
  'JPY': array([ 2.27232294e+08,  7.28246270e+07,  7.13725770e+07,  1.49413424e+08,
          2.10690810e+08,  1.53709635e+08,  8.93883220e+07,  3.09871060e+07,
          7.90725900e+07,  1.19236622e+08,  1.26344875e+08,  7.54476600e+07,
          1.13810691e+08,  8.09422870e+07,  1.19101274e+08,  1.05759330e+08,
          1.79972771e+08,  4.68303240e+07,  7.86854250e+07,  7.22886070e+07,
         -4.16604690e+07,  1.28661715e+08,  8.39546980e+07,  7.16641200e+07,
          5.57851000e+07,  5.88820090e+07,  7.26635680e+07,  1.51829184e+08,
          1.84016349e+08,  9.11991380e+07,  6.94837800e+07, -1.53748560e+07,
          8.67169660e+07,  1.09941570e+08,  9.68565490e+07,  5.89440960e+07,
          7.34466900e+07,  7.53226410e+07,  7.71920050e+07,  1.04918462e+08,
          1.67520607e+08,  4.58830940e+07,  1.02035614e+08,  4.77760300e+07,
          8.58163700e+06,  8.97896990e+07]),
  'NOK': array([441468. , 211979.3, 216899. , 316047. , 233471. , 334823. ,
         357476. , 358824. , 213951.6, 226061. , 166806.6, 151185. ,
         202967. , 131833. , 134214. , 197138.6, 173385. , 219269. ,
         323462. , 224811. , 232725. , 263972. , 207362. , 176730. ,
         207026. , 156556. , 144148. , 226804. , 160763. , 259890. ,
         299443. , 210857. , 214684. , 257661. , 176727. , 157391. ,
         184134. , 138382. ,  92673. , 172984. , 137283. , 202347. ,
         204928. , 150047. , 163555. , 180777. ]),
  'NZD': array([], dtype=float64),
  'RUB': array([  8307.  ,  53067.  ,  79490.  , 112663.  , 115958.  , 110934.  ,
         140944.  ,  39611.  ,  50371.  , 104314.  , 104730.  ,  63396.  ,
          77619.74]),
  'SEK': array([598003.4 , 349641.4 , 266503.8 , 422404.  , 358499.  , 594521.  ,
         412848.  , 541512.8 , 310950.6 , 414602.  , 261575.4 , 245224.8 ,
         334724.2 , 172912.5 , 178086.  , 276475.  , 234324.  , 347309.  ,
         459602.  , 363263.  , 381103.  , 447733.  , 342096.  , 315748.  ,
         345829.  , 310946.  , 178418.8 , 315014.  , 300582.  , 458207.  ,
         473620.  , 354753.  , 366344.  , 460820.75, 363767.  , 350920.  ,
         333928.6 , 242879.  , 186477.  , 302160.  , 286963.  , 392623.  ,
         410942.  , 378059.  , 373766.  , 454879.  ]),
  'SGD': array([], dtype=float64),
  'USD': array([31105538.88,  9252809.45, 11088482.85, 20803993.44, 12608522.7 ,
          5019431.84, 31682774.84,  8075288.04, 12619130.79, 13173798.24,
          4028866.42,  8938710.91, 11055078.61,  6925454.15,  8875797.92,
         11984781.08,  8690327.  , 12441260.35, 16247805.86,  6050744.12,
         10851320.12,  7576365.75,  9373814.31,  8589656.54,  7184238.3 ,
          9008187.92,  8415479.3 ,  6531505.24, 10169241.19,  8777588.92,
          9769504.99,  8078884.81,  9136733.49,  6641659.  ,  7174061.47,
          6945329.47,  5959128.36,  3633446.04,  6096610.48,  9436293.93,
          3774912.94,  5205651.45,  9667687.46,  2583158.38,  2937584.93,
         11546666.61])}}

In [38]:
bu

'Print & Publishing'

In [53]:
bill_hist

array([18579453.89,  2950549.57,  3176253.61, 13576918.15,  3699382.57,
        3812063.18, 12312241.49,  3659986.17,  3153950.82, 10286857.24,
        2808624.21,  4170901.12,  9115649.14,  4888457.11,  2838795.62,
       10723658.59,  3086688.47,  2735258.97,  8972742.09,  1864827.5 ,
        2837831.27,  8991970.65,  2310718.62,  2148166.88,  7399186.83,
        2490961.22,  3132712.19, 16542433.43,  1628221.84,  2707930.7 ,
       14141201.72,  1369961.41,  2663330.14, 13834373.14,  2098586.73,
        1969150.34, 11511114.38,   882846.23,  1933801.71, 15691543.23,
        3213718.08,  8812386.51,  5894484.54,  1837388.61,  3201493.47,
       15516091.68])

In [52]:
a.values

array([18579453.89,  2950549.57,  3176253.61, 13576918.15,  3699382.57,
        3812063.18, 12312241.49,  3659986.17,  3153950.82, 10286857.24,
        2808624.21,  4170901.12,  9115649.14,  4888457.11,  2838795.62,
       10723658.59,  3086688.47,  2735258.97,  8972742.09,  1864827.5 ,
        2837831.27,  8991970.65,  2310718.62,  2148166.88,  7399186.83,
        2490961.22,  3132712.19, 16542433.43,  1628221.84,  2707930.7 ,
       14141201.72,  1369961.41,  2663330.14, 13834373.14,  2098586.73,
        1969150.34, 11511114.38,   882846.23,  1933801.71, 15691543.23,
        3213718.08,  8812386.51,  5894484.54,  1837388.61,  3201493.47,
       15516091.68])

In [58]:
list_a = ['a', 'b', 'c']
list_b = ['XXX', 'YYY', 'ZZZ']

test_dict = {}
for a in list_a:
    for b in list_b:
        print(a, b)
        test_dict[a]=b

a XXX
a YYY
a ZZZ
b XXX
b YYY
b ZZZ
c XXX
c YYY
c ZZZ

In [59]:
test_dict

{'a': 'ZZZ', 'b': 'ZZZ', 'c': 'ZZZ'}

In [57]:
print(type(test_dict))

<class 'dict'>