## Testing Deferred Revenue in Python
Will this be easier for everyone to use than Matlab?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_excel('inputs/base_billings.xlsx', sheet_name='bill_DC')

In [3]:
df.head()

,Document Currency,Enterprise Bu,Frequency,Invoicing Fiscal Year-Period Desc,Product Configtype ID,Revenue Recognition Category New,Rule For Bill Date,Sales Type,Subscription Term,Completed Sales Doc Currency
0,ARS,Creative,NaN,2019-03,1Y,D,NaN,DEFERRED,1,-11291.52
1,ARS,Creative,NaN,2019-03,1Y,D,Y3,DEFERRED,1,373766.00
2,ARS,Creative,NaN,2019-03,1Y,D,YA,DEFERRED,12,241380.00
3,ARS,Creative,NaN,2019-03,MTHLY,D,NaN,DEFERRED,1,-1221.00
4,ARS,Creative,NaN,2019-03,MTHLY,D,Y3,DEFERRED,1,45799.00

In [4]:
df.tail()

,Document Currency,Enterprise Bu,Frequency,Invoicing Fiscal Year-Period Desc,Product Configtype ID,Revenue Recognition Category New,Rule For Bill Date,Sales Type,Subscription Term,Completed Sales Doc Currency
31441,USD,Print & Publishing,ONGO,2019-03,1Y,NaN,NaN,DEFERRED,12,0.00
31442,USD,Print & Publishing,ONGO,2019-03,1Y,D,Y1,DEFERRED,0,2187.50
31443,USD,Print & Publishing,ONGO,2019-03,1Y,D,YA,DEFERRED,0,10000.00
31444,USD,Print & Publishing,ONGO,2019-03,1Y,D,YA,DEFERRED,12,169475.37
31445,USD,Print & Publishing,ONGO,2019-03,1Y,D,YQ,DEFERRED,12,5000.00

In [5]:
df.sample(20)

,Document Currency,Enterprise Bu,Frequency,Invoicing Fiscal Year-Period Desc,Product Configtype ID,Revenue Recognition Category New,Rule For Bill Date,Sales Type,Subscription Term,Completed Sales Doc Currency
4871,CHF,Creative,NaN,2015-11,1Y,A,NaN,DEFERRED,1,-10980.85
29175,USD,Experience Cloud,1TME,2018-02,NaN,NaN,NaN,NON-REV,0,181905.00
22957,SEK,Document Cloud,NaN,2018-05,1Y,D,Y3,DEFERRED,1,173391.00
705,AUD,Creative,NaN,2018-09,NaN,NaN,NaN,DEFERRED,0,7831.97
25160,USD,Creative,ONGO,2018-06,1Y,D,YQ,DEFERRED,0,-8500.00
29898,USD,Experience Cloud,ONGO,2018-12,MTHLY,D,YA,DEFERRED,0,1156110.72
28378,USD,Experience Cloud,ONGO,2017-02,ONORE,D,Y2,DEFERRED,0,30535.00
30177,USD,LiveCycle,NaN,2016-05,NaN,NaN,NaN,RECOGNIZED,0,113752.52
3194,AUD,Print & Publishing,NaN,2016-08,2Y,A,NaN,DEFERRED,0,2745.00
13694,GBP,Creative,NaN,2017-07,NaN,A,NaN,DEFERRED,1,-34.72
26860,USD,Experience Cloud,NaN,2015-07,1Y,D,YQ,DEFERRED,0,60209.81
15712,GBP,Experience Cloud,ONGO,2017-05,1Y,D,Y2,DEFERRED,12,4650.00
18203,JPY,Creative,NaN,2018-10,1Y,A,NaN,DEFERRED,1,11357437.00
23479,SEK,Other Solutions,NaN,2018-02,NaN,NaN,NaN,RECOGNIZED,0,-1028.75
23487,SEK,Other Solutions,NaN,2018-08,NaN,NaN,NaN,RECOGNIZED,0,-780.09
10688,EUR,Experience Cloud,ONGO,2016-08,ONORE,D,YA,DEFERRED,0,28595.01
13214,EUR,Print & Publishing,NaN,2019-02,1Y,D,YA,DEFERRED,12,299521.90
25290,USD,Creative,NaN,2018-10,1Y,NaN,NaN,DEFERRED,0,0.00
15958,GBP,Experience Cloud,1TME,2018-01,OUNIV,NaN,NaN,PRO-SVC-INV,0,11749.00
7540,DKK,Experience Cloud,ACTL,2017-04,ONORE,NaN,NaN,RECOGNIZED,0,35434.10

In [6]:
df['Document Currency'].value_counts()

USD    7791
EUR    5291
GBP    3917
AUD    3500
JPY    3202
CHF    1678
SEK    1492
DKK    1455
NOK    1307
CAD    1109
HKD     231
RUB     199
BRL     184
NZD      38
KRW      12
SGD      12
COP       7
CLP       7
ARS       6
PEN       5
INR       1
MXP       1
BMD       1
Name: Document Currency, dtype: int64

## Possibly have a filter here that removes any currency that has a value count < 10. 
So there are less than 10 transactions

In [7]:
vc = df['Document Currency'].value_counts()
vc

USD    7791
EUR    5291
GBP    3917
AUD    3500
JPY    3202
CHF    1678
SEK    1492
DKK    1455
NOK    1307
CAD    1109
HKD     231
RUB     199
BRL     184
NZD      38
KRW      12
SGD      12
COP       7
CLP       7
ARS       6
PEN       5
INR       1
MXP       1
BMD       1
Name: Document Currency, dtype: int64

In [ ]:
vc.index

In [ ]:
vc.values

In [ ]:
a.values

In [8]:
keep_these = vc.values > 10
keep_these

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False, False,
       False, False, False, False, False])

In [12]:
keep_curr = vc[keep_these]
a = keep_curr.index

In [13]:
df = df[df['Document Currency'].isin(a)]

In [14]:
whos

Variable     Type         Data/Info
-----------------------------------
a            Index        Index(['USD', 'EUR', 'GBP<...>],\n      dtype='object')
df           DataFrame          Document Currency  <...>[31418 rows x 10 columns]
keep_curr    Series       USD    7791\nEUR    5291\<...>nt Currency, dtype: int64
keep_these   ndarray      23: 23 elems, type `bool`, 23 bytes
new_df       DataFrame    Empty DataFrame\nColumns:<...> Doc Currency]\nIndex: []
np           module       <module 'numpy' from '/an<...>kages/numpy/__init__.py'>
pd           module       <module 'pandas' from '/a<...>ages/pandas/__init__.py'>
plt          module       <module 'matplotlib.pyplo<...>es/matplotlib/pyplot.py'>
vc           Series       USD    7791\nEUR    5291\<...>nt Currency, dtype: int64

In [ ]:
new_df['Completed Sales Doc Currency'].value_counts()

In [17]:
df = df[df['Completed Sales Doc Currency']!=0]

In [19]:
df.head()

,Document Currency,Enterprise Bu,Frequency,Invoicing Fiscal Year-Period Desc,Product Configtype ID,Revenue Recognition Category New,Rule For Bill Date,Sales Type,Subscription Term,Completed Sales Doc Currency
6,AUD,Creative,NaN,2015-06,NaN,NaN,NaN,RECOGNIZED,0,474551.11
7,AUD,Creative,NaN,2015-06,NaN,A,NaN,DEFERRED,0,447996.81
8,AUD,Creative,NaN,2015-06,NaN,A,NaN,DEFERRED,1,4343.94
9,AUD,Creative,NaN,2015-06,NaN,A,NaN,DEFERRED,12,524.93
10,AUD,Creative,NaN,2015-06,NaN,D,Y3,DEFERRED,1,1622.68

In [ ]:
test.sample(20)

In [ ]:
for (method, group) in planets.groupby('method'):
    print("{0:30s} shape={1}".format(method, group.shape))